[2017-11-30 04:53] josemduarte commented on #659
The intention is to release 5.0.0 early next year. Most changes are in the structure module, adapting code that uses the structure module can require some work. For other modules the changes are much less dramatic.

[2017-12-07 08:58] Takkoona opened #714 "Error resolving version for plugin 'javaws:javaws' (a structure-gui dependency)"
Hi,

Need help!

I'm very new to biojava and having difficulty in importing structure-gui module (version 4.2.0). Apache Maven (3.3.9) gave me this:

[ERROR] Error resolving version for plugin 'javaws:javaws' from the repositories [local (/home/Chengyang/.m2/repository), central (https://repo.maven.apache.org/maven2)]: Plugin not found in any plugin repository -> [Help 1]
[ERROR]
[ERROR] To see th

[2017-12-07 09:13] Takkoona commented on #714
Saw a similar question https://github.com/biojava/biojava/issues/459

[2017-12-07 09:13] #714 closed

[2017-12-07 16:21] josemduarte commented on #714
For the record, the answer is to just use the latest bugfix version (4.2.9).

[2017-12-07 23:07] josemduarte opened #715 "Calc.transform(Chain) does not transform alt groups"
Looks like an issue in master branch and in 4.2.x branch.

[2017-12-12 00:05] josemduarte commented on #659
@arojnuckarin I've just cherry-picked your fix into the bugfixes-4.2 branch. I'm going to release a new bugfix version in the next days.

[2017-12-12 00:07] #715 closed

[2017-12-19 22:23] cjfields opened #717 "OBF mail list issues"
(To the Biojava developers : this is per the OBF Board Meeting, feel free to edit/add to the ticket or text as needed)

As @peterjc has noted on the [main OBF blog](https://news.open-bio.org/2017/12/15/mailing-list-consolidation/), the OBF hosted mail lists (including the various Biojava lists) have had serious issues over the last several months due to heavy spam traffic on the OBF mailman server

[2017-12-20 00:18] josemduarte commented on #717
Thanks @cjfields ! As discussed with @peterjc already, in my opinion we are ok to keep only the biojava-l maling list, dropping biojava-dev. Github issues/pull requests are a really good solution for developers to communicate.

[2018-01-10 00:35] biocryst opened #719 "calcLocalSymmetries works on a cluster level, not subunit level"
In the current implementation a local symmetry can only be detected, if

1) the assembly contains multiple clusters;
2) all subunits in a cluster (or clusters) are related by a symmetry axis.

(see https://github.com/biojava/biojava/blob/32255b15d7af3f8eb550e05d3ef161e0ab3dfff8/biojava-structure/src/main/java/org/biojava/nbio/structure/symmetry/core/QuatSymmetryDetector.java#L185 and below)

These

[2018-01-10 00:54] biocryst opened #720 "SubunitClustererParameters question"
As far as I can understand, at some point the subunit clustering was based on a TM-Score threshold, then it was changed to a pair of RMSD/structure coverage thresholds. See here
https://github.com/biojava/biojava/commit/8414244002fa8ffb7f961ed724c91e2f02b2acd4#diff-0c44f560d38ebbf42e961750ae39f15a

What was the reason for the change? It appears that the TM-Score (normalized by the larger structure

[2018-01-10 17:09] lafita commented on #720
I do not see a problem in using TM-score as a threshold for the structural clustering, I think I used RMSD and coverage separately to ensure that they both were reasonable, and not high TM-score with low coverage and low RMSD or high coverage but low RMSD.

You should be able to add a parameter for a TM-score threshold!

[2018-01-10 17:16] lafita commented on #719
The power-set of subunits, instead of subunit clusters, was used before, but it meant that the algorithm scaled exponentially on the number of subunits instead of on the number of subunit clusters.

This comes from the assumption that homomeric subunits cannot be asymmetric, because it would require unequal engaged interfaces in each monomer. However, there are such cases in the PDB, as you mentio

[2018-01-13 08:12] sbliven commented on #717
I agree with @josemduarte on this. I'd be tempted to drop biojava-l as well since it doesn't get too much traffic, but I do want to have some way for people to get in touch that doesn't require a github account.

Let's officially deprecate biojava-dev and remove it from the website.

[2018-01-13 21:32] peterjc commented on #717
If you need a hand making sure all the biojava-dev subscribers are on biojava-l, or updating the mailman description let me know. I did this for Biopython this week http://mailman.open-bio.org/pipermail/biopython/2018-January/016339.html

[2018-01-15 08:28] sbliven commented on #717
@peterjc Your help would be very appreciated. If you could do the same for biojava-dev that would be great!

[2018-01-18 11:41] peterjc commented on #717
OK, to move the ``biojava-dev`` subscribers over to ``biojava-l``, I'll be using ``mailman-subscribers.py`` (dated 2015-12-04) as per https://wiki.list.org/DOC/How%20do%20I%20extract%20%28export%29%20a%20list%20of%20my%20list%27s%20members%20%28subscribers%29%3F

This downloads the email addresses only, which makes it trivial to do the overlap computation:

[code]

Adding ``-f`` downloads the subs

[2018-01-18 11:44] peterjc commented on #717
http://mailman.open-bio.org/pipermail/biojava-l/2018-January/011539.html
http://mailman.open-bio.org/pipermail/biojava-dev/2018-January/008104.html

(I manually moderated this email to allow it to reach the ``biojava-dev`` mailing list)

[2018-01-22 08:25] sbliven commented on #717
@peterjc Thanks so much for your help!

I don't have a strong opinion as whether to unsubscribe now or just let that happen when the list gets deleted.

[2018-01-22 08:25] #717 closed

[2018-01-23 17:17] lafita opened #725 "Reset the QCP superposition method step-wise calculation"
@pwrose reported this:

I was just trying to use the QCP superposition method in BioJava.  There is only one problem with the new design in that doesn't take advantage of QCP and will be slower in situations like the one below:

For example, I have the following code:

		SuperPositionQCP qcp = new SuperPositionQCP(false);
		double rmsd = qcp.getRmsd(x, y);
		double tm = 0.0;
		if (rmsd < maxRmsd)

[2018-02-10 00:08] josemduarte commented on #581
I'd say the release notes in github are a good way of keeping a changelog. We've had a few releases already with release notes in github. I'll close unless you guys @andreasprlic @lafita  have something against.

[2018-02-10 00:11] josemduarte commented on #430
This was fixed, right @andreasprlic ?

[2018-02-10 00:13] josemduarte opened #727 "Preparing the 5.0.0 release"
Work in the master branch towards a 5.0.0 version has been going on for quite some time now. In fact we have a bunch of alpha releases in maven central already, the first one almost 2 years ago!

I'd like to move ahead and release 5.0.0, setting a date in about a month from now: **15th March 2018**.

Please comment on this issue in case you like or dislike the idea. At this time it would be import

[2018-02-10 00:13] andreasprlic commented on #430
based on the history of this ticket, yes!

[2018-02-10 00:14] #430 closed

[2018-02-10 00:17] heuermh commented on #727
I'd like to see the binary API incompatibilities compared to 4.x documented clearly.

The [clirr-maven-plugin](http://www.mojohaus.org/clirr-maven-plugin/) is one way to do it, there may be others.

[2018-02-10 00:22] josemduarte commented on #727
Absolutely. We've got to work on a comprehensive release note document that documents all incompatibilities. Thanks for the clirr plugin tip, didn't know that!

[2018-02-12 10:29] lafita commented on #581
I agree although the release notes will not be in the code itself (depend on GitHub and are not available offline). We could leave it open and mark it as low priority, or close it, as you prefer.

[2018-02-12 11:13] paolopavan commented on #581
There are some projects out there which compile a changelog text from
git/github projects, which can be included in the source code. Could it be
a good choice, maybe?
The one below follows the ideas explained at http://keepachangelog.com and
it is interesteing. But anyway this is not my advice, is just an idea to
think about.
https://github.com/skywinder/github-changelog-generator

Il giorno lun 1

[2018-02-13 01:08] josemduarte commented on #581
Thanks @paolopavan, that changelog generator looks like the way to go. I'll have a look into how to use it.

[2018-02-13 23:08] josemduarte commented on #727
FYI: I've started compiling release notes here: https://github.com/biojava/biojava/releases/tag/untagged-b36aa68041a8a0e18746

[2018-02-14 02:39] biocryst commented on #719
Closed due to #726

[2018-02-14 02:39] #719 closed

[2018-02-14 02:39] biocryst commented on #720
Closed due to #724

[2018-02-14 02:39] #720 closed

[2018-02-14 14:38] lafita commented on #727
@josemduarte the link does not work for me.

[2018-02-14 16:01] josemduarte commented on #727
Sorry about that, I thought that would be a shareable link... it seems that's only in my account. I'll try something different that we can all edit.

[2018-02-14 23:06] josemduarte commented on #727
Alright I've copied my notes over to https://github.com/biojava/biojava/blob/master/CHANGELOG.md . We had the CHANGELOG file already, I've just updated it with a few missing bugfix releases and added some  more content to the 5.0.0 release.

[2018-02-14 23:09] josemduarte commented on #581
We do have a https://github.com/biojava/biojava/blob/master/CHANGELOG.md file already, thanks @andreasprlic . I've just updated it and added some notes for the upcoming 5 release. At some point we should consider making it more automated using the changelog generator project.

[2018-02-14 23:09] #581 closed

[2018-02-20 14:24] sbliven commented on #592
This is pretty ancient history (predating the current module structure), so I'm having trouble remembering. I think the `structure.align.helper` package was created by Andreas and intended to port low-level procedures from CE/FATCAT from C to Java. The `structure.align.util` package was supposed to be more user-friendly, with code for post-processing AFPChains. I wrote most of the `AlignmentTools`

[2018-02-27 16:38] PatrickDeelen opened #731 "OBO Parser: replaced_by"
I'm trying to parse the HPO OBO file. Unfortunately the `replaced_by` triple is not parsed. It would be great if you can add this in a future version.

[2018-02-27 17:32] josemduarte commented on #731
Good suggestion. I've added it to 5.1.0 milestone. Note that 5.0.0 is going to be released soon, see #727

[2018-02-27 17:36] PatrickDeelen commented on #731
Great, thank you!

[2018-03-01 18:20] josemduarte commented on #725
Any chance this can be done before the 5.0.0 release? Otherwise I'll move it to 5.1

[2018-03-01 18:30] josemduarte commented on #700
I've added a minimal support file now, please feel free to add to it.

[2018-03-01 18:30] #700 closed

[2018-03-01 19:09] josemduarte commented on #699
Added an initial CONTRIBUTING file. Again please feel free to add to it!

[2018-03-01 19:09] #699 closed

[2018-03-02 13:55] lafita commented on #725
Yes it should be 5.0.0. I am working on it in a separate branch and will submit a pull request soon.

[2018-03-02 13:56] lafita commented on #610
Was this entirely fixed by #612? Should we close?

[2018-03-02 16:02] josemduarte commented on #610
Indeed, it looks like it was solved already. I'll close it, @andreasprlic if you think it wasn't solved please reopen.

[2018-03-02 16:02] #610 closed

[2018-03-06 19:05] josemduarte commented on #727
A reminder to everyone. Next Monday will be code freeze for the 5.0.0 release. Please submit anything you'd like to see in 5 before that, especially important any API breaking changes. Thanks!

[2018-03-07 00:41] josemduarte commented on #536
Working on a pull request for this.

[2018-03-07 01:04] josemduarte commented on #592
Alright so it seems that it'd be better to keep them separate, possibly renaming and adding docs. I'd go for renaming `org.biojava.nbio.structure.align.helper.AlignTools` -> `org.biojava.nbio.structure.align.helper.AlignUtils`. I'll submit a PR...

[2018-03-07 01:43] josemduarte commented on #303
@lafita  you mentioned that you were working in this refactoring at some point, do you still have that code around in a branch somewhere? It'd be good to include some clean up related to this in the 5 release.

[2018-03-07 01:45] josemduarte commented on #438
I'll close this one for now. We'll have to keep improving the javadocs going forward.

[2018-03-07 01:45] #438 closed

[2018-03-07 01:47] josemduarte commented on #659
Reading the above, it looks that this is fixed. Closing. If you know otherwise please reopen.

[2018-03-07 01:47] #659 closed

[2018-03-07 01:59] josemduarte commented on #474
PR #739 should fix this. @lafita please could you review and close the issue?

[2018-03-07 20:07] josemduarte commented on #456
Agree @sbliven , I think we should work on making this more general, comparing 2 sets of contacts via an alignment or even in some topologically independent way.

This is something for after the 5.0 release. I'll move it to the next milestone.

[2018-03-07 22:02] #474 closed

[2018-03-07 22:44] josemduarte commented on #594
The issue originally reported above seems to have been fixed. Let's continue the discussion of CLI tools in #559

[2018-03-07 22:45] josemduarte commented on #559
It would be important to extract the CLI tools out of the biojava code base, following the ideas discussed above. I'll mark this one as 5.1.0 milestone.

[2018-03-07 23:13] josemduarte commented on #673
#676 already took care of some of this. Is there something more to be done @lafita , @heuermh ?

I'd propose that we push this over to the 5.1 milestone. Even if we need to add some more serializable interfaces it would be an addition/minor API change.

[2018-03-07 23:19] josemduarte opened #741 "Potential bug in MultipleMcOptimizer"
See this line:

https://github.com/biojava/biojava/blob/646fce016d321ef7c398043b27da6b57b2c4b4bb/biojava-structure/src/main/java/org/biojava/nbio/structure/align/multiple/mc/MultipleMcOptimizer.java#L496

The eclipse compiler gives a warning there that seems well founded. `freePool` is a `List<SortedSet<Integer>>` whilst the value that is searched (`residue`) is an `Integer`. @lafita could you hav

[2018-03-08 17:17] #592 closed

[2018-03-09 11:36] lafita commented on #673
We serialized all classes we needed for Spark, but we encountered a bug #676
I would say we can close this issue and open new ones if we need more classes to be serialized.

[2018-03-09 15:36] lafita commented on #741
The selection of the structure is missing. This means that the `shiftRow` operation is never successful. I submitted a PR with the fix.

[2018-03-09 16:02] lafita commented on #594
This was actually not fixed. I fixed the `GUIWrapper` bug, so that the tool works again and submitted a PR.

@sbliven although it allows more flexibility and to reduce the binary size, it complicated a lot the code and makes debugging incredibly tedious. I think we should go for simplicity and make this more modular, i.e. separate the source code from the tools. Let's continue the discussion on #5

[2018-03-09 16:19] #673 closed

[2018-03-09 16:36] lafita commented on #303
We already improved a lot the documentation of the `Calc` methods so that confusion is reduced and we introduced the `CalcPoint` class that uses only vecmath objects (no Atoms or JAMA matrices). See #548 and #583.
Also, the new Superposition interface makes all methods equivalent no matter what internal data structures they use. See #579.
I think this already solves many of the issues that we were

[2018-03-09 17:31] josemduarte commented on #303
Great, thanks for the explanation @lafita . I'll close this one then. If needed we can revisit at a later stage.

[2018-03-09 17:31] #303 closed

[2018-03-09 18:10] #741 closed

[2018-03-10 17:29] #594 closed

[2018-03-10 17:37] #725 closed

[2018-03-10 18:00] josemduarte commented on #606
For the last week or two travis is having problems downloading external resources, so this issue has become higher priority. We'll need to work towards reducing downloads as much as possible.

It seems that downloading large files is what travis can't/won't do anymore. Some tests to look at:

- [ ] SiftsChainToUniprotMappingTest: consistently fails with a connection timeout... The file to download

[2018-03-10 18:41] phidias51 commented on #606
Jose,
Github has this feature called LFS (git large file storage
https://git-lfs.github.com/), that might be an a way to solve the problem
(assuming that the problem is intermittent access to files needed for unit
tests). You could download the files that you want to test with and store
them there, and be assured that you could always access the files when you
need to run unit tests.

Cheers,

Mar

[2018-03-10 20:05] phidias51 commented on #559
@rmoszczynski The brew idea sounds interesting. There's an alternative though that's usable as an install tool from any OS that has bash, or Windows Powershell. It's called [sdkman](http://sdkman.io/) It's currently used to installed OpenJava, Groovy, Grails, and a wide variety of other programs. It has a neat feature that allows you to install multiple versions of a program, and switch between ve

[2018-03-11 02:26] #705 closed

[2018-03-11 02:29] #704 closed

[2018-03-11 19:12] #627 closed

[2018-03-11 20:26] lafita commented on #690
Should we close this one then? Is better support for homologue identification something we plan to include in BioJava?

I feel that this can be done in a few steps with the current methods in the library, so I would suggest creating a small demo or cookbook entry explaining how to do it.

[2018-03-11 20:27] lafita commented on #679
Ok, let's create the test and see what is missing then.

[2018-03-11 20:30] #621 closed

[2018-03-11 20:34] #536 closed

[2018-03-11 21:08] lafita commented on #662
It seems that this field is quite general in use.
I propose to create a new method `getKeywords()` to store the data on `_struct_keywords.pdbx_keywords` and leave the `getDescription()` method to maintain the other use cases (additional information). I will also document the two.

[2018-03-12 00:09] lafita commented on #662
After looking a bit more into these methods, it seems that the main problem is their documentation, as they seem to be differently used when parsing from PDB or mmCIF formats. I think this could be something we can check when we test for consistency in #679, so I it will not require API changes and we can leave it for later.

[2018-03-15 10:03] sbliven commented on #690
This sounds like a downstream project to me. It requires a fast one-to-many sequence search, which BioJava doesn't have at the moment. If someone is interested in implementing that in Java we could revisit, but for now I think searching and clustering is best done with an external tool an then read into BioJava.

Let's close for now.

[2018-03-15 10:03] #690 closed

[2018-03-15 14:57] sbliven opened #754 "AtomCache doesn't fetch obsolete entries with mmtf"
AtomCache doesn't fetch obsolete entries if configured to use MMTF.

I  believe that RCSB is not providing obsolete MMTF files. In this case we should fall back to mmcif. We should also throw exceptions for methods like `MMTFReader.setObsolete(FETCH_OBSOLETE)`.

[2018-03-15 22:43] josemduarte commented on #727
FYI the clirr maven plugin seems to be very outdated. It seems that a good replacement is [revapi](https://revapi.org/). It's still in beta but actively developed.

[2018-03-16 01:13] josemduarte commented on #727
Some problems with maven and plugins... I'll defer the release to tomorrow.

[2018-03-16 22:54] josemduarte commented on #727
I am going to give up on the maven release plugin. It's breaking at `release:perform` and I can't figure out why. The thing is it provides very little value, so I'd rather do without it. Plenty of people seem to agree on that: [1](https://dzone.com/articles/why-i-never-use-maven-release), [2](https://axelfontaine.com/blog/final-nail.html)

Without the plugin a release will be pretty straight forwa

[2018-03-16 23:09] heuermh commented on #727
There are few pieces of software that have caused me to swear and throw things more than the Maven release plugin, but I would suggest we stick with it.  Ping me on gitter or somewhere and I'll try to help.

[2018-03-16 23:21] josemduarte commented on #727
So why sticking with it? In the end of the day it doesn't save any work while having a few disadvantages:

- There's no way to avoid tests, so every time you do release:prepare and release:perform you have to wait for tests to run ~ 3 times
- It commits, tags and pushes automatically, if something goes wrong a lot of noise ends up in the commit history, plus you have to manually undo the tag (rele

[2018-03-16 23:34] heuermh commented on #727
When testing out new build changes, we (myself and collaborators on all the other projects I cut releases for) try one or more release candidate builds (e.g. 5.0.0-rc1) and then drop the staging repository so those artifacts aren't pushed to Maven Central.  We don't see anything wrong with having release candidate tags in the git history.

I believe so, I can give it a try over the weekend.  Could

[2018-03-17 00:05] josemduarte commented on #727
[Here](https://drive.google.com/file/d/18UNq-sYPEr5M2fXf88i8r7fiRpkbxZKR/view?usp=sharing) is the log from running `mvn -X release:perform`

[2018-03-21 16:02] sbliven opened #758 "ECOD reliability"
ECOD is currently the most up-to-date classification scheme. Early versions had some issues with illegal residue ranges. Have those been fixed?

We have a slow test, `EcodParseTest` that loads all the domains and does some basic sanity checks. I thought I would summarize the results on develop204 as an indicator of it's suitability for large-scale application.

The script does the following:

1. P

[2018-03-21 22:18] josemduarte commented on #727
@heuermh any luck at debugging release problems?

[2018-03-22 11:16] lafita commented on #758
Errors 2 and 3 seem to be minor and I guess what we can do is to provide better logging when they occur.

Error 1 seems to be the most important with 23K cases and I think we should handle it in BioJava, since it is not really an error in ECOD definitions but their protocol in annotating structures. Could we look at the termini residues and find the closest one included in the structure to use it

[2018-03-22 18:58] sbliven commented on #758
There are different goals with the errors detected here.

1. Errors with the biojava parser. I've already fixed one that was contributing to some of the test failures.
2. Errors that ecod should fix. These we can report upstream, but should continue failing the tests.
3. Areas where ecod has a different data model than biojava. These should not count as test failures, although we may still want to

[2018-03-22 19:10] altaite commented on #758
Is it? CATH seems to have daily snapshots (but their server seems slow). In case anybody is interested in CATH, I have a parser (mostly object model of their domains, each level is separate, I do not build the whole tree).

[2018-03-22 20:01] sbliven commented on #758
@altaite I knew I should have avoided comparing classifications! Let's just say that CATH and ECOD  (and SCOPe!) are all excellent classifications and the field is stronger for having some diversity.

Note that BioJava has supported CATH releases for years, although it looks like we might have to do some minor refactoring to get it to pull from the daily snapshots.

[2018-03-22 20:13] sbliven opened #759 "Refactor CathInstallation to support daily snapshots"
CATH releases [daily snapshots](http://cathdb.info/wiki/doku/?id=index#cath_daily_snapshot). It would be very nice to be able to access these in BioJava. Currently it's not easy to work with these in `CathInstallation`. We should add an option to set the correct paths automatically.

It would also be nice to be able to load CATH domains from a cath-b-newest-all.gz file, as opposed to requiring tha

[2018-03-22 20:15] sbliven commented on #759
Thanks to @altaite for bringing up CATH daily snapshots in #758.

[2018-03-22 20:26] sbliven commented on #727
If it's too frustrating we can try to drop it, but I do think mvn has merits. Automating the release avoids bugs like forgetting to increment a version in one of the submodules. It also handles some not-so-intuitive step with the Sonotype staging to get it to maven central. When I make Jmol releases I have to do it manually (it builds with Ant), and it is definitely more work than a correctly conf

[2018-03-22 20:28] heuermh commented on #727
@josemduarte @sbliven I'm still looking at it, will let you know by tomorrow AM.

[2018-03-22 21:31] josemduarte commented on #727
Thank you! @sbliven @heuermh

[2018-03-22 22:38] heuermh commented on #727
I was able to cut a 1.9.3-rc1 (which I then dropped from the staging repository and deleted from the release tags) and then a [1.9.3 release for biojava-legacy](https://github.com/biojava/biojava-legacy/releases/tag/biojava-legacy-1.9.3), so my setup and code signing keys still work fine.

The problem I see in the build log above is that the `biojava-integrationtest` module has no java source and

[2018-03-22 23:09] josemduarte commented on #727
Thanks @heuermh ! that clue explains what's happening then: a few weeks ago I did some clean up to avoid building a jar for `biojava-integrationtest` which has no actual code but only test code, so there's no point in distributing it. Now the gpg plugin tries to sign it but it doesn't exist anymore. My fault, really sorry about that.

Is there a way to tell the release plugin (or the gpg plugin) t

[2018-03-22 23:16] josemduarte commented on #727
Ok found it, adding this to gpg plugin config should do the trick:
[code]
I'll give it a try

[2018-03-22 23:25] josemduarte commented on #727
Alright that exclude didn't quite work. I'll continue trying.

[2018-03-23 01:16] heuermh commented on #727
I believe that module may need to be excluded from the entire release process.  The Sonatype Nexus validation process will choke if there are missing -sources.jar or -javadoc.jar artifacts.

[2018-03-23 11:19] el1jaC commented on #535
Hello @andreasprlic

I've tried test file with our internal analysis software, and it works well :)

It can be a good starting point to trivially copy the classes, isn't it?

[2018-03-23 17:13] heuermh commented on #727
@josemduarte This may work,

[code]

[2018-03-23 22:50] josemduarte commented on #727
@heuermh thank you so much for the tip. That worked out, this is the commit 87e7fc7bfc37525dd5a8930b5efd4459e5b73e98

I'll attempt to perform the release now.

[2018-03-24 00:19] josemduarte commented on #727
Success! jars are uploaded to sonatype. Thanks all for the help!

[2018-03-26 07:10] el1jaC commented on #574
Hello @andreasprlic

I've tried test file with our internal analysis software, and it works well :)

It can be a good starting point to trivially copy the classes, isn't it? And then we can think to refactor some code to integrate it in new biojava repo.

[2018-03-28 12:28] Sheraf-DNG opened #760 "CONECT/LINK line-length bug fix #2 for PDB Parser"
Hi All,

I'm working with custom PDB Files and I'm getting StringIndexOutOufBondsException from the PDBParser.
I've seen you rencently added this line in the PDBParser  (conect_helper (String line,int start,int end) method) :

if  line.length() < end) return null;

It'b be nice if to check the line.length() do not exeed the start arg, should be fixed by changing it to this (tested):

if (line.leng

[2018-03-29 17:05] josemduarte commented on #760
Good catch, could you provide a pull request so that we can review it and merge if everything looks fine? It's difficult to follow exactly what your changes are without the code context.

See here for instructions on how to do a pull request: https://help.github.com/articles/creating-a-pull-request/

[2018-04-02 05:37] pwrose opened #761 "BondMaker: null pointer exception if insertion code fields missing"
mmcif files generated by PDB-REDO don't use insertion codes. This leads to a null pointer exception in BondMaker for conn.getPdbx_ptnr1_PDB_ins_code() and conn.getPdbx_ptnr2_PDB_ins_code().

[2018-04-03 20:39] #761 closed

[2018-04-06 23:26] josemduarte commented on #727
I've just uploaded the javadocs to biojava.org. Will close this issue.

[2018-04-06 23:26] #727 closed

[2018-04-22 15:38] josemduarte opened #764 "Extend dssp implementation to also support the promotif standard"
Now that the dssp algorithm for secondary structure assignment is implemented in biojava, it would be nice to also have the [promotif](http://www.img.bio.uni-goettingen.de/ms-www/internal/manuals/promotif/promotif.html) one that extends it slightly. Ideally we should be able to support both traditional dssp and promotif.

[2018-04-22 15:49] josemduarte commented on #120
Duplicate of #574 . Closing

[2018-04-22 15:49] #120 closed

[2018-04-22 16:00] #254 closed

[2018-04-22 18:05] MaxGreil commented on #764
I can have a look at it.

[2018-04-23 06:37] MaxGreil commented on #574
I can have a look at it.

[2018-05-01 20:32] heuermh opened #765 "Consider relicensing as Apache v2"
I've been a supporter of the GPL and LGPL for a very long time, and in fact use them for several of my own projects, but I've been running into an unwillingness to depend on biojava in Apache v2 licensed projects.

Which licenses may NOT be included within Apache products?
https://www.apache.org/legal/resolved#category-x

What do folks think about relicensing as Apache v2?

[2018-05-02 19:35] darnells commented on #765
I do not think the "BioJava project" exists as an entity, thus no one person or small group of people own the copyright of the source code. Please correct me if I am wrong.

From the Javadoc of the source files:
"Copyright for this code is held jointly by the individual authors.  These should be listed in @author doc comments."

[IANAL] Since copyright is jointly held, I expect you will need **eve

[2018-05-02 19:41] heuermh commented on #765
That is my understanding as well.  I do not propose this change lightly.

[2018-05-02 19:47] darnells opened #766 "Incorrect extinction coefficient for oxidized Cys"
From Pace et al, 1995:

Note that only **cystine**, the historical term for a disulfide bond, contributes to absorption. The method org.biojava.nbio.aaproperties.PeptidePropertiesImpl#getExtinctionCoefficient uses the cystEine (Cys) count. It is an easy mistake to make; the code comments even reference "Ext(Cystine) = 125".

Assuming complete S-S cross linking occurs, the correct number of disulfi

[2018-05-02 21:05] brianrepko commented on #765
There has always been unanswered issues with the GPL / LGPL on what is considered to be "linking" with respect to Java code and that is the main argument against those licenses. An Apache 2.0 License is preferred (my personal opinion) and yes - I believe it's a bit damn deal to do that as @darnells points out and @heuermh acknowledges. You might need "Contributor Agreements" from copyright holders

[2018-05-02 21:26] sbliven commented on #765
Shouldn't it be OK to link against BioJava (e.g. adding it to the classpath as opposed to generating a shaded jar)? I was surprised to see LGPL in the category-x list:

However, I think in this section "INCLUDED WITHIN APACHE PRODUCTS" means direct source inclusion or static linking. My reading of [LGPL](https://www.gnu.org/licenses/lgpl-3.0.en.html) section 3 is that dynamic linking is just fine

[2018-05-02 21:41] josemduarte commented on #766
Doesn't this method take care of that?

https://github.com/biojava/biojava/blob/359dce819e7678879ae41301b11fa268f92e81d1/biojava-aa-prop/src/main/java/org/biojava/nbio/aaproperties/PeptidePropertiesImpl.java#L194

It does seem to count N_cys/2.

Would you be able to add a test case to demonstrate the issue?

There's actually a test here (it uses the expasy server as the standard of truth): https:/

[2018-05-03 00:27] josemduarte opened #767 "EntityInfo has no type for raw PDB files with 1 chain"
e.g. for file `biojava-structure/src/test/resources/org/biojava/nbio/structure/io/2m7y_raw.pdb.gz` the structure parsed by PDBFileParser gives null for `struct.getEntityById(1).getType()`

[2018-05-15 21:57] pwrose opened #770 "assembly subunit ordering in MMTF files"
Issue copied from: https://github.com/rcsb/mmtf/issues/30

The ordering of assembly subunits seems to be different in MMTF and mmCIF files. This was reported on the pymol-users mailing list (https://sourceforge.net/p/pymol/mailman/message/36005513/).

I'm not aware that assembly ordering would be part of any spec, so technically there is nothing wrong here. But for consistency, it would be nice to

[2018-05-15 21:58] pwrose commented on #770
This issue arises from using HashMap instead of LinkedHashMap in MmtfUtils.java.

[2018-05-16 18:29] pwrose opened #771 "Unit test: TestBond.testHydrogenToProteinBondMissing fails due to data error"
Currently, the BioJava  unit test: TestBond.testHydrogenToProteinBondMissing fails, because on 2018-03-29 the hydrogen names for EDO were modified, however, the PDB structures were not updated (see snippets below). Note, the same issue may affect other ligands where atom names were updated.

edo.cif
_chem_comp.pdbx_modified_date                    2018-03-29
...
EDO H1 H1 H 0 1 N N N 40.269 18.578

[2018-05-16 18:36] pwrose commented on #771
I'll comment out this test until the data issue has been resolved. I've filed a ticket with RCSB PDB.

[2018-05-16 18:45] josemduarte commented on #771
Thanks @pwrose . Incidentally I discovered the same issue yesterday and also filed a ticked with RCSB. It might be fixed with next week's update. I'll update this ticket when I learn something.

[2018-05-22 22:29] #771 closed

[2018-05-22 22:29] #770 closed

[2018-05-23 17:11] josemduarte commented on #771
The data error was corrected this week by PDB. EDO now contains the right atom names.

[2018-05-26 15:33] MaxGreil commented on #731
I can have a look at it.

[2018-06-01 23:34] josemduarte commented on #731
Now implemented with #731 . Will be available in next release 5.1.0

[2018-06-01 23:34] #731 closed

[2018-06-02 15:44] josemduarte commented on #574
Indeed, this will go released with 5.1.0

[2018-06-02 15:44] #574 closed

[2018-06-08 14:35] sbliven commented on #765
@heuermh Can you give some more info about why linking LGLP from Apache 2 is a problem? Do you want to make shaded jars or something?

I'm inclined to close this issue unless there's some more active discussion.

[2018-06-08 14:55] heuermh commented on #765
I'm not able to argue for that position.

Pragmatically I have observed that Apache Software Foundation will not allow linking to LGPL dependencies from any JVM-based Apache project.

The same is true for the [Big Data Genomics](https://github.com/bigdatagenomics) organization, which is frustrating to me personally as I can't use any of the Free/Libre and Open Source software I've written for my d

[2018-06-15 10:23] sbliven opened #775 "MMCif behavior when auth_seq_id is missing"
A discussion came up in PR #774 regarding the correct behavior when parsing an mmCif file without `auth_seq_id`.

BioJava 4.2.11 requires the `auth_seq_id` column. This is a problem because it is optional according to the spec and omitted by PyMOL.

In b207d34 I added code to use the `label_seq_id` column for creating the ResidueNumber for each group if `auth_seq_id` is missing. There was some con

[2018-06-15 10:30] sbliven commented on #775
683132d contains tests showing that the current code (with #774) handles a missing auth_seq_id column and throws an exception for a partially populated column. Good enough?

[2018-06-15 18:13] josemduarte commented on #775
Thanks @sbliven , very nice tests! There's one detail I was forgetting: HETATMs have a '.' for their label_seq_id in deposited PDB files.

I've added some HETATMs to your tests and they failed. I have made a fix that should handle that: https://github.com/josemduarte/biojava/commit/699af8a8c2ed39ff71f3d2a29036c106f299d33f
All tests pass with that so I guess we can keep it. I still worry that the H

[2018-06-18 10:01] sbliven commented on #775
I think this can't be properly fixed in 4.* because we need access to the seq_id. This is stored in `AminoAcidImpl.getId()` and similar, but not available for `Group`.

I'm going to rebase these tests onto the master branch and do any fixes there. 4.* will continue to throw errors if auth_seq_id is missing or not numeric.

[2018-06-18 10:03] sbliven commented on #775
A related comment is that `auth_seq_id` is an arbitrary string, according to the spec. I think that might break the current data model.

[2018-06-21 14:16] julie-sullivan opened #777 "Error when parsing NCBI FASTA file - "Cannot find compound""
I am trying to parse the FASTA file from here:

https://ftp.ncbi.nlm.nih.gov/genomes/H_sapiens/Assembled_chromosomes/seq/

But get this error:

[code]

How can we process these data?

Can we have the option to make the FastaReader more permissive?

Thanks!!

[2018-06-21 17:56] josemduarte commented on #777
I think you simply need to use one of the ambiguity compound sets. Something like:

[code]
The `AmbiguityDNACompoundSet.getDNACompoundSet()` should understand `M` as a valid character.

In any case if you can post a snippet of your code, that will help understanding your problem.

[2018-06-22 14:50] #777 closed

[2018-06-24 23:09] josemduarte opened #778 "Altloc groups can be duplicated when using toMmcif()"
The altloc groups can have duplicate atoms with the main group, since at parsing we make sure that all groups contain all the default location atoms. When writing out to mmcif we are not considering that and writing out duplicates.

[2018-07-09 07:54] wayaya13 opened #782 "GOD CLASS in biojava"
I come across the following code smell (design defect) in the effective project:
    (1)   Type of code smells: GOD CLASS
    (2)   Associated project: biojava
    (3)   Associated link:
           https://github.com/biojava/biojava/blob/master/biojava-aa-prop/src/main/java/org/biojava/nbio/aaproperties/CommandPrompt.java
    (4)   Associated class: class CommandPrompt​
    (5)   Smells detected b

[2018-07-09 11:38] sbliven commented on #782
Can you be more specific about what should be changed? The class looks pretty self contained, and I wouldn't characterize it as a [God Class](https://www.c-sharpcorner.com/article/god-object-a-code-smell/).

[2018-07-09 11:39] sbliven commented on #782
Hmm, looks like @wayaya13 is probably a bot. I'm going to close this.

[2018-07-09 11:39] #782 closed

[2018-07-17 06:33] sbliven opened #784 "Update BlastClust URL"
In #781 (see also #783) it was mentioned that the BlastClust is available over an undocumented HTTPS service:

https://cdn.rcsb.org/resources/sequence/clusters/bc-95.out

Switching to this would remove all FTP access from BioJava.

[2018-07-26 12:31] lafita commented on #629
I updated to Jmol 14.29.17 and the error is still there. I will submit a PR reverting to using mmCIF until we figure out what is the problem. For the purposes of visualizing structures the two formats are identical (except for little performance improvement).

[2018-07-26 13:05] lafita commented on #629
I did a bit of research and the problem has to be when converting the MMTF object into an OutputStream.

https://github.com/biojava/biojava/blob/359dce819e7678879ae41301b11fa268f92e81d1/biojava-structure-gui/src/main/java/org/biojava/nbio/structure/align/gui/jmol/JmolPanel.java#L130-L153

A possible test could be to save the OutputStream to a file and try opening it with a viewer.

[2018-08-01 11:09] Gaussia opened #787 "Potential error when reading non ACTG nucleotide"
I am using biojava to parse genebank files
[code]
and I receive this error:
[code]
If I check the genbank file the genome sequence do contain a `s` nucleotide (stands for `c` or `g`). Could this be the cause of the error? If so, is there any way to deal with it?

[2018-08-01 13:14] Gaussia commented on #787
Ok, turns out you can do it using genbankReader and
[code]
which should work.
Cheers

[2018-08-01 13:14] #787 closed

[2018-08-07 23:17] biocryst opened #789 "Logger/string formatting slows down some calculations"
Calculating secondary structure of 4hhb 10000 times takes 589 seconds on my machine. If the following two lines are commented out, it takes 34 seconds:

https://github.com/biojava/biojava/blob/8a7b651afc1bd75bf70f03d309250058a45b982d/biojava-structure/src/main/java/org/biojava/nbio/structure/secstruc/SecStrucCalc.java#L851-L856

https://github.com/biojava/biojava/blob/8a7b651afc1bd75bf70f03d309250

[2018-08-07 23:35] josemduarte commented on #789
Good catch! Indeed this shows how careful use of the loggers is very important.

So reminder for everyone: please always use string substitution:
[code]
in favor of concatenation:
[code]

Reference: https://www.slf4j.org/faq.html#logging_performance

[2018-08-08 22:35] #778 closed

[2018-08-21 00:36] biocryst opened #791 "BiologicalAssemblyBuilder: transformations ordering is non-transitive"
Reproduce the problem with:
`Structure pdb = StructureIO.getStructure("BIO:5TLS:1");`

Fails with exception "Comparison method violates its general contract!". The problem is in the code below, which returns 0 ("equal") if transformation IDs are not equal, which leads in this particular case to
...
JA=HA
HA=GA
JA > GA
(and probably other contradictions, but here it breaks). Comparators in Java mus

[2018-08-21 23:26] biocryst opened #792 "Bioassembly fails for a structure with null seqres groups (MMTF only)"
StructureIO.getStructure("BIO:2X3T:1") causes exception when cloning the asymmetric unit, if MMTF is used (cache.setUseMmtf(true)). The reason is null seqres groups.

There are two issues here: difference in the data between MMTF and MMCIF, and "safe" code.

I can make the code a bit safer, i.e. take this test:
https://github.com/biojava/biojava/blob/8a7b651afc1bd75bf70f03d309250058a45b982d/biojav

[2018-08-21 23:54] josemduarte commented on #792
Good catch! The fix in #793 is definitely needed.

As for the other issue, it looks like 2X3T is not read correctly from mmtf. In fact that structure fails this test: https://github.com/biojava/biojava/blob/master/biojava-structure/src/test/java/org/biojava/nbio/structure/io/mmtf/TestMmtfRoundTrip.java

[2018-08-25 01:02] biocryst opened #795 "Symmetry detection fails for long twisted assemblies"
For examples look at 6CL5, 6GAO, 5JXC.

The problem, I believe, is in the following:
1. Subunits are represented via their centers:
https://github.com/biojava/biojava/blob/2bb08570f8a79e27e958b5c136207e2192868aa7/biojava-structure/src/main/java/org/biojava/nbio/structure/symmetry/core/RotationSolver.java#L459
2. Permutation of the centers is used to derive transformations:
https://github.com/bioja

[2018-08-25 02:37] biocryst commented on #791
Pull request merged, closing.

[2018-08-25 02:37] #791 closed

[2018-08-25 18:25] pwrose commented on #795
Interesting case! How about checking if the centers of mass of the subunits
are too close (based on a threshold) and if they are below a threshold,
switch to the all-atom comparison?

On Fri, Aug 24, 2018 at 6:02 PM Dmytro Guzenko <notifications@github.com>
wrote:

--
Peter Rose, Ph.D.
Director, Structural Bioinformatics Laboratory
San Diego Supercomputer Center
UC San Diego
+1-858-822-5497

[2018-08-28 15:05] TorkelE opened #796 "GenbankSequenceParser - found unknown section key: CONTIG"
I have downloaded a larger amount of sequce data from the refseq project. It is a bounce of genebank files.

When I read these files using biojava and:
[code]

Everything runs fine, however I get a lot of information messages like:
[code]
(all in red)

My guess is that the reason can be found in this part of he genebank file, where the sequence has been designated as a contig (between the list of

[2018-08-28 17:55] josemduarte opened #797 "Residues observed in only one chain of an entity are not correctly mapped"
E.g. in PDB id 1smt, residue 20 is observed (has coordinates) for chain B but not for chain A of same entity. `EntityInfo#getAlignedResIndex()` should still be able to return an index for that residue, but it doesn't at the moment. This bug was introduced in 5.0.0

[2018-08-28 23:35] josemduarte commented on #796
The message is simply an over-verbose way of saying that the parsing of that CONTIG section is not supported. I think it can safely be ignored.

As a note you can fully configure the verbosity of the logger via providing a log4j2.xml file in your classpath, for instance with the following everything will be logged at INFO level except for the GenbankSequenceParser which will be logged at WARN leve

[2018-08-29 00:48] josemduarte commented on #792
I've checked was going on with 2X3T mmtf parsing and indeed there is an issue: the seqres groups of chain E are not populated. The chain is polymeric with residues of type dpeptide and because of that somehow the seqres groups remain null.

[2018-08-29 10:03] TorkelE commented on #796
Thank you, that is very useful to know.

Exactly how would I use the .xml file to disable the notifications? (I am using eclipse).

I have tried looking online and the best instruction I found was to make a folder like
src/test.resources/log4j2.xml and copy the text into there, however to no effect.

[2018-08-29 15:45] josemduarte commented on #796
It has to be in your classpath. For instance in src/main/resources.

[2018-08-29 20:48] #797 closed

[2018-08-29 20:49] josemduarte commented on #796
I'll close the issue. Please reopen if you find new problems.

[2018-08-29 20:49] #796 closed

[2018-08-29 20:56] josemduarte commented on #712
Solved in #786. Closing

[2018-08-29 20:56] #712 closed

[2018-08-29 21:05] josemduarte commented on #792
Note this is losely related to #671

[2018-08-29 21:32] josemduarte commented on #316
The RCSB API is in the process of being changed, so this will not apply anymore once that endpoint is deprecated.

[2018-08-29 21:32] #316 closed

[2018-08-29 21:36] josemduarte commented on #315
@lafita is this still relevant? are those logging messages still coming up? If so, could you post an example? If not relevant anymore then let's close.

[2018-08-29 21:38] #127 closed

[2018-08-30 15:47] TorkelE commented on #796
Ok, thanks. This was helpful.

[2018-09-02 22:56] TorkelE opened #800 "GenbankReader process(int max) seems to close the InputStream?"
I have a large .gbff file I am trying to read (or rather several large such files). The biggest is about 1.5GB.

The code looks like this:
[code]
Since the file sizes got too large I try to read the files in smaller chunks
(I have also tried setting VM arguments to -Xms512M -Xmx4096M, which did not to work due to lack of memory)

I try
[code]
which seems to work. However, I want all the entries. B

[2018-09-03 21:42] josemduarte opened #801 "Biological assembly expansion: chain ids should contain both operator ids in binary expression case"
In cases like 1m4x the assembly operators are given as cartesian products where 2 (or more) operators have to be applied in turn. E.g. is 1m4x:
[code]
BioJava deals correctly with this but assigning sequential operator ids instead of the original ones in `_pdbx_struct_oper_list.id`. It'd be better to use the original operators so that the resulting identifiers can be recognised by other tools (e.g

[2018-09-05 09:38] lafita commented on #795
These assemblies have very elongated subunits and large interfaces, so this might be another property to identify them and switch to the all-atom comparison.

[2018-09-05 15:03] #315 closed

[2018-09-06 22:30] josemduarte commented on #800
An issue with this feature was discussed in #663. PR #666 was an attempt to solve it, including some tests. Could you try extending the test in `GenbankReaderTest` to demonstrate the issue you are seeing now?

[2018-09-07 17:25] josemduarte opened #804 "Make biojava work in Java 9, 10, 11"
@sbliven made some progress in the [java9 branch](/biojava/biojava/tree/java9).

I've tried out the branch and it looks like the main remaining problem is with the jaxb dependency used in a few places (jaxb is apparently not included in 9+).

[2018-09-09 06:04] TorkelE commented on #800
Currently away travelling, but will have a look when I get home in two weeks. Thanks.

[2018-09-25 09:52] #804 closed

[2018-09-26 20:27] #801 closed

[2018-09-30 07:22] betrw opened #807 "kaplan-meier chart - implementation example"
Could you give me an implementation example of the kaplan-meier chart please?

It is the best and the fastest way to get started with.

[2018-09-30 15:49] willishf commented on #807
In the main of the method is a working example to generate a figure.

   /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        // TODO code application logic here
        try {

            KaplanMeierFigure kaplanMeierFigure = new KaplanMeierFigure();
            LinkedHashMap<String, ArrayList<CensorStatus>>
survivalDataHashMap = new Linke

[2018-10-05 07:49] sbliven commented on #795
All-atom is probably overkill if we're worried about performance. We could get by with some small set of atoms that preserves the orientation. The principal axes might work, or even a small random sample (say, 10 atoms).

The centroid method fails to account for orientation, so it would also fail for globular asymmetric complexes if their centroids happened to fall on a circle. We've been fortunat

[2018-10-05 07:52] sbliven commented on #795
This might improve helix visualization too (#306)

[2018-10-05 07:55] sbliven commented on #804
Oracle announced they will charge for java 8 updates, so this is timely!

https://www.itassetmanagement.net/2018/05/01/oracle-to-charge-for-java-from-jan-2019/

[2018-10-06 11:30] paolopavan commented on #804
Does anyone had tried if there are any major compatibility issues? Any
issue of any kind?
I am especially worried about frequent Api changes that will compel to
update my old software too frequently than what I can do. As recalled by
the article, new releases will happen every 6 months. While this could be
interesting when bringing new features in, it can be not sustainable when
those would be API

[2018-10-08 20:45] darnells commented on #804
Starting January 2019, Oracle Java (version 11 and beyond) will be a paid-for commercial product and OpenJDK will be the free open-source distribution. OpenJDK has been providing binaries for Windows, macOS, and Linux since JDK 9. I am sure @josemduarte, @sbliven, and others will successfully transition BioJava to Java 11 (the current LTS release) in due time and the majority of us will hop onto O

[2018-10-25 03:42] sbliven opened #808 "CE-Symm assumes models come from BA"
Running CE-Symm on multi-model structures seems to concatenate all models. This is desirable for the biological assembly PDB files, but undesirable for ensembles.

For instance, running on 4tz5.B produces heap overflows as it tries to concatenate 25 models.

[2018-10-25 03:45] sbliven commented on #808
This can cause inflation of the repeat number. Example: 2q4g.W has 8 models with 16 repeats each. Running with 8G of memory I can finish this structure, but get 128 repeats!

[2018-10-25 14:29] lafita commented on #808
If I remember correctly the input to the `CESymm` method is actually the `Atom` array extracted from the `Structure` object.
I wonder if this could be a bigger problem related to how the representative `Atoms` of multi model structures are obtained.

[2018-10-25 16:44] josemduarte commented on #808
@sbliven since 5.0.0, BioJava will by default produce bioassemblies by expanding into new chains (instead of new models). That is the default now if you do:
[code]
or otherwise you can explicitly set the flag (`multiMode=true` for expanding into models instead of chains):
[code]
I think the feature is also available in 4.2.x, but there it is not the default.

 So it should be totally safe to remov

[2018-10-26 23:59] sbliven commented on #808
I need to look into this more, since I found a few cases where CE-Symm seems to be duplicating structures. We used to report the currect number of repeats for these, but now it's doubled. None of them have multiple models.

Name | Symm | Predicted Repeats | Predicted Symm
---|---|---|---
d1xmpa_	|C2	|2	|4	|C2
d2hiyc_	|C2	|2	|4	|C2
d1kkta_	|C7	|7	|14	|C7

[2018-10-27 09:32] sbliven commented on #804
@paolopavan The biggest thing was the removal of some packages (e.g. XML). These are now pulled in from maven, so there will be no change for the user. If you want products to be stable (LTS), it looks like the best solution is to migrate them to OpenJDK 11 over the next year or so.

[2018-11-27 21:44] heuermh opened #809 "Unit tests fail due to surefire plugin issue with Debian/Ubuntu Java8"
See https://issues.apache.org/jira/browse/SUREFIRE-1588

The workaround is to update `maven-surefire-plugin` to version 3.0.0-M1.
[code]

[2018-12-04 17:19] heuermh opened #811 "Confirm Genbank parser handles new accession formats"
See https://ncbiinsights.ncbi.nlm.nih.gov/2018/12/03/adapting-flatfile-parsers-genbank-new-accession-formats/

[2018-12-05 21:19] #809 closed

[2018-12-12 07:58] dylanyerly opened #813 "Magic number in org.biojava.nbio.core.sequence.io.ABITrace#getImage"
Hello, in the method getImage in the class org.biojava.nbio.core.sequence.io.ABITrace the argument widthScale is not fully used where it should be.
There is a magic number (2) instead of widthScale.
Thanks in advance.

[2018-12-13 05:07] josemduarte commented on #813
Are you referring to this line?: https://github.com/biojava/biojava/blob/fd4f8ef29c25d6329c903687c08d78c6c03a8a76/biojava-core/src/main/java/org/biojava/nbio/core/sequence/io/ABITrace.java#L236

Could you perhaps provide a [pull request](https://help.github.com/articles/about-pull-requests/)?

[2018-12-13 13:30] sbliven commented on #789
Should we search systematically for string concatenations or String.format calls in logging statements?

[2018-12-14 09:02] dylanyerly commented on #813
Yep sure, it's done.

[2018-12-24 20:24] #807 closed, assigned to nobody

[2018-12-24 20:34] betrw opened #815 "Kaplan-Meier - How to label axes and how to change the interval of numbers on the x-axis"
How can I label the y- and the x-axis?
How can I change the interval of the numbers on the x-axis? One diagram shows the months 0, 37, 74, 111 and 148. I would prefer steps of 10.

[2018-12-29 15:32] sbliven opened #816 "Exception accessing properties of empty structures"
In SymmetryTools.divideStructures we create a new StructureImpl and immediately call getChain() on it. In 5.1.1 this causes an IndexOutOfBounds because no models have been created.

[code]

How do we want to handle this?
1. The exception is expected. Users should use `s.addModel(new ArrayList<Chain>())` when they create a new structure
2. All models are implicitly created for each structure. Modif

[2018-12-29 16:01] sbliven commented on #815
@betrw Adding a code snippet would help us answer better.

Axis legends are set like this:
[code]

Regarding the steps, the default is to show 5 labels. You can change the fraction of the data covered by each label:
[code]

You can also set labels specifically:

[code]

[2018-12-31 13:24] sbliven opened #817 "MultipleAlignmentJmol modifies state, causing NullPointerException"
I get a `NullPointerException` when running the following code:

[code]

Stack trace:

[code]

The weird thing is that the error goes away if I don't create the `MultipleAlignmentJmol` instance. We must be modifying the CESymmResult state in a way that breaks `divideStructure`.

Note that this blocks moving CE-Symm to BioJava 5

[2019-01-01 14:36] #815 closed

[2019-01-02 11:31] #817 closed

[2019-01-02 17:54] #703 closed

[2019-01-05 14:01] betrw commented on #815
Worked very well. Thanks.

[2019-01-07 10:50] sbliven commented on #817
I have a test for this issue in my [fix817](https://github.com/sbliven/biojava-sbliven/tree/fix817) branch (83f2b383df099631b08872a3beada2cac7025658). Basically, creating MultipleAlignmentJmol results in all atoms having null EntityInfo.

[2019-01-24 22:35] betrw opened #826 "How to do a Log Rank test with Hazard Ratio - Functions - CoxInfo, CoxR, CoxCoefficient"
How can I do a Log Rank-Test with the Hazard Ratio of two groups? I get a bit confused how to use the classes CoxInfo, CoxR and CoxCoefficient.

Could you give me an example how to do a Log Rank test with the Hazard Ratio please?

[2019-01-25 00:03] josemduarte commented on #826
Could you point us to what code exactly are you trying to use (biojava module, classes etc). Perhaps just post an excerpt of code of some things that you've tried?

[2019-01-25 17:49] betrw commented on #826
Something like this:

`CoxInfo CI = new CoxInfo();
	CoxR R = new CoxR();
	ArrayList<SurvivalInfo>SurvInfo = new ArrayList<SurvivalInfo>();
	ArrayList<String>Variables = new ArrayList<String>(); // two groups

	for (int i = 0; i <= (int)first - 1; i++)
	{
	    SurvivalInfo si = new SurvivalInfo(GeneValues.get(i).SIS.OverallSurvival, GeneValues.get(i).SIS.IsCensored == true ? 0 : 1 );
	    BPSG.Grou

[2019-01-28 18:14] willishf commented on #826
For Cox if you compare two groups you will get a very similar/the same HR
as log-rank with a slightly different p-value. I didn't see the
LogRank code checked in so need to go back to another computer that has the
code and figure out the dependencies and examples. I seem to recall the
LogRank code I used was modified from some other code that I found. I
didnt have time to sort through the licensin

[2019-01-28 21:42] betrw commented on #826
I try to understand the logic of the three classes. I would like to know how to use the classes.
Which methods do I have to call for two groups I would like to compare? Which class is needed to pass the survival data? The class 'CoxCoefficient' has all information I would like to have but how can I generate the information. Do I have to use 'CoxInfo' or 'CoxR'?

An example would be great.

[2019-01-28 21:59] willishf commented on #826
Will need to get to another computer and can send you example code.

On Mon, Jan 28, 2019 at 4:42 PM betrw <notifications@github.com> wrote:

[2019-02-04 12:24] rayoub opened #827 "producing an alignment file"
What is the best approach to producing a protein structure alignment file where 1 structure is represented as chain A and another is represented as chain B and the transformation matrix has been applied to the coordinates of the superimposed structure?

[2019-02-05 03:53] josemduarte commented on #827
This part of the tutorial explains alignments in detail:

https://github.com/biojava/biojava-tutorial/blob/24ba882918116aa96fcebd98dd74082b83251268/structure/alignment.md#creating-alignments-programmatically

[2019-02-05 20:35] betrw commented on #826
I had looked up the formula for the log-rank test, the hazard ratio, the 95% confidence interval and the p-value. I wrote an own class for calculating the values.

Nevertheless thank you very much.

[2019-02-05 20:35] #826 closed

[2019-02-06 11:26] lafita commented on #827
@rayoub the default when creating a structural alignment is to use a separate model for each structure in the alignment. If you need the two structures in the same model but with different chain identifiers you can do the alignment programatically (as @josemduarte pointed out) and combine the models into two different chains with a few extra lines of code.

[2019-02-06 16:53] rayoub commented on #827
I applied a transformation matrix to coordinates of a superimposed structure, applied these back to the atoms in each group of a chain, and then used the toPDB() function to output lines of well-formed PDB ATOM records. The toPDB() function was helpful in this regard.

[2019-02-06 16:53] #827 closed

[2019-02-18 18:20] lee-mcfaul opened #828 "Make CONTRIBUTING.md more detailed"
I've been poking around the README.md and CONTRIBUTING.MD on master and I have a few questions whose answers I think should be added to the CONTRIBUTING.md document.

1 - Which branch should pull requests be made to when addressing issues.

2 - What is the build/branch model? is it dev -> release -> master? Because it seems like master is the repo with the latest updates by years.

3 - When contri

[2019-02-19 13:03] lafita commented on #828
Pull requests should be made to `master` branch, please ignore the others. To contribute, fork the repo, create a new branch from master and submit a new pull request. We will review the code and merge it to the main `master` branch.

I agree that we should add more information about this to the documentation and clean up some of the old branches since it might be confusing. Thanks!

[2019-02-19 13:03] #828 closed

[2019-02-19 21:08] lee-mcfaul opened #831 "Remove external test dependency"
During some debugging of another test I submitted a few commits back to back and encountered the error bellow. It essentially means that we hit a quota for downloads from https://eutils.ncbi.nlm.nih.gov over a certain period of time and this caused the test to fail.

I don't think that there should be a unit test that depends on an external resource with a quota as this can cause failing builds wh

[2019-02-19 22:33] lafita commented on #831
We are aware of the issue and have had some discussion before in #606. Unless the test check the access to a remote resource, files should be included in the library.

I have also seen that a fix was made for this test already in ed7fb66. Could you take a look and see if you can fix it? Thanks!

[2019-02-19 22:55] josemduarte commented on #831
This test has been causing a lot of pain. It'd be great to make it independent of the external resource. Thanks @lee-mcfaul

[2019-03-01 15:37] lee-mcfaul commented on #789
Sonarqube is a pretty good tool for finding such things as well as a plethora of other coding bugs, smells and other faux-pas. It's a little depressing running it on a codebase for the first time, but overall it's a pretty good tool to keep code clean and use best practices.

 It could be set up similar to the Travis build where code bellow a certain quality is blocked from merging.

https://www.s

[2019-03-01 18:24] josemduarte commented on #789
Yes, Sonarqube is indeed a great tool. We are actually trying it right now for other projects. I'm going to give SonarCloud a try in BioJava as soon as I can.

[2019-04-11 12:50] jamesmorris opened #833 "Genbank LOCUS line parsing"
Hi,

I have been working on upgrading the version of Biojava used in a code base that was previously using version 1.7.

Most of the biojava code was used for working with genbank files, I have gone about altering this code to be compatible with version 5 of biojava.

During this work I have come across an issue with the locus line parsing in GenbankSequenceParser class.

This became apparent beca

[2019-04-11 16:24] heuermh commented on #833
Hello @jamesmorris, thank you for submitting this issue.

Note that Biojava 1.x is still maintained at https://github.com/biojava/biojava-legacy, and if there are new features/bug fixes you require there, we can cut new releases.  So if it ain't broke don't fix it.  ;)

If you have other reasons for migrating to Biojava 5.x, then yes, unfortunately there might be differences in the parser implemen

[2019-04-24 10:24] gmungoc opened #836 "Only one Synonym is saved for each Ontology term parsed"
Sequence Ontology includes multiple synonyms for many terms, but only the first synonym for each is retained when parsing the ontology data file.
Cause:
- OntologyTerm$Impl.synonyms is a TreeSet, but does not follow the TreeSet Javadoc guidance that "...ordering...must be consistent with equals...to correctly implement the Set interface"
- Synonym.COMPARATOR 'equates' two Synonyms if both have nul

[2019-04-24 15:40] josemduarte commented on #836
Good catch, thank you. Please go ahead with the PR. Definitely we want a parameterised type for the Set. That simply might come from days where generics were not available.

[2019-04-24 16:52] #833 closed

[2019-04-24 17:11] heuermh commented on #833
Thank you, @jamesmorris

[2019-04-24 17:46] heuermh opened #837 "HTTP 429 Too Many Requests returned from NCBI eutils"
`GenbankProxySequenceReaderTest` may need to be modified to pause between requests to NCBI eutils, or `GenbankProxySequenceReader` updated to handle request rate limiting with retries.

[code]

[2019-04-24 18:18] josemduarte commented on #837
Actually I had introduced a pause between requests in ed7fb66cb1e450030e5e464770ed79c116a27d7d but it seems that it was removed in 11c9beb17f8a7c8f581ffa2b58fdf3e00250f1bd. @lee-mcfaul can you comment on why removing the pause between requests?

Note this issue was discussed already in #831

[2019-04-25 10:33] gmungoc commented on #836
Didn't actually change Set to Set\<Synonym\> as not needed for this fix, and in a different class.

[2019-05-02 22:19] josemduarte commented on #837
I re-introduced the delays in the test again so that the 429s stop. See 59e51fdc7920ec142f707bbe642c64905efa8994

[2019-05-02 22:19] #837 closed

[2019-06-02 22:33] r614 commented on #760
Hey! I fixed the bug on my local branch but I am unable to push the branch to upstream to make a PR. I require permissions!

[2019-06-03 14:38] lafita commented on #760
Hi @r614, we do not allow directly pushing changes to the main repository. You should instead fork the biojava repository to your account, push the changes there, and then open a new PR. You can find more info in the [contributing instructions](https://github.com/biojava/biojava/blob/master/CONTRIBUTING.md).

[2019-06-10 09:48] miaoyibo commented on #826
I have the same question,could you give me an example please?

[2019-06-10 09:50] miaoyibo opened #840 "> How can I do a Log Rank-Test with the Hazard Ratio of two groups? I get a bit confused how to use the classes CoxInfo, CoxR and CoxCoefficient."
I have the same question,could you give me an example please?

_Originally posted by @miaoyibo in https://github.com/biojava/biojava/issues/826#issuecomment-500358340_

[2019-06-10 14:56] willishf commented on #840
If you look at CoxHelper.java the Main has an example where the returned
CoxInfo has all the relevant metrics. If you look at the source code you
should be able to do your own implementation of loading survival data from
a tab-delimited file. I went looking for the example data set used when I
wrote the original code and that was a few laptops ago and don't have that
specific data file. Let me kno

[2019-06-10 22:48] r614 commented on #760
Yikes, that's my bad. Just added a PR.

[2019-06-11 02:04] miaoyibo commented on #840
I try it like this:
`public static void main(String[] args) throws Exception {
		ArrayList<SurvivalInfo> survivalInfoList = new ArrayList<SurvivalInfo>();
		int a = 0;
		double[] times= {1.800,2.300,3.800,5.500,6.300,6.400,16.600,17.100,23.800,33.700,33.700};
		int[] censor= {1,1,1,1,1,1,0,0,0,0,0};

		double[] times2= {2.800,3.000,4.300,4.500,5.800,6.800,7.800,8.200,8.200,9.200,9.200,10.800,

[2019-06-11 02:17] willishf commented on #840
What are you comparing against? You will see slight differences in
precision. The cox regression is a port of the R survival package.

If you do the KM figure I think that logrank code is from a slightly
different implementation that I ported.

If you do a KM figure

On Mon, Jun 10, 2019, 10:04 PM miaoyibo <notifications@github.com> wrote:

[2019-06-11 02:59] miaoyibo commented on #840
ok  I got it,thank you very much

[2019-06-11 02:59] #840 closed

[2019-06-12 19:41] heuermh opened #842 "Accept contribution of biojava-adam module"
It has always been my goal to contribute the following repository to Biojava, either as a module in this repository, or a separate repository under the Biojava Github organization

https://github.com/heuermh/biojava-adam

Because of license incompatibilities (LGPL vs Apache 2, see e.g. #765), this code cannot be part of the [ADAM codebase](https://github.com/bigdatagenomics/adam) nor under the [Bi

[2019-06-17 17:36] innovate-invent opened #843 "Biojava fails to parse Genbank and EMBL format"
Biojava fails to parse `anticodon` and `transl_except` feature qualifiers when they line wrap.
Biojava expects the values to be quoted, this is invalid.

This causes applications like Mauve and Colombo/SigiHMM to emit
[code]
and discard large portions of the dataset.

This line is from 15584_genome.embl from Biopython:
[code]
The matching line from 15584_genome.embl from Bioperl:
[code]

The diffe

[2019-06-17 21:13] heuermh commented on #843
Thank you, @innovate-invent.  I've also created an issue for biojava-legacy at https://github.com/biojava/biojava-legacy/issues/50

[2019-06-24 00:37] josemduarte commented on #842
I think it would be great to have it as a separate repo under the BioJava github organization. In principle with next BioJava release you will not have the SNAPSHOT dependency anymore and should be able to migrate it.

[2019-06-24 17:17] heuermh commented on #842
Thank you, @josemduarte!

As a separate repository, should versioning still track Biojava (i.e. release in lock-step with same version number) or should we start anew, with an upcoming version 1.0 targeting Biojava 5.2.2 and ADAM 0.28.0 release versions?

[2019-06-24 17:22] josemduarte commented on #842
I'd go for this strategy

[2019-07-05 18:31] heuermh commented on #842
ADAM 0.28.0 has been released, so I can update the snapshot dependency and begin the migration and release process.  I think I'll start with version 0.1.0 rather than 1.0, since we're still not at 1.0 in ADAM, and as such aren't strictly following the SemVer guidelines yet.

[2019-07-05 18:48] heuermh commented on #842
@josemduarte It appears that I don't have permissions to transfer the repository

Perhaps this is restricted to Owners in the BioJava organization.  Might you or another Owner be able to do the transfer?

[2019-07-09 15:30] josemduarte commented on #842
I've just made you an owner, please try again

[2019-07-09 18:35] heuermh commented on #842
Thank you, @josemduarte! I've completed the transfer.

[2019-07-09 18:35] #842 closed

[2019-08-14 10:01] prashantVaishla commented on #843
hi , i am new to embl format parsing
could you please share the sample input file or send me any link

[2019-08-20 13:24] sbliven opened #846 "Add CITATION.cff file"
The [Citation File Format](https://citation-file-format.github.io/) is a standard for improving citations of open source software. It got some prominent mentions at BOSC this year and seems to be building community support.

Basically, you add a CITATION.cff file to your repository, which is a YAML file with some metadata about how to cite the software. Citations typically use the Zenodo DOI so th

[2019-09-02 17:27] josemduarte commented on #846
Thanks @sbliven . That's indeed a nice feature to have. However I have concerns about having a manually generated file that needs to be manually updated for every release.

One thing I don't understand is how is the Zenodo DOI generated? Did you create one yourself? Does it get created automatically with BioJava releases?

[2019-09-02 17:36] josemduarte commented on #831
Closing as a duplicate of #606

[2019-09-02 17:36] #831 closed

[2019-09-02 17:41] josemduarte commented on #333
This should be a lot easier to do with the new mmCIF parser contributed by @JonStargaryen , see #839

[2019-09-02 17:46] josemduarte commented on #622
Unclear if this is still relevant. Closing for now. Please reopen if more hints are found.

[2019-09-02 17:46] #622 closed

[2019-09-02 17:54] josemduarte commented on #561
SonarQube (mentioned in #789) should be a good tool for coverage and for many other quality controls. They provide github integration with their cloud service for free for open source projects.

[2019-09-02 18:06] josemduarte opened #848 "Advance notice: next release 5.3.0"
It's been a while since last release. I'd propose to release 5.3.0 on the 6th of September. It will include some bug fixes, support for BinaryCif and a new mmCIF parser (see #839).

Make sure you commit any contributions that you'd like to see in 5.3.0 before that time.

Question for @JonStargaryen . Should we upgrade the dependency on ciftools-java to latest release 0.5.4?

[2019-09-02 18:28] josemduarte opened #849 "Remove dependency on source.rcsb.org and RCSB REST APIs"
There's a few classes in the structure module that depend on service http://source.rcsb.org, that is now obsolete. They also cause test failures often, so this would help with #606.

As part of that it'd be a good idea to remove dependency on other RCSB REST APIs (at rcsb.org/pdb/rest) that are going to be deprecated.

This would be a breaking change that should go with a new major release.

It wo

[2019-09-03 00:09] josemduarte commented on #792
I've added a test for this in PR #850 (and set as ignored). My conclusion is that SEQRES groups that are unobserved and non-standard aminoacids (like in chain E of 2X3T) are going to be always null when coming from MMTF. This is because of a limitation of MMTF where seqres groups are represented as 1-letter strings and thus any non-standard aminoacid is encoded as 'X', so the information on chemic

[2019-09-03 00:09] #792 closed

[2019-09-03 17:03] pwrose commented on #792
The full chemical component ID is stored with the group data for observed
residues here:
https://github.com/rcsb/mmtf/blob/master/spec.md#group-data

In principle, unobserved chemical components could be added to that list.

On Mon, Sep 2, 2019 at 5:10 PM Jose Manuel Duarte <notifications@github.com>
wrote:

[2019-09-03 17:09] josemduarte commented on #792
Indeed, but that would require either a new flag `observed y/n` or making the `formalChargeList`, `elementList` and `atomNameList` optional fields (now they are required).

[2019-09-03 17:17] pwrose commented on #792
The formalCharge, element, and atomName are available from the Chemical
Component Dictionary, so it should be possible to populate these fields.

On Tue, Sep 3, 2019 at 10:10 AM Jose Manuel Duarte <notifications@github.com>
wrote:

[2019-09-03 17:23] josemduarte commented on #792
True, those fields are independent of whether atoms are observed or not. But in any case a flag to indicate whether group is observed or not would be required.

[2019-09-03 17:24] #671 closed

[2019-09-03 17:27] josemduarte commented on #590
Proper testing against the new mmCIF parser introduced in PR #839  has been done now in a separate project: https://github.com/rcsb/ciftools-java

[2019-09-03 17:27] #590 closed

[2019-09-03 17:30] pwrose commented on #792
The sequenceIndexList keeps track of the correspondences between the SEQRES
sequence and the group information, so for unobserved residues, this
correspondence would need to be tracked as well, e.g., how KXXXXXXEX maps
to K(DBB)(DVA)(DBB)(DBB)(DVA)(DBB)E(BAL).

On Tue, Sep 3, 2019 at 10:16 AM Peter Rose <pwrose@ucsd.edu> wrote:

[2019-09-03 17:38] josemduarte commented on #849
Classes that use RCSB REST APIs:

- [ ] `RCSBLigandsFactory`
- [ ] `PDBStatus`

[2019-09-03 17:57] JonStargaryen commented on #848
@josemduarte Yeah, I recommend bumping the version to 0.5.4. It fixes a bug which can crash CIF writing when concurrency is involved. Moving to 0.5.4 doesn't require any changes in the BioJava.

[2019-09-03 17:59] josemduarte commented on #848
Thanks @JonStargaryen , we'll do

[2019-09-03 18:44] heuermh commented on #848
I don't see a milestone for 5.3.0, I would like to include #852 #851 in this release.  I'll also take a look at #843 to see if there is a quick fix.

[2019-09-03 19:01] josemduarte commented on #848
Sorry I didn't create the milestone. There were various outdated milestones that I had to clean up and move around. We'll be more diligent for next release.

Absolutely, I'll merge them when the tests pass. Thanks

That'd be be great, thanks! If you need a bit more time, please let me know.

[2019-09-06 07:22] sbliven commented on #846
@josemduarte There are actually two DOIs here: the version-independent DOI (10.5281/zenodo.2557852) and DOIs for each version (e.g. 10.5281/zenodo.2557853 for biojava-5.2.1). By default, the versioned DOIs get created automatically for github releases. However, there is also an API that allows them to be pre-reserved. I've been discussing this on gitter:OBF/BOSC_community and hoping that a tool wo

[2019-09-06 07:24] sbliven commented on #846
In summary, we can choose to either add the manual CFF now and automate for the next release, or else delay merging #847 until the full procedure is in place.

[2019-09-06 07:27] sbliven commented on #816
Let's close this. Creating structures is rare, so I'm fine with requiring users to add the model explicitly.

[2019-09-06 07:27] #816 closed

[2019-09-06 18:48] josemduarte commented on #848
@heuermh would it be ok to postpone #843 to next bugfix release? If ok, I'll go ahead and release 5.3.0 today

[2019-09-06 18:51] heuermh commented on #848
@josemduarte Yes, I don't have a quick fix for it.  Please go ahead with the release!

[2019-09-06 18:55] josemduarte commented on #846
Thanks @sbliven . The cif file in #847 only contains the version DOI and not the version-independent one. That's intended I guess?

[2019-09-06 18:58] josemduarte commented on #846
In any case, let's merge for now and worry about automation later. I'll change the name of this issue to reflect that.

[2019-09-06 21:41] #848 closed

[2019-09-06 21:56] #836 closed

[2019-09-06 22:07] josemduarte commented on #800
This looks like it is solved. I'll close, please reopen if something is missing @lee-mcfaul

[2019-09-06 22:07] #800 closed

[2019-09-07 13:20] TorkelE commented on #800
Yes, you can close this without any problem. Cheers.

[2019-11-22 01:40] chenzhiw opened #855 "make or read genbank file error when feature spans zero point of circular sequence"
Download a [genbank file](https://media.addgene.org/snapgene-media/v1.6.2-0-g4b4ed87/sequences/74/51/47451/addgene-plasmid-37845-sequence-47451.gbk) from [this page](http://www.addgene.org/37845/sequences/#depositor-full).
Read it  with biojava and error as below:

Exception in thread "main" java.lang.IllegalStateException: Start (7028) is greater than end (286); this is an incorrect format
	at or

[2019-11-22 01:46] chenzhiw commented on #855
error part as below:

     CDS             complement(7028..286)
                     /codon_start=1
                     /gene="bla"
                     /product="beta-lactamase"
                     /label=AmpR

[2019-11-22 10:38] mimiagurcia opened #856 "unable to access packages in Eclipse"
Hello
I am learning to use Biojava 1.7.1  via Eclipse Version: 2019-09 R (4.13.0).

    Downloaded the file from the link polaris.umuc.edu/~sgao/BIFS618/Homework/biojava-1.7.1_all_mod.jar
, hit "OPEN with JDK library"
    Place file in some folder: I used C:\biojava
    Since I already have a path for Java
    Opened CMD
    Used cd and dir until I reached my folder:
        C:\>biojava\
    Then

[2019-11-22 16:46] heuermh commented on #856
Hello @mimiagurcia!

Biojava versions 1.x are maintained in the https://github.com/biojava/biojava-legacy repository.  You may want to [create a new issue in that repository](https://github.com/biojava/biojava-legacy/issues).

That said, I am not familiar with the file linked at `polaris.umuc.edu`, it is not an official Biojava release artifact.  It appears to be a zipped version of contents simil

[2019-11-23 12:27] mimiagurcia commented on #856
Hello
thank you for replying! I am new to both programming and GitHub. Sorry I did not know of the other github, thank you for the link.
And yes, is for a introduction to Java Class. I finally got it to work, however I tried so many things I'm not sure which one did the trick.

[2019-12-15 05:41] #856 closed

[2019-12-15 05:44] josemduarte commented on #855
Thanks for reporting.

So should the start<end check be removed completely? Any opinions?

[2019-12-15 18:30] paolopavan commented on #855
I think that start<end check was a specification of the GB format. The location parser was implemented according to http://www.insdc.org/files/feature_table.html#3.4 and while I cannot find anymore the specifics that 3' end must be represented by a greater number that 5' it is clear from the documentation and examples that this is expected.
Moreover, when you look at complement() definition in the

[2019-12-16 07:46] chenzhiw commented on #855
@paolopavan Thanks for your replay. I also have read the specification and cannot find any word that 3' end must greater than 5'.
As we know, the vector dna is circular, the start point can be any base theoretically. How can we define the feature spans start point.
Snapgene write it like _7028..286_. I find an example on NCBI [AF169008.1](https://www.ncbi.nlm.nih.gov/nuccore/AF169008.1), the CDS r

[2019-12-16 12:42] paolopavan commented on #855
Today there is not reference but the check is there since in the past this was mentioned. What in fact if I write 100..1 in linear chromosome context? Would you consider the forward or the reverse strand?
I think in fact that the form `complement(join(7028.. 7602,1.. 286))` that you correctly report would have been the intended form by NCBI and is much less ambigue. Even if in a circular chromosom

[2020-02-29 17:13] accismus opened #863 "New documentation"
Hi all,

I'm a bioinformaticist turned technical writer, and I'm working on a new open source technical documentation framework called Accismus. I'm trying to gauge what the interest in something like that might be. I'm planning the framework so no knowledge of HTML is necessary, you can do everything in plain text, and the resulting pages meet accessibility standards. Would this be something BioJ

[2020-02-29 17:25] #863 closed

[2020-02-29 17:26] accismus commented on #863
My apologies, I realized after posting this that it might be considered soliciting. That was not my intention; I was just trying to gauge interest. Please disregard this post.

[2020-02-29 20:02] heuermh commented on #863
Hello @accismus!

As Phil Ewels mentions in a recent talk, there are a lot of options in the project documentation space
https://twitter.com/tallphil/status/1233062875012501504

The BioJava site currently uses Jekyll and is hosted at
https://github.com/biojava/biojava.github.io

That doesn't mean we're not open to suggestions or pull requests ;)

[2020-02-29 21:50] accismus commented on #863
Hi, thanks for not minding the opened issue. Accismus is going to be
dynamic, searchable, and able to meet accessibility standards. Can your
current solution do that too?

On Sat, Feb 29, 2020, 15:02 Michael L Heuer <notifications@github.com>
wrote:

[2020-03-08 02:30] automenta opened #864 "AltAligComparator logic"
Contains a repeat inequality condition:

https://github.com/biojava/biojava/blob/18f57de72a271ae5cbff6f586ee83831089f54fd/biojava-structure/src/main/java/org/biojava/nbio/structure/align/pairwise/AltAligComparator.java#L61

Proposed fix: use Double.compare:

https://github.com/automenta/biojava/blob/master/biojava-structure/src/main/java/org/biojava/nbio/structure/align/pairwise/AltAligComparator.

[2020-03-08 03:24] josemduarte commented on #864
Good catch, thanks! Could you submit a pull request?

[2020-03-27 21:42] Shubhangi2901 commented on #764
Hi @josemduarte  I would love to work on this new feature!

[2020-03-30 21:29] josemduarte commented on #764
Sounds good @Shubhangi2901 , we are always happy to get help.

FYI there's a secondary structure tutorial: https://github.com/biojava/biojava-tutorial/blob/master/structure/secstruc.md

The full implementation and tutorial was done by @lafita

[2020-04-02 13:15] sbliven commented on #855
I think we should allow 5'<3' for circular DNA but not for linear chromosomes. We can detect which type we have based on the LOCUS line.

Note that for circular chromosomes 100..1 is different from 1..100 and neither have anything to do with the reverse strand. Thus it makes sense to raise an error in linear chromosomes.

It would be good to have some tests relating to this issue.

[2020-04-03 00:16] chenzhiw commented on #855
I agree with you @sbliven . Only for circular DNA.

[2020-04-10 14:53] Queuebee2 opened #866 "request: more information on "Unable to retrieve request ID""
https://github.com/biojava/biojava/blob/18f57de72a271ae5cbff6f586ee83831089f54fd/biojava-ws/src/main/java/org/biojava/nbio/ws/alignment/qblast/NCBIQBlastService.java#L230

I keep running into this problem and can't seem to find any documentation on what it means exactly and what I should do (if there's a possible workaround).

Could it mean our IP is banned or that NCBI servers are overloaded or t

[2020-04-12 17:02] didiksupriadi41 commented on #616
Hi @josemduarte , can you draft a new release on https://github.com/josemduarte/forester?
Just so it's clear that the latest log is version 1.038. :confused:

[2020-04-12 22:03] josemduarte commented on #616
Not sure what you mean @didiksupriadi41 . There's a forester release with version 1.038 already: https://search.maven.org/artifact/org.biojava.thirdparty/forester/1.038/jar

[2020-04-12 23:33] josemduarte commented on #866
It could well be that ncbi is returning a 429 code (too many requests). They've been doing that for more than a year now.

The problem here is not so much the error message in line 230, but rather that the code in `NCBIQBlastService` does not seem to be checking that http code 200 is returned. That's really a bug. Would you be able to submit a pull request?

[2020-04-13 03:33] didiksupriadi41 commented on #616
Oh, I mean exactly the github repository.
![image](https://user-images.githubusercontent.com/19786918/79089777-96066780-7d71-11ea-81c4-4757ae99fd1c.png)

[2020-04-13 04:10] Queuebee2 commented on #866
I'm afraid I don't have a clue how to fix such a thing right now, but I'll try looking in to it and asking around for help.

[2020-04-13 05:51] josemduarte commented on #616
Oh I see. Sure that's a good idea.

[2020-04-27 11:23] paolopavan commented on #855
Hello guys, opened a PR to address the issue. Want to have a look?

[2020-04-30 08:51] paolopavan commented on #855
I also created a PR to commit a bit of code cleaning of the files touched. A lot of work more should be actually done in such a sense. I made a different PR to facilitate the review of the main one.

This code cleaning is not related to the new modifications and could be merged separately but actually is built on the top of the previous PR.

[2020-04-30 08:56] paolopavan commented on #855
By the way, I may just miss some pieces or a different way to represent it, does AbstractSequence misses a kind of isCircular property? Would it be good to add?

[2020-06-30 00:31] josemduarte opened #879 "Roadmap for 6.0.0"
A rough roadmap for 6.0.0. All input is welcomed.

- Drop java-8 compatibility. First java-11 release [optional, depends on timing and community needs]
- Drop dependency on legacy RCSB PDB services, e.g. source.rcsb.org. Remove code that uses the dependencies.
- Remove BioJava's own mmCIF parser, making the ciftools-java parser the default one (code already in since 5.3.0). Drop all unneeded code.

[2020-07-02 13:45] sbliven commented on #879
Is java-8 compatibility a burden? Although the Oracle JDK isn't being updated, it's not officially end-of-life until 2022 ([roadmap](https://www.oracle.com/java/technologies/java-se-support-roadmap.html)).

[2020-07-02 21:58] josemduarte commented on #879
I don't oppose keeping java-8 compatibility for 6.0.0. We could drop java-8 in version 6.1 or 7.0

Any opinions?

[2020-07-09 22:20] sbliven commented on #879
ciftools-java seems to be using 11 by default. Maybe that's reason enough to move up.

[2020-07-12 14:55] rayoub opened #883 "Override packaged log4j2.xml"
Using the maven-assembly-plugin to create a single jar with dependencies, I'm unable to create my own log4j2.xml file with a log level of "error" since the log4j2.xml file included from biojava cannot be overwritten from what I can tell. What is the simplest way to raise the default log level to "error" when using biojava?

Thanks.

[2020-07-12 15:16] josemduarte commented on #883
I believe you can override the log4j2 configuration at runtime passing this to the java command line:
[code]

[2020-07-12 20:09] rayoub commented on #883
This works for me. I was hoping to find a way to do this in the maven pom but alas I have given up on that. This is sufficient. Thanks for help.

[2020-07-12 20:09] #883 closed

[2020-08-21 08:53] chenzhiw opened #886 "String Formatter error when key or value of Qualifier has character "%""
feature.addQualifier("note", new Qualifier("note", "coding sequ%_ece", true));
GenbankWriterHelper.writeNucleotideSequence(......)

[code]

[2020-09-11 22:28] Domino2357 opened #887 "Question: assignment of the alpha helices"
Hey folks!

First of all, your software has been incredibly helpful for us to parse the files and to handle the calculations of secondary structures. Thank you very much!
I do have a small question: when calculating the ss, I realized that sometimes alpha helices are not visualized in the 3D-Viewer of the rscb.org. I have attached the example of “3nir”. There is a short alpha helix which is not re

[2020-09-14 09:50] lafita commented on #887
Hi @Domino2357 there are still some differences between the original DSSP and the implementation in BioJava, see #627
Although they are generally minor and affect borderline assignments, but it might be useful to be aware of it. Hope this helps!

[2020-09-14 15:17] dami-gingko-app opened #888 "Question: Protein to DNA"
Really sorry to post this here, but am on a deadline. I cannot find a mechanism to convert a protein sequence to DNA. Is there a way to do so please in Biojava 5?

[2020-09-14 15:26] foreveremain commented on #888
not sure if biojava has a tool that does this - but you could use: http://www.bioinformatics.org/sms2/rev_trans.html

[2020-09-14 15:29] dami-gingko-app commented on #888
Oh dear.... I am writing a program, so may need to hand write a translator, thanks!

[2020-09-14 15:31] foreveremain commented on #888
Unless you care about *optimising* the coding for the protein this is quite trivial - first look at the code that does it the other way ( https://biojava.org/wiki/BioJava%3ACookbook%3ATranslation ) and then pick the first codon for each amino acid in the protein sequence ;)

[2020-09-14 15:42] dami-gingko-app commented on #888
DNATools is in legacy biojava, and I don't seem to be able to download it. Let me figure out the current implementation.

[2020-09-14 15:47] dami-gingko-app commented on #888
Do you have the code/jar for Biojava 1.9 please? It would be an enormous help.

[2020-09-14 15:51] dami-gingko-app commented on #888
It's ok, I found 1.9

[2020-09-14 17:19] heuermh commented on #888
For reference, the 1.x version of biojava is still actively maintained at https://github.com/biojava/biojava-legacy.

The latest release version is 1.9.3, e.g. for Maven
[code]

[2020-09-14 17:53] rgb4268 opened #889 "DNA Alignment k"
I know this is a question, but is there a way to align a DNA sequence to a protein? Can we get the location of the sequence on the protein?

[2020-09-14 21:56] josemduarte commented on #889
How about by translating DNA to protein and then doing a local alignment? Translating is quite easy, see #888 . Regarding alignments, see the relevant part of the tutorial: https://github.com/biojava/biojava-tutorial/blob/master/alignment/README.md

[2020-09-16 12:03] Domino2357 commented on #887
It does help, thank you!

[2020-09-16 16:29] #887 closed

[2020-09-23 16:03] enilapb commented on #886
Have you tested doubling **%%** to scape **%** ?

[2020-09-25 07:36] sbliven commented on #886
I think it probably makes sense for BioJava to handle the escaping rather than forcing the user to do it.

Actually, I don't understand why format is getting called in [GenbankWriter.java:95](https://github.com/biojava/biojava/blob/b9519e4c568e8423dcfb9b5fdb06688935360dd7/biojava-core/src/main/java/org/biojava/nbio/core/sequence/io/GenbankWriter.java#L95) as all. Does calling [PrintWriter.format(s

[2020-09-25 08:22] emckee2006 commented on #886
IIRC, it converts %n to the platform default line separator. There are a
few flags that don't require arguments.

On Fri, Sep 25, 2020, 3:36 AM Spencer Bliven <notifications@github.com>
wrote:

[2020-09-25 09:19] sbliven commented on #887
I don't think this is even a DSSP issue. I tried DSSP at https://www3.cmbi.umcn.nl/xssp/ and it assigned both helices. It looks like the authors chose not to assign the second helix (there is only one HELIX record in the PDB file)

[2020-09-25 09:23] sbliven commented on #886
@emckee2006 Is there any reason why those couldn't be moved inside the HeaderFormat? It would still require escaping some sequences, but at least it only has to happen once.

[2020-09-25 09:29] sbliven commented on #888
Note that the reverse translation will be useless for aligning to real DNA since it will use different codons.

[2020-10-15 15:51] wojdyr opened #892 "Q: how different SuperPosition algorithms compare?"
My question is more about algorithms than about BioJava, but since BioJava has three superposition methods implemented I thought I'd try asking here.
What are good and bad sides of QCP, SVD(Kabsch) and Quat(ernion based algorithm)?
I'm reading a paper about QCP, but it focuses on the good sides only. I wonder: do other methods have advantages over QCP?
Thanks,
Marcin

[2020-10-15 17:42] lafita commented on #892
Hi Marcin,

We did some comparison between the different methods in BioJava some time ago, as they are heavily used by other algorithms. The main advantage of QCP is that the RMSD can be estimated without the need to calculate the full point superpositon. In principle this allows to estimate the RMSD and superposition matrix in two sequential steps, instead of a single one, and is faster if only t

[2020-10-15 18:37] wojdyr commented on #892
Thanks, much appreciated!

[2020-10-15 18:37] #892 closed

[2020-10-30 16:28] nnalpas opened #894 "Proteomics class (from biojava-legacy)"
Hi all,

I was wondering if the proteomics classes (from biojava-legacy) have been transferred to the current biojava?

Thanks,

[2020-10-30 16:29] nnalpas opened #895 "Proteomics classes (from biojava-legacy) implemented in biojava"
Hi all,

I was wondering if the proteomics classes (from biojava-legacy) have been transferred to the current biojava?

Thanks,

[2020-11-01 21:54] josemduarte commented on #894
Duplicate of #895

[2020-11-01 21:54] #894 closed

[2020-11-01 21:58] josemduarte commented on #895
I'm going to say they weren't transferred from biojava-legacy. But I'm not sure which classes exactly you are referring to. Do you happen to know some class names or package names as pointers?

[2020-11-02 04:23] Shilpa-Rani opened #896 "testDSSPParser fails in nbio/structure/secstruc/TestDSSPParser"
The above test deterministically fails due to the commits made after 129a0a1dd0fe2e8daac2b19748e707bcbfd3978d.

[2020-11-02 07:35] nnalpas commented on #895
Hi,
I was particularly interested in the digest class.
Do you know if there are plans to re-include in the future?
If not I wouldn't mind trying to re-implement myself.

[2020-11-02 17:43] josemduarte commented on #895
Alright, found it now thanks. This is the whole proteomics package in legacy: https://github.com/biojava/biojava-legacy/tree/33bedd56d3c0c321748f16073ec2307b745db745/core/src/main/java/org/biojava/bio/proteomics

I don't think there was anyone working on re-including it. But definitely it would be a great contribution, happy to get new Pull Requests!

I think it even deserves a new module: biojava

[2020-11-02 17:58] josemduarte commented on #896
Good catch, thanks!

I think this is due to the RCSB PDB having deprecated the dssp file service (i.e. URLs like http://files.rcsb.org/dssp/pt/5pti/5pti.dssp.gz). The solution will be removing the `DSSPParser.fetch()` method for the upcoming 6.0.0 release.

I'll work on a PR for this.

[2020-11-02 18:26] heuermh commented on #895
That said, if the classes in legacy work fine for you, there isn't any reason not to use them.  Biojava-legacy is maintained, and can co-exist with Biojava proper, as the package names were changed.

[2020-11-03 11:09] nnalpas commented on #895
Yes you are correct, but I also wanted to introduce some additional features.
I will have look and see how much work it is though and then do a pull request.
Thanks again.

[2020-11-03 11:09] #895 closed

[2020-11-06 02:08] mev1482 opened #899 "Migration Documentation"
Is there any migration documentation or updates available for version 5.4.0? This coming after the RCSB updates to their API.

[2020-11-06 22:21] josemduarte commented on #899
We do keep a CHANGELOG. If you look at the one in master branch, you will see that we are already adding a section with all removed functionality expected when 6.0.0 is released: https://github.com/biojava/biojava/blob/master/CHANGELOG.md

[2020-11-11 19:11] #896 closed

[2020-12-07 15:10] sbliven opened #907 "toConciseAlignmentString is non-deterministic"
In #906, @Vidishab18 showed some test cases using [AlignmentTools.toConciseAlignmentString](https://github.com/biojava/biojava/blob/e3e3a1f50964b4fc076c47cbe8a05ea97720a0e0/biojava-structure/src/main/java/org/biojava/nbio/structure/align/util/AlignmentTools.java#L990) can produce different results depending on HashMap iteration order.

The method takes an alignment map (a way of representing a pai

[2020-12-11 19:29] Shilpa-Rani opened #910 "PDBStatusTest might cause flakiness due to network calls"
The following functions in [PDBStatus](https://github.com/biojava/biojava/blob/master/biojava-structure/src/main/java/org/biojava/nbio/structure/PDBStatus.java) are called from [PDBStatusTest.java:](https://github.com/biojava/biojava/blob/master/biojava-structure/src/test/java/org/biojava/nbio/structure/PDBStatusTest.java)
1.public static Status **getStatus**(String pdbId) throws IOException
2.pub

[2020-12-11 20:42] Shilpa-Rani commented on #910
Some of the other tests that failed due to network call flakiness in the builds since October 1st are:

**Biojava-core**:
[code]

**Biojava-structure**:
[code]

Other Reasons - Caused by: java.net.ConnectException:
[code]

**Biojava-integerationtest**
`Error: TestQuatSymmetryDetectorExamples.testLocal:270 Stoichiometry A12B12C12D12E12H2 not expected for BIO:3JC9:1
`

[2020-12-14 02:21] Shilpa-Rani commented on #910
A few more tests that fail because of Network Call are as follows:

[code]

Required Logs:

[code]

[2020-12-14 02:39] Shilpa-Rani commented on #910
A few more tests that fail due to Network Failure in biojava-core:

[code]

[2020-12-14 03:00] Shilpa-Rani commented on #910
A few more tests that fail in biojava-integrationtest because of Network Call are as follows:

[code]

[2021-01-04 10:26] sbliven commented on #910
Thanks for the list of network calls, @Shilpa-Rani.

I think we need to maintain some integration tests that include network calls so that we can detect changes in upstream data sources. However, I agree it would be nice if the main travis CI check was isolated from this so that builds don't fail immediately if the network goes down.

Is it possible to set up two travis processes that run for each

[2021-01-06 00:12] HounerX opened #911 "How to calculate distance matrix from multiple alignment file for DNA"
Hello,
        I hope everyone is doing good.  I am really confused about the difference between multiple sequence alignment object and Msa.  I want to create a distance matrix after I aligned. I keep getting errors. I would really appreciate it if the cookbook can go a little in depth with  multiple sequence alignment .

[code]
Thank you so much.

[2021-01-11 21:53] josemduarte commented on #911
There is an example [`DemoDistanceTree`](https://github.com/biojava/biojava/blob/master/biojava-alignment/src/main/java/demo/DemoDistanceTree.java) in the demo package of biojava-alignment module. Does that help at all? If not could you post the error you are seeing?

[2021-02-03 01:51] JonStargaryen opened #914 "TestHardBioUnits#test4A1I fails when parsing BinaryCIF"
- test passes on CIF but fails on BinaryCIF
- 6th or higher decimal place of coordinates differ between CIF and BinaryCIF - somehow that causes completely wrong results

See discussion in #912.

[2021-02-03 22:32] josemduarte commented on #914
This is likely a bug in SuperpositionQCP. It'd be good to have a unit test that can reliably reproduce the issue.

[2021-02-04 19:29] MaxGreil commented on #843
Hi @josemduarte ,
I would like to take on this issue. Can you please explain what needs to be done here?

[2021-02-04 19:48] josemduarte commented on #843
Thanks @MaxGreil . The issue is quite well explained above. BioJava should be able to parse wrapped records as one record:
[code]

Best would be to have that in a unit test and develop a fix based on the unit test.

There are more details on parse recommendations in the email pasted above:

[2021-02-10 19:14] JonStargaryen commented on #914
Increasing the precision threshold in QCP can fix address this as it will trigger additional iterations for small eigenvectors. See:
https://github.com/biojava/biojava/blob/3b1f1beb48123cfec002fcdaeaa7c1bff79c7f24/biojava-structure/src/main/java/org/biojava/nbio/structure/geometry/SuperPositionQCP.java#L495

I'm not sure about the implications of changing that value. I've checked other tests that

[2021-02-11 00:31] pwrose commented on #914
You may want to ask the original author Douglas Theobald (
dtheobald@brandeis.edu) about this case.

On Wed, Feb 10, 2021 at 11:15 AM Sebastian Bittrich <
notifications@github.com> wrote:

[2021-02-24 18:32] JonStargaryen commented on #914
Good suggestion @pwrose. I've reached out, let's see if I hear back on the issue.

[2021-02-26 16:34] sbliven commented on #879
How are we doing with the 6.0.0 release? 5.4.0 is currently broken due to the legacy RCSB  services, so we don't have a stable released that passes tests. Can we push out a 6.0.0 quickly?

[2021-02-26 16:56] josemduarte commented on #879
Yes I was also concerned about that... I wanted to push an alpha 6.0.0 release ASAP. Later today I'll merge #912 and then I'll tag `6.0.0-alpha1`.

[2021-02-26 17:16] heuermh commented on #879
There are a lot of open issues tagged with [Milestone 6.0.0](https://github.com/biojava/biojava/milestone/9) and even a bunch still on [Milestone 5.3.1](https://github.com/biojava/biojava/milestone/8).  Can we triage these with an eye to making binary incompatible changes now for 6.0.0 and moving others to new 5.4.1/5.5.0 and 6.0.0/6.1.0 milestones?

[2021-02-26 17:36] heuermh commented on #813
Fixed by #814

[2021-02-26 17:36] #813 closed

[2021-02-26 17:37] heuermh commented on #765
Closing as WontFix

[2021-02-26 17:37] #765 closed

[2021-02-26 18:54] josemduarte commented on #849
Solved in a few pull requests: #902 #884 #882

[2021-02-26 18:54] #849 closed

[2021-02-26 18:59] josemduarte commented on #879
Good point. Let's try to do some updating and triaging as soon as possible.

[2021-02-26 19:00] #914 closed

[2021-02-26 20:14] heuermh commented on #349
Fixed in commit https://github.com/biojava/biojava.github.io/commit/413f6a382cc3d52f9343c2e4ee407aec652b19e8

[2021-02-26 20:14] #349 closed

[2021-02-26 22:01] heuermh commented on #855
Fixed by #872

[2021-02-26 22:01] #855 closed

[2021-02-26 23:23] heuermh commented on #879
I've taken a look and updated/closed a few things.

[2021-03-01 16:34] sbliven opened #917 "Symmetry doesn't display with non-US locales"
Running CeSymm or QuatSymm on a system with a non-US locale breaks the nice Jmol axes & polygon display.

This is due to some locales (e.g DE) using commas in floats, which breaks Jmol parsing.

[2021-03-01 17:15] sbliven commented on #911
The problem is that Biojava and forester use different MSA classes. `PairwiseDistanceCalculator` is a forester method and expects `org.forester.msa.Msa` objects, not `org.biojava.nbio.core.sequence.MultipleSequenceAlignment`. Fortunately BioJava provides a wrapper. Use
[code]

[2021-03-02 10:18] #917 closed

[2021-03-03 17:19] josemduarte commented on #879
FYI I'm working on releasing the first alpha since yesterday, but I'm having trouble with the upload to maven. I need to do some refreshing of the pom, will likely submit a PR.

[2021-03-05 06:15] josemduarte commented on #879
I've now released 6.0.0-alpha2 (alpha1 was a test).

[2021-03-10 19:14] MaxGreil opened #923 "EMBL file parser is not parsing features"
While working on issue #843 I had a look at the EMBL file parser.

I used test `givenAnEmilFileWhenProcessEmilFileThanTheSequenceShouldReturnAsExpected` in `EmblReaderTest.java`.

To my understanding, the features in file `embl.test`  are not parsed at all.
Please have a look at `EmblRecord.java`. Variable `featureTable` is just a String that gets assigned and overwritten by the last value.

[2021-03-10 19:16] MaxGreil commented on #460
Hi @josemduarte ,
I would like to take on this issue. Can you please explain what needs to be done here?

[2021-03-11 17:11] #899 closed

[2021-03-11 17:11] #889 closed

[2021-03-11 17:12] #888 closed

[2021-03-11 17:16] josemduarte commented on #460
Thanks for offering help @MaxGreil . I've been looking into this and I'm not sure what we could test. I'd rather close this one which is not very clear in scope.

I'm looking at other issues that you could contribute to. I'll ping you in other issues to ask if you are interested.

[2021-03-11 17:16] #460 closed

[2021-03-11 17:18] josemduarte commented on #911
@HounerX I'll close this one. If something is still unclear, please reopen.

[2021-03-11 17:18] #911 closed

[2021-03-11 17:19] josemduarte commented on #864
@MaxGreil this is a very easy fix and described above. Could you look into it?

[2021-03-11 17:20] josemduarte commented on #866
@MaxGreil could you help with this one?

[2021-03-11 17:30] josemduarte opened #924 "Enable SonarQube integration in CI"
SonarQube is a very nice tool that checks for code quality and test coverage. It is offered for free for open source projects. I've given it a try already, what's missing is hooking it up in CI.

[2021-03-11 17:30] josemduarte commented on #561
Closing, superseded by #924

[2021-03-11 17:30] #561 closed

[2021-03-11 17:31] josemduarte commented on #484
I'll close this, we'd like to add SonarQube support in CI which will handle this. See #924

[2021-03-11 17:31] #484 closed

[2021-03-11 17:34] josemduarte commented on #284
I'll close this for now, since it is outside the main scope of biojava-structure. Please reopen if there is interest.

[2021-03-11 17:34] #284 closed

[2021-03-11 17:37] josemduarte commented on #196
I think this was relying in RCSB's legacy services that are deprecated now. I'll close.

[2021-03-11 17:37] #196 closed

[2021-03-11 17:42] josemduarte commented on #456
I'm going to try to work on this for the 6.0.0 release. It requires some API breaking changes.

[2021-03-11 17:46] josemduarte commented on #436
Parsing for BIRD data is now possible thanks to the new more generic parser of any CIF data introduced in #912  (thanks to https://github.com/rcsb/ciftools-java). I'll close this. Another separate issue is adding support for BIRD data in the BioJava data structure.

[2021-03-11 17:46] #436 closed

[2021-03-11 17:51] josemduarte commented on #333
This is now doable, now that #839 was merged.

@MaxGreil perhaps you want to check this one? It is a larger project that requires quite some effort. But it's quite clearly defined.

[2021-03-13 08:16] #864 closed

[2021-03-13 11:12] MaxGreil commented on #866
Hi @josemduarte , I can have a look at this issue.

However, I tried with test `NCBIQBlastServiceDemo` and did not get the same exception.

Do you have a minimal working example to reproduce this bug?

[2021-03-13 14:52] Queuebee2 commented on #866
Oh my, It's been almost a year. I must say that I didn't have much of a clue of what I was doing back then and still don't. I created this MWE to test it again.

### In a file `UnableToRetrieveIDErrorMWE.java`:
[code]

### and here are the `pom.xml` dependencies used:
[code]

One solution I tested is not to actually send the full contents of a fasta file as a String, but only single sequences. I g

[2021-03-16 05:19] josemduarte commented on #866
Indeed `NCBIQBlastService` requires just a sequence or a ncbi id, the javadocs are very clear:
[code]
So there seems to be no issue here at all. Let's close it then.

BTW @Queuebee2 your pom file looks a bit odd. You should be using the same biojava version across and best would be to  use the most recent available (5.4.0)

[2021-03-16 05:19] #866 closed

[2021-03-16 18:36] MaxGreil commented on #333
@josemduarte I will have a look at this issue

[2021-03-26 22:58] #843 closed

[2021-04-27 22:14] zedomel opened #929 "BondMaker - Could not find atoms specified in SSBOND record"
Hi,

I'm getting the follow warning when reading a PDB file:
<pre>
[main] WARN  org.biojava.nbio.structure.io.BondMaker - Could not find atoms specified in SSBOND record: [SSBOND:
Atom 1:
	Chain: I
	Residue #: 24
	Ins. Code:
Atom 2:
	Chain: I
	Residue #: 56
	Ins. Code:
]
</pre>

Looking at the code it seems that `PDBFileParser::triggerEndFileChecks` is being called before `PDBFileParser::formBonds

[2021-05-03 17:36] josemduarte commented on #929
Thanks for the report @zedomel . First of all one important point: I think this feature works well when reading from mmCIF files. If you are dealing with PDB-deposited files, then I would strongly recommend to use mmCIF. It has been the main format for many years now, whilst the PDB format is considered legacy. Also most software packages for structure solution will output in mmCIF format.

In any

[2021-05-11 08:31] sbliven opened #930 "Support extended PDB IDs"
The wwPDB will run out of 4-character PDB IDs soon and will switch to an extended format: https://www.wwpdb.org/news/news?year=2021#607760112786e73a79c76f9d

The new format will be eight characters prefixed by ‘PDB’, e.g., pdb_00001abc.

Chemical compounds will also run out of 3-letter identifiers soon and will switch to 4-letter identifiers. These are incompatible with the PDB file format.

We sh

[2021-05-11 08:35] aalhossary commented on #930
I can take care of it.
Is there a specific time frame?

[2021-06-08 04:19] zacharyrs opened #931 "Unusual entity info after conversion from `mmtf` to `pdb` and back"
Taking an `mmtf`, converting to `pdb`, and then back to `mmtf` yields some funky entity info.

Specifically, take "3zyb", which has 6 entities, the first of is "PA-I galactophilic lectin", with asymIds A through H.
After converting to a `pdb` and back, we have an unnamed first entity (expected), with asymIds as below.
[code]
I don't think this is desired?

The other entities have the correct numbe

[2021-06-09 11:25] aalhossary opened #932 "Empty entity list when parsing PDB ID 3FDJ source record"
When I tried to parse 3FDJ, an IndexOutOfBoundsException is thrown in the pdb_SOURCE_Handler() function.

	at java.base/java.util.ArrayList.get(ArrayList.java:427)
	at org.biojava.nbio.structure.io.PDBFileParser.sourceValueSetter(PDBFileParser.java:1255)
	at org.biojava.nbio.structure.io.PDBFileParser.pdb_SOURCE_Handler(PDBFileParser.java:1221)
	at org.biojava.nbio.structure.io.PDBFileParser.makeC

[2021-06-15 07:46] aalhossary commented on #932
I found the cause of the bug.
It is because the token '(ZVNW5VJFOAACMF8NLOPRFTMWH60:01:1-275)' contains a colon ':'.
I will fix it and create a PR.

[2021-06-16 17:27] aalhossary opened #933 "URLConnection to invalid HTTP URL is not detected as a failure"
TestDownloadChemCompProvider.testIfWeCachedGarbageWeCanDetectIt() still fails to detect when the target URL is invalid or the file has no contents. Instead of deleting the local cache file, a 20 bytes file (effectively an empty one) is saved.
Related to #703

[2021-06-16 17:34] josemduarte commented on #933
Thanks @aalhossary . Actually I noticed this and fixed it in master a few days ago. Are you in latest master?

[2021-06-16 17:40] aalhossary commented on #933
Yes I am. I noticed it when I was running the tests to building a jar before sumitting another fix.

To fix it I added a flag that will be true only if a file could be actually read.
I will create a PR soon.

Amr

From: Jose Manuel Duarte ***@***.***>
Sent: Thursday, June 17, 2021 1:35 AM
To: biojava/biojava ***@***.***>
Cc: Amr ALHOSSARY ***@***.***>; Mention ***@***.***>
Subject: Re: [biojava/bi

[2021-06-16 17:58] aalhossary opened #934 "Several file and path issues on windows: space, colon ':', and parameters string"
Fix several file and path issues on windows

MS Windows has file and path problems:
1- spaces are not handled well in URL. Converting it to a URI handles decoding the path well.
2- TestURLIdentifier fails because when the connection is to a file and it contains parameters (e.g. ?format=PDB), they are perceived as part of the file name. getting the path first fixes it.
3- TestMmtfStructureReader an

[2021-06-16 21:10] josemduarte commented on #931
Thanks for the report. That looks like a bug in `EntityFinder.findPolyEntities()`, which is used when reading from PDB file when no COMPND records are present. Entities are found by sequence alignment of chains. I'll see if I can have a look.

In any case, I would recommend in general to use mmCIF as the way to write out. The PDB format has been legacy for a long time.

[2021-06-17 18:46] josemduarte commented on #931
See fix in #938 . This was purely a PDB-format reading issue. `EntityFinder.findPolyEntities()` wasn't working properly for entities with more than 3 chains.

[2021-06-24 04:41] #931 closed

[2021-06-24 16:41] #934 closed

[2021-06-24 16:43] #933 closed

[2021-06-25 00:12] #932 closed

[2021-07-01 14:51] jamesmorris commented on #886
Hello, I have recently come across this issue myself. Is anybody currently working a fix for this problem?

If not I am happy to have a go at proposing a solution

[2021-07-01 15:32] josemduarte commented on #886
Thanks @jamesmorris , I don't think anyone is working on it. We're always happy with pull requests :)

[2021-07-01 18:03] emckee2006 commented on #886
That might not be a bad idea...

On Fri, Sep 25, 2020, 5:23 AM Spencer Bliven ***@***.***>
wrote:

[2021-07-12 10:15] jamesmorris opened #942 "GenBankWriter does not use information in the original header"
Hello,

I have recently been working on adding an accession ID to a few hundred GenBank files using biojava.

I have been using the following approach:
1. First reading the GenBank format files into a DNASequence object using GenbankReaderHelper.readGenbankDNASequence()
2. Then adding the accession ID with the setAccession(new AccessionID("new_accession")) method on the DNASequence object
3. Final

[2021-07-20 21:04] richarda23 commented on #942
Hi,
Looking at Genbank spec and example sample record, there is only 1 field to hold the locus name: https://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html
which currently takes the accessionId when writing. So there doesn't seem a way to store the original and new one at the same time? Or are you just expecting the 'ACCESSION' row to change?

This is the spec from the above link, so I guess what

[2021-07-21 12:35] cleberecht opened #943 "NPE when parsing certain PDB structures with "params.setCreateAtomBonds(true)""
Hi,
thank you a lot providing and updating BioJava continuously.

I encountered a problem with the legacy pdb file parsing in the latest `6.0.0-alpha4` version of BioJava. When creating creating bonds an NPE is thrown.

Minimal (not)working example:
[code]
throws
[code]
I think there is a problem with the legacy chain id format where `authId:C` is requested but only `asymId:A` and `asymId:B` are p

[2021-07-23 16:43] richarda23 opened #944 "Improve test coverage - currently 49.5% in bio-java core"
Test coverage is little low - covering more code would enable
 - more confident refactoring. In a code-base with contributions over a long period of time there are cases where new language features can replace existing code in perhaps a more reliable way, but without tests it's sometimes hard to be sure
 - greater confidence in the existing functionality
 - self-documentation of methods
 - identif

[2021-07-23 22:18] aalhossary commented on #879
Will we support long PDB IDs in version 6.0?
I am still working on it.

[2021-07-24 16:49] aalhossary opened #946 "parse PDB record KEYWDS"
The KEYWDS record contains a set of terms relevant to the entry. Terms in the KEYWDS record provide a simple means of categorizing entries and may be used to generate index files. This record addresses some of the limitations found in the classification field of the HEADER record. It provides the opportunity to add further annotation to the entry in a concise and computer-searchable fashion.

This

[2021-07-24 16:50] aalhossary commented on #946
I will parse the **PDB** variant for now.

[2021-07-25 04:41] aalhossary opened #947 "Fetch, cache, load, and view electron density maps"
The validation files are provided from **PDBe**, in [ftp.ebi.ac.uk/pub/databases/pdb/validation_reports/](http://ftp.ebi.ac.uk/pub/databases/pdb/validation_reports/).

We need to establish a 1ry mechanism to fetch and cache them as we do with atomfiles.
Then to load them into Jmol when needed.

[2021-07-26 12:51] aalhossary commented on #930
I created a new class `PDBId` that holds a string representing the PDB ID, always in the new (_extended_) format and always in UPPER CASE. It has a convenient constructor, hashCode(), compareTo(), as well as static methods to convert to and from String in the short format (if possible).
Whenever the old PDB Id format is used in `Structure`, `StructureImpl` or `StructureName`, I made conversion tha

[2021-07-26 14:31] aalhossary commented on #930
I will also remove `StructureTools.getReducedStructure(Structure s, String chainId)` which is deprecated since BioJava 4.2.0

[2021-07-26 16:58] josemduarte commented on #944
Thanks @richarda23 . Totally agree, this has been an eternal pending issue for this project. More test coverage is badly needed.

One curiosity. How did you measure coverage?

I actually setup SonarCloud for biojava sometime ago (which does coverage too), but I'm not sure if that's accessible to everyone.

[2021-07-26 17:55] josemduarte commented on #943
Thanks for reporting @cleberecht . I'll see if I can work on a fix. As a general advice, PDB format is legacy and with time support for it will be degrading to the most basic parsing only. If you are dealing with deposited PDB files, please use mmCIF or BCIF.

[2021-07-30 22:34] richarda23 commented on #944
For this, I just manually  ran EclEmma which is an Eclipse plugin (I'm not sure if it's actually maintained any longer), but  I expect most tools give similar information.

[2021-07-31 20:15] sbliven opened #952 "Migrate away from travis-ci?"
In June travis-ci.org was shut down and migrated to travis-ci.com. This apparently involves stronger limits on computation time for free projects. As a result many projects (e.g. biopython) are migrating to github actions. Should biojava do the same?

Another option might be to apply for an [OSS Credits allowance](https://docs.travis-ci.com/user/billing-faq/#what-if-i-am-building-open-source) to c

[2021-07-31 20:29] sbliven commented on #952
The current github actions set up by @HanSolo (#893) work very nicely. We could switch our documentation and commit hooks to reference the github actions instead of travis. That way if travis limits our build time in the future it won't break anything.

[2021-08-02 17:54] josemduarte commented on #879
Long PDB ids are not that urgent. I think it would be more urgent to release 6.0.0. For that, we only need worrying about breaking changes and removals. I suppose long PDB ids are not a breaking change, so they wouldn't be that urgent.

[2021-08-02 18:02] josemduarte commented on #952
Just want to add some notes on things I tried recently. I did the migration from travis-ci.org and travis-ci.com. It has been working fine for some time. But as you say perhaps we are reaching the limits of the free tier.

What I've struggled with is in running CI with Pull Requests. Both travis-ci.com and github workflows broke down at some point (they would sit there waiting forever). At the mom

[2021-08-03 11:26] aalhossary commented on #879
My changes are Breaking ones with some removals. :)
Anyway, my previous comment was 11 days ago and I already did and submitted a pull request. Spencer's comments should be addressed tonight, insha' Allah.

[2021-08-14 14:33] richarda23 commented on #923
Hi, is there a proper implementation of this spec anywhere in Biojava https://www.insdc.org/documents/feature-table which I think describes the FeatureTable syntax and usage? There looks to be a partial implementation for Genbank feature parsing but nothing for EMBL at all ( as described here)

[2021-08-15 10:07] CoolKangaroo2022 opened #956 "Missing javadoc"
Hello! I find in your [CONTRIBUTING.md](https://github.com/biojava/biojava/blob/600763eebe45a4d215613a1b1e295341b6d3640a/CONTRIBUTING.md#coding) that

However, I still witness some public methods without Javadocs.
I find likely missing Javadoc in the following files:
* biojava-structure/src/main/java/org/biojava/nbio/structure/align/xml/MultipleAlignmentXMLParser.java
* biojava-structure/src/main/

[2021-08-16 22:12] josemduarte commented on #956
What we write in CONTRIBUTING.md is our aspiration as to the quality of code and docs in the project. Old code might not always adhere to it, but going forward new contributions are expected to follow the guidelines.

As for older code, as you notice there are missing docs in quite a few places. We are always happy to have a new pair of hands to help! If you can provide a Pull Request that would b

[2021-08-18 07:46] richarda23 commented on #956
A good way to create meaningful Javadoc, if there are no unit tests either is to write some unit tests to validate the functionality of the method, what exceptions are thrown, what are valid input arguments.  I've been trying to do this approach recently  with missing javadoc and unit tests in biojava-core/ util package.

Looking at MultipleAlignmentXMLParser the underlying problem seems to be tha

[2021-08-21 23:52] josemduarte commented on #956
Good point @richarda23 . In this case my guess is that those methods should have been private. Actually we have not released 6.0.0 yet and there's still the opportunity to refactor them to private as a breaking change, with proper documentation in the changelog.

@lafita it looks this was your code. Would you see any reason not to make them private?

I think using API annotations would be wonderfu

[2021-08-23 04:18] aalhossary opened #958 "Travis-CI not running for negative credit balance"
Travis-CI does not run BioJava for some reason related to negative balance!!!
Here is the error message
**Builds have been temporarily disabled for public repositories due to a negative credit balance. Please go to the Plan page to replenish your credit balance or alter your Consume paid credits for OSS setting.**

[2021-08-24 21:44] aalhossary commented on #958
Update: It seems that `remoteURL.openStream(); ` is working back now.
I will update the issue text and title

[2021-08-28 11:27] richarda23 commented on #694
Hi
Made a PR for this as fix seems quite easy and doesn't break any API as it is just altering an Annotation value ( defined as Object) to be a jva.util.List, not a String

Is Annotation too generic a mechanism though for modelling information on a  well -defined data structure like obo, would it be better to have specific methods like getAltIds(), getComments() etc? (Not for this issue, just a ge

[2021-08-28 12:04] lafita commented on #956
Yes, only the `parseXMLfile` method should be public in this case. Thanks for flagging this!

[2021-08-28 20:40] josemduarte commented on #958
Thanks for catching it @aalhossary . It does look like we have run out of credits on the free-plan at travis-ci.com. I don't see how or when we will get more credits. After some googling, it seems this is a common problem.

Is the only solution dropping travis-ci and using github workflows only? Any experience on this anyone?

[2021-08-28 20:42] josemduarte commented on #956
Thanks for confirming @lafita . Ok then I will make them private and add that to the 6.0.0 changelog.

[2021-08-28 20:49] #956 closed

[2021-08-29 08:57] aalhossary commented on #958
The only experience I have is rerunning the same tests from my (personal) travis-ci account, considering that my BioJava is a clone of the BioJava/BioJava.

There is no harm in giving GitHub workflow actions a try.

[2021-09-03 07:07] NatureGeorge opened #962 "Identical Interaction of AU and BU But Different AtomsInContact (biojava-structure)"
Hi! I am using `org.biojava.nbio.structure.StructureTools.getAtomsInContact` to check whether two polymer chains are in contact. I also want to skip those interactions in BiologicalUnit that are redundant compared to AsymmetricUnit. So I tried comparing their contact atoms numbers and operator_id (the former is not robust and maybe the latter is sufficient). Anyway, I found that the same binary in

[2021-09-03 09:09] NatureGeorge commented on #962
find the error in my code. (`getReducedStructure`)

[2021-09-03 09:09] #962 closed

[2021-09-03 10:09] jlerbsc opened #963 "Compilation errors on classes CRC64ChecksumTest, FlatFileCacheTest"
It seems there is compilation errors on the lastest version. Can you reproduce these errors? What is the java version to use with this project?

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:testCompile (default-testCompile) on project biojava-core: Compilation failure: Compilation failure:
[ERROR] /D:/dev/projects/biojava/biojava-core/src/test/java/org/biojav

[2021-09-03 10:20] jlerbsc commented on #963
It seems that with java 11 there is no compilation errors but there are test failures.

[2021-09-03 15:47] josemduarte commented on #962
Glad that you found the problem. BTW you can get the first biological assembly of any PDB entry with this shortcut:
[code]

[2021-09-03 15:50] josemduarte commented on #963
I've just built and run all tests with java 11 and did not get any test failures.

In PR #959 a test that did not work on java 8 was removed (CRC64ChecksumTest). When that is merged, it should build and test correctly both on 8 and 11.

[2021-09-12 09:23] richarda23 opened #964 "ParseGO demo application doesn't work"
Initially this doesn't work as the URL
`http://sourceforge.net/p/song/svn/HEAD/tree/trunk/subsets/biosapiens.obo?format=raw` is redirected to https. So  changing the URL to https will fix this.
Using a logger to show output is also broken - no output is actually printed to the console. For a simple main application, would it be more robust to use System.out.println statements to ensure some output

[2021-09-12 21:29] richarda23 opened #966 "Main methods in classes are untested and some no longer work"
Many classes have main methods. E.g. here is a listing of those in core project:
[code]
These may be to help users run the code, to get started, as a basic quick and dirty CLI tool or simply a test that the code works. it's not really clear what is the purpose.

Some of these don't run. For example `FastaReader` expects a hardcoded file '/Users/Scooter/scripps/dyadic/c1-454Scaffolds.faa'
which cle

[2021-09-17 19:30] sbliven commented on #958
Related to #952.

[2021-09-18 04:34] josemduarte commented on #966
I think many of those main methods are tests used for debugging or quick and dirty CLIs. My opinion is that those should be removed.

Any main method that is there for the purpose of demoing a functionality could stay, or even better be transferred to the demo package, which is the preferred BioJava convention.

[2021-09-18 18:48] josemduarte commented on #964
I do agree that demo applications are better off with simple System.out/err.print statements. Logging is not guaranteed to be set up properly in an end-user environment.

[2021-09-20 17:37] #946 closed

[2021-09-20 18:25] #943 closed

[2021-09-20 18:50] josemduarte commented on #963
This is fixed in master now.

[2021-09-20 18:50] #963 closed

[2021-09-20 18:50] #964 closed

[2021-09-20 18:51] josemduarte commented on #958
I'll close this as duplicate of #952 . We'll continue the discussion there.

[2021-09-20 18:51] #958 closed

[2021-09-20 19:02] josemduarte commented on #952
Now github workflows are the only enabled CI for BioJava. However the github workflow build is failing due to the openchart dependency of biojava-alignment (itself a dependency of the forester package, see https://github.com/cmzmasek/forester/issues/12 for some background):

[code]

In other environments this was simply a warning instead of a failure:
[code]

There must be something in github work

[2021-09-20 20:19] heuermh commented on #952
I think helping forester publish to Maven Center is the best way forward, hopefully we can help make that happen.

[2021-09-20 20:32] josemduarte commented on #952
Forester itself is in maven central (we did it ourselves, in the biojava-thirdparty namespace). What's not in maven central is the openchart dependency that forester has. See our foresters's fork pom:

[code]

If openchart source code was available somewhere and their license allowed it, we could try to host it under biojava-thirdparty.

[2021-09-22 12:21] aalhossary commented on #952
System scope is disabled in new maven versions.

Look at [this Page.](https://stackoverflow.com/questions/10935135/maven-and-adding-jars-to-system-scope)

[2021-09-22 17:52] josemduarte commented on #952
Thanks for the tip @vasiliy-bout . I've tried that, but the jar file that the jboss repo provides seems to be corrupted:

[code]

Thanks @aalhossary , that confirms it is a maven version problem

[2021-09-22 19:03] erikedlund commented on #929
I'm running into a variant of this bug loading structure 1A4W from a .pdb with `FileParsingParams.setCreateAtomBonds(true)`

It results in a NullPointerException preventing parsing. Looks like the SSBondImpl gets an author chain ID, while the BondMaker class is looking for an asym_id in `getAtomFromRecord()`

[2021-09-22 20:34] josemduarte commented on #929
Thanks @erikedlund . Actually this is related to a bug that was recently fixed (see #943 and #961 ). It seems that ssbonds are not treated correctly yet. I'll look into it.

[2021-09-22 21:00] josemduarte commented on #929
In any case, again I'll reiterate that this yet another PDB parser bug, that is not present in mmCIF parser. PDB-format files are legacy and going forward support for them will be waning.

If you are dealing with PDB-deposited structures, then please switch to mmCIF or BinaryCIF.

[2021-09-25 00:36] aalhossary opened #969 "SCOP files < 2.08 not available for download"
the web folder [https://scop.berkeley.edu/downloads/parse/](https://scop.berkeley.edu/downloads/parse/) contains files of version 2.08 only.

All previous files are no longer available.

[2021-09-25 01:23] aalhossary opened #970 "Recent unit tests fail on Windows"
Reasons for failure are related to

- EOL difference between Linux (\n) and Windows (\r\n)
- Separator (/ in Linux and \ in Windows)

[2021-09-29 16:11] jmchandonia commented on #969
Sorry, that was an error on my part in releasing SCOPe 2.08.  All the downloadable files for previous releases are now available again.  We're still working on generating ASTRAL sequences and subsets for 2.08, so those will be available soon.

[2021-09-29 16:46] josemduarte commented on #969
Thanks for the info @jmchandonia

In any case, changing the default to 2.0.8 ( #972) is still a good idea, thanks @aalhossary .

[2021-09-29 16:46] #969 closed

[2021-09-30 11:45] vasiliy-bout commented on #952
@josemduarte , this is strange. Here is my output:
[code]

So the JAR looks good in my maven cache.

[2021-09-30 18:57] josemduarte commented on #952
Thanks again @vasiliy-bout . After some more debugging, it turns out that our local maven repo (nexus3) had a bad jar in the cache. So yes, it works with the jboss jar. I'll see if I can push that later today.

[2021-09-30 21:23] josemduarte opened #975 "biojava-protmod requires external resources that are no longer freely available"
All files needed are from phosphosite resource, e.g.:

https://www.phosphosite.org/downloads/Acetylation_site_dataset.gz ,

They give a 403 error code on download (forbidden). The only way to download it now seems to be by going to the website and logging in.

[2021-09-30 21:23] josemduarte commented on #952
I've released a new biojava-thirdparty/forester (1.039) and bumped the version up in biojava's pom (pushed to master already). The test now passes.

Now we have the next problem: biojava-protmod depends on an external resource that's no longer available, see #975

[2021-09-30 21:31] josemduarte commented on #952
For the moment, to get the CI pipeline going, I'm going to `@Ignore` the test.

[2021-09-30 22:35] #970 closed

[2021-10-01 16:29] josemduarte commented on #929
Now fixed. I'll create a new 6.0.0-alpha release as soon as possible, which will include this fix.

[2021-10-01 16:29] #929 closed

[2021-10-04 23:27] josemduarte commented on #929
`6.0.0-alpha7` is out, which includes this fix. In any case, we hope to have the official 6.0.0 out soon.

[2021-10-05 22:20] zidingz opened #977 "Add SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@srikanthprathi) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2021-10-09 08:17] aalhossary opened #978 "Issues in PdbPair class"
1) The class documentation mentions that **name1 is always < name2**.
However, there is nothing in the class that ensures this order.

2) In case we enforce it using the already implemented method `Comparable<PdbPair>.compareTo()` to order the two passed-in parameters to the constructor, what to do if they are `equal` ? Shall we consider both objects the same?

3) Based on the current implementati

[2021-10-10 07:45] aalhossary opened #979 "BerkeleyScopInstallationTest.traverseHierarchy() needs update"
Version 2.08 fails this test.
I commented out line 50 (`ScopFactory.LATEST_VERSION,`) to work around it locally. But we need to fix it please.

[2021-10-10 07:46] aalhossary commented on #979
@sbliven Can you fix this please?

[2021-10-11 16:47] aalhossary commented on #979
Thank you for your reply @josemduarte.
After double checking, I found now that my dir.cla.scop.txt_2.08 file was incompletely downloaded (20 MB instead of 33 MB).
When I deleted and redownloaded it, everything worked fine.

Sorry for the false alarm. I will close the issue now.

[2021-10-11 16:47] #979 closed

[2021-10-11 20:37] aalhossary opened #980 "Detect incomplete or corrupted downloaded files"
- It is quite often when a file is being downloaded that it downloads incomplete or corrupted; which could lead to unexpected potential problems.

- I propose to create one (_or two_) files beside the target file **target.ext**, named **target.ext.size** (and **target.ext.sha**).
- When we need to parse a file, we currently check its presence (e.g. in `ScopInstallation.ensureClaInstalled()` for SC

[2021-10-11 23:52] josemduarte commented on #977
Thanks @zidingz . I'll add a security.md as soon as I can find a good way of having a public email address.

[2021-10-16 00:13] #978 closed

[2021-10-20 07:56] RoshanShrestha123 opened #983 "Q. Inquiry for the Alignment Render in the BioJava."
Hello,

I am software developer (new to biojava) currently using the Biojava API [biojava-core - 4.0.0 , alignment -1.9.3] for an application.

We are trying to accomplish Alignment render of the Query and the target
on Blast search like the image below. We are using the SmithWaterman algorithm for local Alignment. Now we are looking for a different way to visualize exactly where the sequence was

[2021-10-20 12:19] willishf commented on #983
Not sure of the current status of the RichSequenceViewer that I put
together many many years ago and probably in BioJava legacy at this point
but should be what you are looking for.

https://biojava.org/wiki/BioJava:CookBook:Interfaces:ProteinPeptideFeatures
found at https://biojava.org/wiki/BioJava:CookBookLegacy as well as
https://biojava.org/wiki/BioJava:CookBook:Interfaces:Alignments

You can

[2021-10-21 03:19] RoshanShrestha123 commented on #983
Thank you @willishf , :tada:
I will look into the link you shared.

[2021-10-27 07:47] pgrt opened #986 "Switching to ciftools-java 3.0.0"
Hello,

I am working on the Debian packaging of biojava 5.4.0 : I wrote the enclosed patch to depend on ciftools-java 3.0.0 instead of the version your code is written for. I am proposing the patch in case you would like to upgrade the dependency.

[adapting_to_ciftools-java3.txt](https://github.com/biojava/biojava/files/7424199/adapting_to_ciftools-java3.txt)

Best,
Pierre

[2021-10-27 07:50] pgrt opened #987 "Wrong dependencies version in a sub-pom of biojava 5.4.0"
Hello,

In one of the poms of biojava 5.4.0, the versions of the dependencies are wrong. The attached patch corrects this.

[wrong_version_in_dependency.txt](https://github.com/biojava/biojava/files/7424221/wrong_version_in_dependency.txt)

Best,
Pierre

[2021-10-27 07:52] pgrt opened #988 "Switching to jgrapht 1.5.1"
Hello,

While packaging biojava 5.4.0 for Debian, I used jgrapht 1.5.1. If you would like to upgrade the dependency of biojava to jgrapht 1.5.1, the enclosed patch should be useful to you.

[adapting_to_jgrapht1.5.1.txt](https://github.com/biojava/biojava/files/7424228/adapting_to_jgrapht1.5.1.txt)

Best,
Pierre

[2021-10-28 22:05] erikedlund opened #990 "CONECT records multiplied when parsing structures"
Hello,

I've noticed an issue where parsed Structure objects aren't consistently creating CONECT records when exported to PDB format. This appears to be a regression since version 4.2.8. Here's an example with RCSB's 4HHB.

I'd expect these counts to match, but they appear to be multiplied.

[4hhb.pdb.txt](https://github.com/biojava/biojava/files/7437551/4hhb.pdb.txt)

[code]

`File 4hhb.pdb.txt c

[2021-10-29 21:42] #930 closed

[2021-10-29 21:45] josemduarte commented on #879
I will release the final 6.0.0 later today. After that I'll clean up the milestones and bump them up to next version if they are still valid.

[2021-10-29 22:13] josemduarte commented on #987
Now fixed in master. It will be out in 6.0.0 to be released later today.

[2021-10-29 22:13] #987 closed

[2021-10-29 22:28] josemduarte commented on #988
Ok it turns out it was quite straight forward. Now upgraded. The change will be out in 6.0.0 later today.

[2021-10-29 22:28] #988 closed

[2021-10-29 23:16] josemduarte commented on #986
Fixed in 6.0.0 release (now out)

[2021-10-29 23:16] #986 closed

[2021-10-29 23:16] josemduarte commented on #879
Now released!

[2021-10-29 23:16] #879 closed

[2021-10-30 00:12] aalhossary commented on #990
@erikedlund if you don't have more comments, may you close this issue please?

[2021-10-30 02:52] josemduarte commented on #952
Github workflows are now working both for pushes to master and pull requests.

[2021-10-30 02:52] #952 closed

[2021-10-30 03:36] #990 closed

[2021-10-30 04:00] josemduarte commented on #789
Closing. I'm trying to get sonarqube working in CI #924

[2021-10-30 04:00] #789 closed

[2021-10-30 06:12] josemduarte commented on #924
Now added sonarqube in github workflow (on master push only)

[2021-10-30 06:12] #924 closed

[2021-10-30 07:31] Sounak123 commented on #980
Hi, Could you please provide me a brief overview on where the change is required? I would like to contribute!

[2021-10-31 15:05] aalhossary commented on #662
related to #946

[2021-11-04 07:30] aalhossary opened #992 "PDB Different Date fields"
I am not sure I understand the _exact_ difference between the three dates in structure object.
According to my understanding:
- **depDate**: The initial deposition date even before the file was released
- **RelDate**: the date of the (first / latest ?) release.
- **ModDate**: some date (?) that is after the `relDate`??????!!!!!!!! (totally confused)

[2021-11-04 07:31] aalhossary commented on #992
@JonStargaryen

[2021-11-04 07:51] aalhossary commented on #980
Hi @Sounak123, sorry for my late reply.
We always welcome new contributors.

You will need to create 2 abstract methods somewhere in biojava-core

- `createValidationFiles(URLConnection resource, File localDestination, URLConnection sourceHassh)`
- `boolean validateFile(File localFile)`

The `sourceHash` may be `null` if the server does not provide it.

When we want to download a file, we call `cr

[2021-11-04 08:59] aalhossary commented on #992
For instance **1M3Q** has

- depDate 2002-06-28
- relDate 2004-02-17
- modDate 2021-10-27

[2021-11-04 16:17] JonStargaryen commented on #992
This high-level rendering should provide some clarity: https://www.rcsb.org/versions/1M3Q

Deposition date: when the structure entered the system
Release date: when the structure became publicly available
Modification date: date of the last change to the structure

[2021-11-05 23:58] aalhossary commented on #992
Well,
in **5O81** the modDate is the epoch point (1/1/1970 00:00:00), which is a valid but wrong date, and it falls before the deposition date.

in PDBFileParser lines 2873-2883
[code]
			if (! depositionDate.equals(modDate)){
				// depDate is 0000-00-00
				pdbHeader.setModDate(depositionDate);
			}
[code]

[2021-11-07 04:23] aalhossary opened #993 "Support of D-AminoAcids"
D-AminoAcids (https://proteopedia.org/wiki/index.php/Amino_Acids) are optical isomers or enantiomers (mirror images) of naturally occuring L-AminoAcids. They have the same structure but with opposite chirality.
When I parse structures that contain D-AminoAcids, they are parser as hetatoms.

Here are some of my notes:

- I tried adding the D-AminoAcids to StructureTools lookup table, but that was n

[2021-11-07 16:47] aalhossary commented on #993
Here is another question for community discussion:
When an amino acid (regardless to being L or D) is the substrate (say in an oligopeptide), is it considered both polymeric and ligand or only one of them?

[2021-11-09 04:46] josemduarte commented on #992
Good catch @aalhossary . That looks like a bug in the CIF parsing. Whilst it looks like PDB parser does fine.

The problem is for the case that only 1 revision date is available, then the CIF parser only assigns the relDate but not the modDate, but it should assign both.

See:

https://github.com/biojava/biojava/blob/baefba4b3e6e73a79355c031f80da825022ad397/biojava-structure/src/main/java/org/bioj

[2021-11-09 08:56] aalhossary commented on #992
Thank you @josemduarte.
I will work on it -hopefully- tomorrow.

[2021-11-14 22:24] richarda23 commented on #966
Sorry for the delay on this, was working on another project.

Will raise a PR based on these  proposed actions. For main classes that may be useful as tests i will write junits for them if one doesn't already exist.

class, proposed action, reason

FileDownloadUtils,remove,hardcodedfiles and  doesn't work
InsdcParser,remove or rewrite as junit,is test only
GenbankProxySequenceReader,remove,doesn't

[2021-11-17 19:54] richarda23 commented on #944
Latest values are 75% class, 56% method, 58% line - so some improvement. Will try to add more tests to at least touch uncovered non-trivial classes

[2021-11-17 21:35] josemduarte commented on #944
That's great news. Thanks @richarda23 . FYI I did set up Sonarqube cloud in CI. But I think test coverage reporting is somehow not working.

Anyway if you are interested the Sonarqube reports are available here: https://sonarcloud.io/organizations/biojava/projects . Let me know if you can't access that and I'll see how to add accounts.

[2021-11-19 04:45] #966 closed

[2021-11-19 20:03] richarda23 commented on #944
Thanks Jose. I'm tackling some classes now in biojava-core o.b.n.core.sequence package (ChromosomeSequence, ExonSequence etc) as some of these aren't covered by tests.
I've come across quite a few issues with some of the classes that I would consider bugs, for example:
 - equals and hashcode throwing  NullPointer exceptions as some of the properties used by equals() in AbstractSequence aren't set

[2021-11-19 22:08] josemduarte commented on #944
That sounds like a good plan @richarda23 . Let's start a discussion based on a PR.

[2021-11-20 01:53] josemduarte commented on #993
I have some reservations about making d-aminoacids behave just as normal aminoacids in biojava. When they appear as part of polymers in the PDB, they appear mostly as short peptides, not as full proteins. Also there are a few cases in the PDB where there are engineered proteins composed of only D-aminoacids (e.g. in racemic mixture crystals) but in any case very rare and non-natural.

I can see ho

[2021-11-20 03:21] aalhossary commented on #993
I agree to most of your points @josemduarte.
D-AminoAcids are not as frequent as L-AminoAcids (at least yet). However, there are aminoacids at the end of the day.
They have the natural right to possess getN(), getC(), getO() as all other free AminoAcids citizens (sorry for the silly joke :) ).
Depriving D-AminoAcids from being distinct from all other `HetAtomGroup`s and from identifying a peptide

[2021-11-25 01:48] aalhossary commented on #992
Fixed and merged

[2021-11-25 01:48] #992 closed

[2021-11-27 19:50] aalhossary opened #1000 "Resolution lost in cryo-EM"
Several entries have the resolution value set to **99** when obtained from PDB and 0 when obtained from mmCif.

Each was cryo-EM with resolutions in the range 3.35 - 3.8 Å.

4 examples are
(**3j8h**, **3jaj** (available only in mmCIF).
**6hu9**, **7o3e** (available as PDB files).

By experimenting, I found that
- The PDB entries have the resolution reported in **REMAK 2** (not parsed at all) and i

[2021-11-27 19:56] aalhossary commented on #1000
Proposed solutions:
- Proper parsing of the **PDB** entries. (I will submit a PR)
- Contacting someone (?) to indicate some value in the **mmCif**  entries `_refine.ls_d_res_high` field
- Fixing how the period (`.`) is dealt with in this field, unless this **ZERO** is an intended outcome. Is it?

[2021-12-02 01:06] josemduarte commented on #1000
One issue here is that the PDB format doesn't seem to be standardised regarding __REMARK 3__. See:
https://www.wwpdb.org/documentation/file-format-content/format33/remark3.html . So parsing it would be nice, but won't necessarily cover all cases. Anyway I suppose that's a problem of the legacy PDB format and another reason to continue decreasing its usage.

The real issue here is that there's a di

[2021-12-06 18:35] aalhossary commented on #1000
I submitted a pull request to fix that.
However, a new question arises:
There are cases where the resolution is unknown (the `_em_3d_reconstruction.resolution` value is a `?`). In that case, should the default value be **0.0** or **99**?

Some examples include
- 2FTE
- 3JC8
- 3JC9
- 6EDT
- 6ZTS
- 6ZTY
- 6ZTZ
- 7EIZ
- 7MBS
- 7MBT
- 7MBU
- 7O2W

[2021-12-06 19:40] josemduarte commented on #1000
I suppose it'd be ok to stay with 99, since that's the expected behaviour looking at the code. The rationale behind it is that filtering on resolution would work as naturally expected (resolution<2 would filter out all the unknown resolution cases).

In any case, it'd be good to document it. Could you add a brief explanation to `PDBHeader.getResolution()` ?

[2021-12-07 00:10] aalhossary commented on #1000
Done.

[2021-12-08 23:57] #1000 closed

[2021-12-09 12:26] rdk opened #1003 "Add standard documented way how to reduce structure to a subset of chains"
...while setting all the metadata consistently and handling ligands intuitively (i.e. keeping the adjacent/bound ligands in).

The closest approximation of this functionality can be done via `new StructureName("4hhb.A").reduce(structure)`, but:
1. It is limited to a single chain in implementation and in the name format (this is the main concern),
2. It is not clear if and how it works with structu

[2021-12-11 00:23] josemduarte commented on #1003
Thanks for the feedback @rdk . I see your point, especially about the lack of functionality for multiple chains.

I think adding such method in StructureTools would be a good solution. There could be a few signatures
[code]

[2021-12-31 09:02] jlerbsc opened #1008 "Test failure on SequenceToolsTest$PermuteCyclic.permuteCyclicPerformance on biojava-core subproject"
On the latest release there is a test failure on biojava-core subproject. It seems to be caused by the improvement factor which is below the threshold (5).

[ERROR]   SequenceToolsTest$PermuteCyclic.permuteCyclicPerformance:77 expected: <true> but was: <false>
[INFO]
[ERROR] Tests run: 428, Failures: 1, Errors: 0, Skipped: 8

System.err

89

[2022-01-01 09:09] yamule opened #1009 "IllegalFormatConversionException with LocalProteinDomainParser"
I met IllegalFormatConversionException when I tried to use LocalProteinDomainParser in biojava-structure-6.0.3.jar .
[code]
Possibly, the line https://github.com/biojava/biojava/blob/master/biojava-structure/src/main/java/org/biojava/nbio/structure/domain/pdp/ClusterDomains.java#L189
`				if(verbose) System.out.printf(" Maximum value is less than cut off value. (max:%d)%n", maximum_value);`
should

[2022-01-01 09:18] aalhossary commented on #1009
OK I'll handle it.

[2022-01-02 11:09] richarda23 commented on #1008
I originally added permuteCyclic2 as a more robust and simpler method than permuteCyclic, without breaking backwards compatibility, and this performance test was mainly to show that it performed better as well. The 5x speed-up is not a hard requirement. Perhaps it would suffice to have a test showing it didn't perform worse. Alternatively, we could just replace the implementation of permuteCyclic

[2022-01-03 17:53] heuermh commented on #1009
Fixed by #1010, thank you @yamule @aalhossary

[2022-01-03 17:53] #1009 closed

[2022-01-03 18:59] #1008 closed

[2022-01-04 16:03] sbliven commented on #993
Is it possible to write your code to use the `Group` interface (e.g. `Group.getAtom("N")` instead of `AminoAcid.getN()`)? I also feel like supporting D-AA is unusual enough that it should not be the default.

StructureTools is older and has many features not included in ChemCompTools. If anything I would deprecate ChemCompTools.

[2022-01-04 16:23] richarda23 opened #1013 "Maintenance of ontology modue"
Hi,
 Been looking at the ontology module as it might be useful in my day job.
 I tried parsing the latest GO flatfile at http://geneontology.org/docs/download-ontology/#go_basic and the parser handles it OK  (ie it doesn't crash). But with the low number of tests, documentation and sample code it's hard to be confident that it's parsing everything correctly for use in  production system.

Would it

[2022-01-04 18:11] richarda23 opened #1016 "o.b.n.core.sequence.CDSSequence doesn't reverse-complement correctly"
Given a transcript sequence derived from a GeneSequence defined on reverse strand of a chromosomal sequence, the method getCodingSequence doesn't return the reverse complement, but just the reverse.

This seems to be due to the complement being made twice:

[code]
generates the reverse complement, but subsequent code makes a complementary sequence again, so the end result is simply a reversed sequ

[2022-01-04 18:36] sbliven commented on #983
@RoshanShrestha123 Take a look at `SimpleProfile.toString(StringFormat)`. In particular, maybe the PDBWEB format would work for you. It outputs an HTML DIV like

<blockquote><div><pre>      seq 2 <span class="m">E</span><span class="m">R</span><span class="dm">N</span><span class="m">D</span><span class="qg">K</span><span class="m">K</span> 7
             <span class="m">|</span><span class="m">|<

[2022-01-06 23:25] josemduarte commented on #1013
enhancing test coverage especially w.r.t supporting OBO spec
improving Javadoc and sample code
adding a README to the project
updating code style/formatting and using more modern Java 7/8 idioms (once test coverage is much better)

I would say yes to all of those. The module can be definitely useful for many people. Over recent years it has come up in questions here and there (though we lacked a m

[2022-01-27 10:31] sbliven commented on #980
This is a good idea. I think there are a couple places where we check if the file is empty, but without the hash it's tough to know whether the download completed. Using HEADER requests is a good idea. In addition to implementing this we should look for other places where files are downloaded and try to make sure they all use the new code.

One other strategy could be to download files to a temp l

[2022-01-27 15:18] sbliven opened #1018 "Harmonize Profile and LightweightProfile"
I think `Profile` was indended to be general enough to represent multiple sequence alignments. However `SimpleProfile` is the only current implementation and it only supports pairwise alignments. There is also `LightweightProfile` with similarly named methods that is implemented by `MultipleSequenceAlignment` and seems intended for ungapped sequences. Is that an accurate summary of the situation?

[2022-01-29 07:40] aalhossary commented on #980
This issue was inspired by #979.

Well, as long as Sounak did not show up anymore, I'll do it myself.
Hopefully, I can do it this current weekend.

Downloading to a temp location and then move the file should help minimize the causes of problems. However, it may cause more problems related to write privileges and available size. Let's stick to validating the size +/- hash first, then listing **_al

[2022-01-29 08:11] aalhossary commented on #993
Yes. This exactly is how I worked around this problem in my code. However, this does not fix all problems. For example, D-Gly can form Isopeptide ponds just as same as Gly. Handling Gly and D-Gly differently is an unnecessary overhead to handle.

Overall, I -by contrary to your opinion- don't see supporting D-AA that unusual. At the end of the day, they are already present in nature and their use

[2022-01-29 08:12] aalhossary commented on #993
Sorry closed by mistake

[2022-01-29 15:27] Sounak123 commented on #980
Hi @aalhossary sorry for the delay, I was in the middle of few things so couldn't work on this. Could you please let me continue with this issue, if it is ok? I need a few days at most 3 days

[2022-01-31 22:56] josemduarte opened #1019 "Null pdb ids are not handled correctly in a few places"
This happens more often when reading non-PDB-deposited PDB/mmCIF/mmtf/BCIF files

For instance, this causes this issue: https://github.com/rcsb/symmetry/issues/113

[2022-02-01 17:05] #1019 closed

[2022-02-22 03:15] aalhossary commented on #980
Sorry @Sounak123, for unknown reason, I didn't receive a notification about your comment.
When I noticed it, it was already too late.

Anyway, you still can participate in the hash code part if you like.

[2022-02-22 06:07] Sounak123 commented on #980
Sure @aalhossary you can assign it to me

[2022-03-16 04:14] dabianzhixing opened #1025 "How to align any two protein and get their TM-score"
Just like MMalign, I want to get the TM-score of any two proteins, but it seems that there is no API provided? How could I make it by biojava?

[2022-04-19 07:15] rdk commented on #775
What is the status of this issue? I still do get error when parsing mmCIF files without `auth_seq_id` produced by PyMOL with BioJava 6.0.5 (Error: `org.rcsb.cif.EmptyColumnException: column auth_seq_id is undefined`).

Is there a conclusion about correct expected behaviour of BioJava in such case? Raising an exception or fallback to sequential numbering?

[2022-04-19 08:39] rdk commented on #1003
I can implement it and send it as PR with tests. @josemduarte is is a contribution you would accept? If so, which branch / milestone shoud I target?

I was wondering if @aalhossary might have some input on that, since he was the one who removed the old `StructureTools.getReducedStructure(Structure s, String chainId)` method:
https://github.com/biojava/biojava/commit/12d348d0ad2a4f252276d8e64cf46ac

[2022-04-26 15:32] josemduarte commented on #775
I'd be in favour of falling back to a sequential numbering if `auth_seq_id` is not provided.

But of course there are some subtleties on how to implement it (see above):

- for polymers: all `auth_seq_id` should be null in order to consider it empty and fall back to sequential (i.e. `label_seq_id`)
- non-polymers are expected to have no `label_seq_id`. If they have also no `auth_seq_id` then it'd

[2022-06-03 21:30] LobsterMan123 opened #1028 "Calculating Ramachandran Angles from a PDB File"
Would someone please tell me if BioJava can calculate Ramachandran angles for amino acids found in a PDB file (prefferably a PDB file that contains multiple "snapshots" of different conformations of the protein in question such as is found in PDB files from NMR experiments)?

[2022-06-03 21:56] josemduarte commented on #1028
Absolutely it can, but you need to write some code to calculate the torsion angles. See this old piece of code that does it with another library different from BioJava. Adapting it to BioJava should be pretty straight forward.

https://github.com/eppic-team/owl/blob/78bb383cab0620c475bef36799c6608681065318/src/main/java/owl/core/structure/PdbChain.java#L2932-L2955

For the basics on how to parse a

[2022-06-04 03:40] josemduarte commented on #1028
Correction, torsion angle calculation is already available in biojava, see https://github.com/biojava/biojava/blob/89a40ff2d477c58a40db4f90c2db557070ab607c/biojava-structure/src/main/java/org/biojava/nbio/structure/Calc.java#L242

and for psi/phi angles:
https://github.com/biojava/biojava/blob/89a40ff2d477c58a40db4f90c2db557070ab607c/biojava-structure/src/main/java/org/biojava/nbio/structure/Calc.

[2022-06-04 06:14] LobsterMan123 commented on #1028
Thank you for this.  For the BioJava one (the most recent one you sent me), would you please tell me if there is a tutorial on how to use this (I couldn't find anything in the online tutorial docs for using the feature to calculate Ramachandran angles)?  Do I need to modify the code in these links for the BioJava one in order to use it in my own programs to calculate Ramachandran angles?

Also, ca

[2022-06-04 06:23] emckee2006 commented on #1028
Yes, you can use it headless.

You would read in your structure, like in the tutorial, and then loop over
the amino acids in your chain calling compute phi and compute psi for each
successive pair.

Something like this pseudocode:

Bool first = true;
Residue previous residue;
For residue in chain {
  If !first {
    Double phi = calcphi(residue, previous residue)
    Double psi = calculatepsi(resi

[2022-06-30 23:45] FC123321 opened #1033 "NCBIQBlastService.sendAlignmentRequest"
I am using BioJava through Maven, using biojava 6.0.5 and biojava-ws 6.0.4 (because trying to use 6.0.5 produces errors):

`
<dependency>
   <groupId>org.biojava</groupId>
   <artifactId>biojava</artifactId>
   <version>6.0.5</version>
   <type>pom</type>
</dependency>

<dependency>
   <groupId>org.biojava</groupId>
   <artifactId>biojava-ws</artifactId>
   <version>6.0.4</version>
</dependency>
`

[2022-07-11 05:11] josemduarte commented on #1033
Thanks for reporting. My guess is that something has changed in the output format and now this always fails. At a minimum, there should be a check for the array length before trying to put it in the message. In any case it seems like a bad idea to have to parse html for this. I guess there's a better way to run blast via an API these days?

[2022-07-15 22:41] #1028 closed

[2022-07-15 22:41] #1025 closed

[2022-07-15 22:42] #886 closed

[2022-07-15 22:45] josemduarte opened #1035 "New release based on Java 11"
I'd like to propose that we make our first Java 11 release and call it 6.1.0. That will mean that BioJava won't be possible to use under a JRE 8 from that moment on.

Is there anything against that?

[2022-07-15 23:25] emckee2006 commented on #1035
If there any reason we should drop java 8 support?

On Fri, Jul 15, 2022, 6:45 PM Jose Manuel Duarte ***@***.***>
wrote:

[2022-07-16 00:31] heuermh commented on #1035
+1 from me

[2022-07-16 05:28] aalhossary commented on #1035
I support the idea in principle. But I prefer deferring the dependency change only to be in synchrony with the next big structural change (i.e. BioJava 7.0).

[2022-07-18 22:34] emckee2006 commented on #1035
As long as the library supports the newer java versions, then I guess my
question would be better framed as: why remove java compatibility if it's
not necessary?

On Mon, Jul 18, 2022, 6:17 PM Jose Manuel Duarte ***@***.***>
wrote:

[2022-07-18 22:40] josemduarte commented on #1035
See some reasons in the post I linked above. For instance this point:

This is a very real concern for us. Some libraries that we depend on have moved to java 11.

[2022-08-06 17:25] simoesrenato opened #1037 "Aromaticity calculation (Protein)"
This feature calculates the aromaticity value of a protein according to Lobry, 1994. It is simply the relative frequency of Phe+Trp+Tyr.

[2022-08-08 16:20] josemduarte commented on #1037
Thanks for creating the issue. I can see the commit that mentions it. Did you mean perhaps to create a pull request?

[2022-08-17 09:23] TestSmell opened #1038 "Test Smell: it is not a good test practice to use the loop in the test"
Hi!

We notice that you use the loop structure in your test cases.
For example, testQualityScoresIntArray() in FastqToolsTest.java
<img width="497" alt="截屏2022-08-17 下午5 17 26" src="https://user-images.githubusercontent.com/110402847/185083359-94544a0a-e17c-454f-9406-d4fa380e6774.png">

However, using the loop in test cases is not a good test practice.
We analyzed the relevant Stack Overflow posts

[2022-08-19 19:33] simoesrenato commented on #1037
Hi Jose, I really think it could have been a pull request, is it possible to do this merge or do I submit again?

[2022-08-26 21:54] josemduarte commented on #1038
Good point, thanks! Would you be able to provide a pull request?

[2022-08-26 21:56] josemduarte commented on #1037
I don't think there's a pull request yet. You will need to create one from your fork.

See [some docs](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request) if you need help.

[2022-09-22 23:05] josemduarte commented on #975
Update: it looks like this is some sort of security feature (apparently provided by CloudFlare, at least that's what the error message says).

It would seem that the server detects the user-agent and responds differently depending on what it is. I get a 403 with:
- curl
- wget
- Java `URL.openConnection()` (the one actually used in BioJava code)

But I get a 200 with:
- Chrome browser
- Firefox br

[2022-10-19 05:53] josemduarte commented on #942
Do I understand it right that #1042 fully fixes this issue?

[2022-10-19 11:31] jamesmorris commented on #942
It fixes the issue with of being able to maintain the locus line details yes

I need to open another ticket around the other features of a GenBank file header that are not correctly reproduced when using the GenbankWriter that I have discovered while doing this work

[2022-10-24 16:48] josemduarte commented on #1035
Ok given the discussion here it seems prudent to use `7.0.0` for the new version. I will change the milestone.

`6.1.0` will be the next release, still based on java 8 with a few fixes and additions.

[2022-10-24 17:07] aalhossary commented on #1035
@josemduarte When is 7.0.0 expected?
I have one or two open pull requests that I couldn't handle yet because of the pressure of my new work.

[2022-10-24 23:03] josemduarte commented on #1035
It's not specially urgent but at the same time I don't want to leave the problem open for too long. I'll propose to do the release no later than the end of January 2023. I'll set that date in the milestone.