[2013-04-17 04:48] sbliven opened #8 "Non-unique selection in alignment jmol"
Mousing over residues in the view panel of a structural alignment causes the corresponding residues to be selected in the jmol panel. However, if both aligned proteins are identically named, residue selections are non-unique, so multiple residues are selected.

We need to add a model number to the selection criteria, eg '7:A/1'.

[2013-04-18 01:43] #8 closed, assigned to sbliven

[2013-04-23 08:50] aalhossary opened #12 "failed TestSECalignment"
Running org.biojava.bio.structure.TestSECalignment
unknown char U
Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.175 sec <<< FAILURE!
Running org.integrationtest.AppTest
Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.001 sec

Results :
## Failed tests:   testOldSecOutput(org.biojava.bio.structure.TestSECalignment)

---
## Test set: org.biojava.bio.structure.Te

[2013-04-23 23:17] sbliven opened #13 "Add version to ScopFactory"
ScopFactory currently uses a singleton pattern, so switching SCOP versions is a global operation.

Proposed changes:
- ScopFactory adds getSCOP(String version) and setScopDatabase(String) methods to access version-specific Scop installations
- ScopFactory internally follows a multiton pattern (one instance per version)
- http://source.rcsb.org/jfatcatserver/domains/* pages take version= parameter

[2013-04-25 01:42] #12 closed, assigned to andreasprlic

[2013-05-25 18:28] andreasprlic opened #25 "Port genbank parser from biojava 1 to biojava 3"

[2013-07-02 16:56] andreasprlic opened #31 "Add parsing of organism, expression system and other header data to mmcif parsing framework"

[2013-07-17 02:36] beyond2013 opened #33 "Cannot locate OboParser"
I am trying to parse an Obo file but eclipse can not locate OboParser.java, can anyone help me locate the file

[2013-07-28 00:48] #13 closed, assigned to dmyersturnbull

[2013-08-12 18:38] #25 closed, assigned to nobody

[2013-08-14 17:21] #31 closed, assigned to andreasprlic

[2013-09-13 23:29] sbliven opened #48 "Alternate conformations not rotated in AlignmentGUI"
Alternate conformation don't get rotated during superposition for jMol display.

This bug accounts for how some molecules are uncentered in the display. They have side chains drifting at their old location that don't show up in a cartoon representation.

Example:

Align 1ax8 to 1alu (in that order). Residues 26, 30, and 117 of 1alu have alternate conformations.

[2013-09-19 23:37] sbliven opened #50 "Error in RemoteScopInstallation"
DemoSCOP produces an error when the ScopDatabase is changed from a ScopInstallation to a RemoteScopInstallation, as suggested in comments.

Code to reproduce:

[code]

Error:

[code]

[2013-09-20 06:04] sbliven opened #52 "Support older SCOP versions"
Old SCOP versions used to be supported, but now give quiet errors of "Unknown SCOP version 1.69 . Returning default" in the ScopFactory.

Also, versions aren't supported with the RemoteScopInstallation, even though the ?version= GET parameter seems to be honored by the server. Of course, the above ScopFactory problem leads to a server-side NPE for older versions, so that needs to be fixed before t

[2013-09-20 16:48] andreasprlic opened #53 "issue with translating codons with N"
Builder builder = new TranscriptionEngine.Builder();
    builder.initMet(false);
    builder.translateNCodons(true);
    builder.trimStop(false);
    TranscriptionEngine engine = builder.build();
    Sequence<AminoAcidCompound> seq=engine.translate(new
DNASequence("GTNTGTTAGTGT"));
    assertEquals("XC*C", seq.toString());
    Sequence<AminoAcidCompound> seq2=engine.translate(new
DNASequence("ANAA

[2013-09-23 01:28] #53 closed, assigned to andreasprlic

[2013-10-08 05:03] sbliven opened #54 "Unnecessary 'throws StructureException' clauses"
A number of methods in the structure package are declared to throw StructureException, despite the fact that no control path will ever throw such exception. Specifically, I am referring to a handful of basic linear algebra methods in Calc. Using these methods requires extra try/catch logic that clutters the calling code and could potentially mask a real exception.

On the one hand, removing the tr

[2013-10-25 10:40] the-code-magician opened #61 "Stockholm error parsing hmmer alignment output"
Hi,

When I try to parse the alignment file provided by the phmmer command, the org.biojava3.alignment.io.StockholmFileParser throws an exception "Error: Unknown or unexpected line". After looking at your source code, I found out that your parser requires the #=GF annotation to switch the parser status to STATUS_IN_SEQUENCE (20). Although the #=GF line is recommended, it is not present in the phmm

[2013-10-26 06:59] #61 closed, assigned to nobody

[2013-11-01 17:59] andreasprlic opened #67 "Does structure support 4-letter chain IDs?"
We need to investigate if BioJava supports the upcoming 4-letter chain IDs for protein structures.

[2013-11-01 21:02] #50 closed, assigned to sbliven

[2013-11-01 21:02] #52 closed, assigned to sbliven

[2013-11-02 03:36] andreasprlic opened #68 "mmcif parser can confuse c-alpha an calcium atoms"
From Peter:

...In SimpleMMcifConsumer is a method called fixFullAtomName, tries to add spaces, but the logic doesn’t work for calcium.

Calpha and Calcium atoms should be distinguished based on a check of the type of group. Only amino acids should be searched for Calpha atoms. Ligands can have atoms names CA, but that doesn’t make them Calpha atoms

[2013-11-02 04:05] #68 closed, assigned to andreasprlic

[2013-11-04 19:01] andreasprlic opened #69 "Berkeley scop renamed files"
looks like Berkeley- SCOP got renamed to SCOP-extended and the previous  1.75C got renamed to 2.03

http://scop.berkeley.edu/downloads/parse/dir.des.scope.2.03-stable.txt

[2013-11-18 23:41] dmyersturnbull opened #70 "BerkeleyScopInstallation is broken"
BerkeleyScopInstallation no longer works due to the update/renaming to SCOP 2.

[2013-11-19 02:32] sbliven opened #71 "Berkeley SCOP version numbers"
The version numbers at scop.berkeley.edu for recent versions have changed. This may break some tests on clean systems (everything still passes on mine, but I may have cached versions of SCOP being used).

@dmyersturnbull already has a patch mostly complete in his fork, and we're coordinating with SCOPe to figure out what changed. It should be fixed in a day or two.

[2013-11-19 15:29] eddiesalinas opened #72 "null pointer exception (translation bug?)"
as resources permit I am exploring this issue
#

import org.biojava3.core.sequence.DNASequence;
import org.biojava3.core.sequence.compound.AminoAcidCompound;
import org.biojava3.core.sequence.io.FastaReaderHelper;
import org.biojava3.core.sequence.template.Sequence;
import org.biojava3.core.sequence.transcription.TranscriptionEngine;
import org.biojava3.core.util.SequenceTools;

public class biojt

[2013-11-19 16:22] #72 closed, assigned to nobody

[2013-11-20 18:14] #71 closed, assigned to dmyersturnbull

[2013-11-20 18:16] #69 closed, assigned to nobody

[2013-11-21 08:51] #70 closed, assigned to dmyersturnbull

[2013-11-21 11:51] andreasprlic opened #74 "PDBStatus does not provide information about split PDB entries"
would be great to extend the PDBStatus object to support info about split entries such as 3j3y.

[2013-11-23 01:49] sbliven opened #75 "Errors loading split-entry PDBs"
An error gets thrown when loading a scop domain from a split pdb, such as d2j03c1. PDBFileParser.linkChains2Compound searches for chains from the other files and throws a StructureException when it can't find them:

[code]

[2013-11-25 08:51] andreasprlic opened #76 "Improve altLoc parsing"
Looking at PDB ID 1AAC, residue nr 27, it turns out that some of the side-chain atoms are only listed in the alternate locations for the group, but not in the "main" group. The main group should be as complete as possible and contain a reference to the first occurrence of any atom.

[2013-11-26 02:12] d-cameron opened #77 "FeatureList.addIndex does not index existing features"
FeatureList.addIndex() does not add existing FeatureI to featindex. This causes a null pointer exception when calling addIndex() then selectByAttribute() on a FeatureList with non-zero record count.

[2013-11-27 05:19] d-cameron opened #78 "AnchoredPairwiseSequenceAligner crashes when performing alignment"
AnchoredPairwiseSequenceAligner throws an exception when performing DNA alignment.

In the test case below, the expected alignment is a forced match of the first base of the query to the first base of the target, a gap of 1nt, then a perfect match for the rest of the query sequence.

[code]

[2013-11-30 22:54] dmyersturnbull opened #81 "Make loading of structures more consistent"
Right now, loading of data from SCOP, CATH, and AtomCaches is handled very differently. It would be nice to have 1) an interface that is more consistent between SCOP and CATH, and 2) a more robust way to load arbitrary "structures" given unique identifiers.

[2013-12-04 00:12] sbliven opened #82 "Add a SCOP2 parser"
SCOP2 was recently published: [[server]](http://scop2.mrc-lmb.cam.ac.uk/) [[paper]](http://nar.oxfordjournals.org/content/early/2013/11/29/nar.gkt1242.full)

BioJava should eventually include a parser for the data. This could be similar to the ScopDatabase interface & implementations, but would need an updated API to handle the new features. There should be at least two implementations: a parser f

[2013-12-05 18:32] #77 closed, assigned to emckee2006

[2013-12-16 22:53] dmyersturnbull opened #85 "Scorer.getScore() returns ints"
In biojava-alignment, Scorer.getScore(), Scorer.getMinScore(), and Scorer.getMaxScore() all return integers. Yet the Javadoc comments for getScore() says "This should normalize between 0 and 1".

Besides disagreeing with the interface described in the Javadoc, this seems like a pretty severe limitation.

Unfortunately, changing these to double will break the interface. However, I feel that it's im

[2013-12-17 05:34] #78 closed, assigned to nobody

[2013-12-20 01:10] #85 closed, assigned to nobody

[2014-01-18 04:11] dmyersturnbull opened #88 "getSymmetryOrder(AFPChain) gives unexpected results"
This first snippet seems to return 1:
[code]
This snipped does what I expect:
[code]

What is the difference between these two overloaded methods?

[2014-02-17 18:16] sbliven opened #92 "Add mirrors for SCOP"
The unit tests depend on access to external servers for SCOP. Occasionally, these servers will go down, causing tests to crash. Since both MRC and Berkeley are hosting older SCOP versions, I thought about adding functionality to specify fallback mirrors. For instance, if MRC is down it will download from Berkeley.

I threw together a sample implementation on a branch: https://github.com/sbliven/bi

[2014-02-21 23:51] andreasprlic opened #93 "Add a new parser to read karyotype info from UCSC"
would be great to have a parser for this file
http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/cytoBand.txt.gz

[2014-02-22 00:03] #93 closed, assigned to nobody

[2014-02-23 15:39] #92 closed, assigned to nobody

[2014-03-07 11:27] sbliven opened #99 "Protodomain NullPointerException"
Domain 'd1kcwa6'  (used by CensusTest.testHard()) gets converted to '1kcw.A_938-977,A_997-1026' internally, and this should be a valid structure (equivalent to the older syntax '1kcw_A:938-977,A:997-1026'). However, running CeSymmMain on this structure gives a NPE.

The root of this is that `Protodomain.fromAfpChain(String, AFPChain, Atom[], int, int, AtomCache)` does not really understand the ful

[2014-03-07 13:30] josemduarte opened #100 "PDBHeader.getMethod() is not used"
It seems that both getMethod() and setMethod() from PDBHeader are not used. Most likely because getTechnique() and setTechnique() are doing what getMethod should be doing. Solution is to remove or deprecate for next release. I'd say that getTechnique is a perfectly good name to get the experimental method anyway.

[2014-03-07 13:53] #100 closed, assigned to nobody

[2014-03-11 17:43] josemduarte opened #101 "Better representation of experimental techniques"
Experimental techniques are stored as strings at the moment. I think this deserves a better representation, I'd propose an enum like this (it would go in my next pull request):

[code]

One could then assign always one single value from the enum above for the experimental technique. This could solve the problem with hybrid cases that now are simply added as a semicolon separated string.

Additiona

[2014-03-12 18:31] josemduarte opened #102 "Structure.getHeader() and setHeader(), remove?"
It looks like `getHeader()` and `setHeader()` and the Map that goes with it in `StructureImpl` and `PDBFileParser` are relics from the past. Would it be time to remove them now? how long has this been deprecated? I searched a bit through the tags and I could see `getHeader` deprecated in 3.0 and 3.0-alpha1. In my opinion if it was something deprecated before 3.0 then it is perfectly legitimate to

[2014-03-13 22:15] #48 closed, assigned to sbliven

[2014-03-18 13:28] josemduarte opened #103 "Unit tests need to make sure they reset the state of singletons"
I've come across this very subtle issue recently. I have found that running all tests in one bundle with "mvn install" can have a very different behaviour than running tests individually. Maven by default uses one single JVM to run the tests. Static variables like those used in singletons (e.g. AtomCache) are not necessarily reinitialise at the beginning of each test. Thus the tests have a differe

[2014-03-19 22:10] #76 closed, assigned to nobody

[2014-03-19 22:11] #103 closed, assigned to nobody

[2014-03-20 23:22] andreasprlic opened #106 "SEQRES and ATOM parsing off by one for 11GS"
The mapping of SEQRES and ATOM records is off by one residue at the N-terminus of 11GS.

[2014-03-21 00:47] #33 closed, assigned to andreasprlic

[2014-03-21 00:48] #106 closed, assigned to andreasprlic

[2014-03-25 08:43] sbliven opened #107 "Unify structure name parsing & allow filepaths"
There are lots of ways to identify structures supported by biojava. If this list looks redundant, it is because the code handles them separately in at least one place:
1. PDB id (4HHB)
2. PDB id + chain (4HHB.A)
3. PDB id + range (4HHB.A:1-50,B:,C:-10-,D:--4)
4. PDB id + URL-compatible range (4HHB_A_1-50, I think?)
5. SCOP domain (d4hhba_)
6. CATH domain (4hhbA00)
7. PDP domain (PDP:4hhbAa)
8. Fil

[2014-03-25 14:21] #107 closed, assigned to nobody

[2014-03-27 23:30] #101 closed, assigned to nobody

[2014-03-27 23:30] #102 closed, assigned to nobody

[2014-03-28 09:50] sbliven opened #109 "Error parsing PDB files with empty REMARK lines"
While not in accordance to the format spec, many tools remove trailing spaces from PDB files. A good example of this is the SCOP domains, eg http://scop.berkeley.edu/astral/pdbstyle/ver=2.03&id=d1gena_&output=txt.

BioJava currently balks at empty REMARK lines since it expects at least 11 characters before the comment field.

[code]

This is a harmless bug (the line does nothing anyways) it looks

[2014-03-28 16:31] josemduarte opened #110 "bio.structure.io.StructureIO, remove?"
Can this be removed for 3.1 too? it has been deprecated for some time.

There are a few implementing classes: StructureIOFile, PDBSRSReader and PDBFileReader (through StructureIOFile), are those needed? if yes they can be kept but not implementing StructureIO anymore

[2014-03-29 20:06] #109 closed, assigned to andreasprlic

[2014-03-29 20:10] #110 closed, assigned to andreasprlic

[2014-04-03 16:45] josemduarte opened #111 "Improving exception handling"
Exception handling in a few places in biojava-structure could be improved. I think it is a good idea to apply the practice of "throw early, catch late" (see for instance http://programmers.stackexchange.com/questions/231057/exceptions-why-throw-early-why-catch-late).

So as a very general rule there should be less catching and more throwing forward so that Exceptions are packed together and can be

[2014-04-03 20:39] andreasprlic opened #112 "Finish implementation of secondary structure detection"
The SecStruc.java class contains the beginnings of  some code that can detect secondary structure in proteins, according to the DSSP rules. However there are still some numerical differences and probably bugs and I could not get it yet to produce exactly the same results as is shown e.g. in http://www.pdb.org/pdb/files/5pti.dssp

[2014-04-26 09:53] mkleen opened #113 "Extend Genbank parser to provide references to publications"
Hello,

I would like to extract references to publications from genbank entries, which is unfortunately not supported right now from the current genbank parser. I am happy to implement this is on my own and submit it back, but it would make sense to discuss the model how to store the references. Does it make sense to include them into DnaSequence ?

Many thanks,

Michael Kleen

[2014-04-28 13:42] sbliven opened #115 "Problem Parsing SCOP 1.71"
AtomCache can't load some older SCOP domains. An example is d1hcy_1 from SCOP 1.71. The structure contains 6 chains, so the '_' is ambiguous. We should use chain A, and print a warning.

Perhaps it would be worth adding an integration test that parses a large number of domains from each version to detect these types of problems.

[2014-05-02 10:06] sbliven opened #117 "AtomCache & related classes don't accept ~ in file paths"
For user interfaces it is useful to accept ~ for the home directory in paths. There is currently a utility function to expand leading tildes to the 'user.home' system property `FileDownloadUtils.expandUserHome`.

Are there any reasons not to expand leading tildes everywhere we accept a path? Off the top of my head, in the structure module this includes AtomCache, PDBFileReader, MMCifFileReader, an

[2014-05-02 11:01] #115 closed, assigned to sbliven

[2014-05-12 09:02] sbliven opened #119 "Balibase"
Add a parser for the [BaliBASE 3](http://www-bio3d-igbmc.u-strasbg.fr/balibase) multiple alignment benchmark.

Reference:

Thompson JD1, Koehl P, Ripp R, Poch O. BAliBASE 3.0: latest developments of the multiple sequence alignment benchmark. _Proteins._ 2005 Oct 1;61(1):127-36. [PUBMED](http://www.ncbi.nlm.nih.gov/pubmed/16044462)

[2014-05-12 09:05] sbliven opened #120 "Chromatogram Parser"
Port the BioJava 1 Chromatogram parser to BioJava 3

[2014-05-12 09:09] sbliven opened #121 "Variation APIs"
Variation APIs that bring together Ensembl Variation, VCF file format, GFF3+GVF file format, samtools, Picard, GATK, etc.

Several similar file specifications exist for dealing with sequence variation, including:
- VCF (Variant Call Format) is a text file format used by the [1000 Genomes](http://www.1000genomes.org/wiki/Analysis/Variant%20Call%20Format/vcf-variant-call-format-version-41) project a

[2014-05-12 10:16] sbliven opened #122 "Phylip Parser"
Add a parser for [Phylip](http://evolution.genetics.washington.edu/phylip.html)

_Suggested for [GSoC 2012](http://biojava.org/wiki/Google_Summer_of_Code_2012)_

[2014-05-12 10:17] sbliven opened #123 "MrBayes Parser"
Add a parser for [MrBayes](http://mrbayes.sourceforge.net/) output.

_Suggested for [GSoC 2012](http://biojava.org/wiki/Google_Summer_of_Code_2012)_

[2014-05-12 10:26] sbliven opened #124 "Improve BioJava cloud support"
Hadoop-ify and/or Map-Reduce some of the BioJava modules.

_Suggested for [GSoC 2012](http://biojava.org/wiki/Google_Summer_of_Code_2012)_

[2014-05-12 10:32] sbliven opened #125 "BioJava Sequence Diagram Module"
Implement a sequence diagram module in BioJava3 by re-engineering the code of [RCSB PDB Sequence Diagram](http://code.open-bio.org/RCSB_SequenceViewer/?root=biojava). While the current RCSB PDB Sequence Diagram provides a great visual presentation of protein sequence annotations ([example](http://www.pdb.org/pdb/explore/remediatedSequence.do?structureId=2YER)), it is tightly coupled to 3-D structu

[2014-05-12 10:39] sbliven opened #126 "Improve structural alignment datastructures"
BioJava contains a number of algorithms for aligning protein structures. In the most general case, an alignment consists of a mapping between residues of two (or more) proteins. However, for historical and performance reasons alignments are stored as linear, sorted arrays. This makes it difficult to express cases where the order of aligned residues differs between the two proteins. For instance, s

[2014-05-12 10:57] sbliven opened #127 "Topology Diagrams of Protein Structures"
Topology diagrams are useful for visualising the arrangement and connectivity of secondary structure elements of proteins. We are currently not aware of an easy to use Java implementation of software for drawing such diagrams.

Implement a layout algorithm that would arrange a representation of secondary structure elements in a way so it can be easily used for various visualisation libraries. Depe

[2014-05-13 13:10] andreasprlic opened #128 "Integrationtest is currently failing"
see

https://travis-ci.org/biojava/biojava

[2014-05-13 19:03] #128 closed, assigned to sbliven

[2014-05-14 11:58] #99 closed, assigned to andreasprlic

[2014-05-14 21:14] #125 closed, assigned to nobody

[2014-05-21 12:58] sbliven opened #129 "RotationAxis jmol looks wrong"
Double check that RotationAxis is visualized properly for all cases. Specifically:
* Translation vector should go through the center of mass (e.g. 1aew)
* Large off-center insertions are ignored (e.g. 2j8s_A_1-37,A_329-517)

[2014-06-12 15:55] andreasprlic opened #130 "Host biojava release jars from Maven Central"
It would be easier to work with BioJava to have our release jars distributed from Maven Central. I am in the process of setting this up.

This will go via the Sonatype OSS repo.

Step 1 was to create an account at Sonatype: https://issues.sonatype.org/browse/OSSRH-10253

Next steps:

Deploy snapshot artifacts into repository https://oss.sonatype.org/content/repositories/snapshots
Deploy release ar

[2014-06-27 04:41] andreasprlic opened #134 "2bit file parser"
Would be nice to have a parser for UCSC's .2bit file format http://genome.ucsc.edu/FAQ/FAQformat.html#format7

[2014-06-27 17:46] #134 closed, assigned to nobody

[2014-07-31 16:02] sroughley opened #137 "RNASequence#getProteinSequence(TranscriptionEngine engine) ignores engine settings"
The getProteinSequence(engine) method calls the #createSequence(RNASequence) method of RNAToAminoAcidTranslator.  The method is not implemented in the RNAToAminoAcidTranslator, so the default from the superclass is used.  This means that not all settings in the engine are applied to the translation (trimStops, initMetOnly, translateNCodons)

[2014-08-04 09:13] ddtxra opened #140 "Synchronization"
Hello,
We have an API that computes the isoelectric point of a protein sequence using the biojava library:

new Double(IsoelectricPointCalc.getIsoelectricPoint(ProteinTools.createProtein(sequence)));

We have noticed some runtime exception when running many requests in parallel:

Caused by: java.lang.RuntimeException: org.biojava.bio.symbol.IllegalSymbolException: This tokenization doesn't contain

[2014-08-10 00:22] #140 closed, assigned to nobody

[2014-08-10 00:24] #137 closed, assigned to nobody

[2014-08-11 16:41] josemduarte opened #145 "ChemCompGroupFactory not respecting the ChemCompProvider if value is already cached"
This is a subtle issue with singletons in the structure module. I've only found it because of a strange inconsistency while parsing both mmCIF and PDB files in same JVM.

In `ChemCompGroupFactory` the `ChemCompProvider` can be set with `setChemCompProvider` (e.g. it is set to `ReducedChemCompProvider` in `PDBFileParser` when `isLoadChemCompInfo` is false), however if the cache in `ChemCompGroupFac

[2014-08-15 10:18] aloboda opened #146 "Fasta Header Parser fails if description is not available"
We have protein database with several headers with no description:

Could you please change line 121
from:  if (data.length > 1) {
to:  if (data.length > 2) {

As a result it fails with this exception:
java.lang.ArrayIndexOutOfBoundsException: 2
    at org.biojava3.core.sequence.io.GenericFastaHeaderParser.parseHeader(GenericFastaHeaderParser.java:122)
    at org.biojava3.core.sequence.io.GenericF

[2014-08-15 10:39] sbliven opened #147 "Atom lookups sometimes fail"
There's a bug in the `HetatomImpl` implementation of `Group` which causes `hasAtom()` to sometimes fail when given a trimmed atom name ("N") rather than the full 4-char name (" N  "). It only occurs after calls to `trimToSize()`, which contains the root bug. This is a core bug with some nasty indirect consequences (eg I found it because `hasAminoAcids()` was broken).

[2014-08-15 12:59] sbliven opened #148 "Whitespace padding of atom names in mmCIF files"
What's the proper way to deal with atom names? For PDB files we are careful to treat them as 4-character strings and to include whitespace in all checks (eg alpha-carbon " CA " is different from calcium "CA  "). HetatomImpl even keeps separate dictionaries of the trimmed and untrimmed names for accessing atoms. However, in mmCIF the atom names are always left justified, rather than using quoting t

[2014-08-15 16:46] #147 closed, assigned to nobody

[2014-08-15 16:54] #146 closed, assigned to nobody

[2014-08-26 14:15] sbliven opened #154 "mmcif warnings"
When parsing some newer mmCif files, such as the large file 4v51, I see repeated warnings:

[code]

Flag info: [_struct_conn.pdbx_leaving_atom_flag](http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v40.dic/Items/_struct_conn.pdbx_leaving_atom_flag.html)

The flag isn't currently used, so it's value is always '?'. Maybe we should silently ignore any such errors unless valid data is being dropped? Tha

[2014-08-26 16:32] sbliven opened #155 "Use SLF4J for logging"
I believe we reached a consensus on the mailing list to use slf4j for logging, due to its easy interoperability with other logging frameworks.

Todo:
* Create a usage policy & documentation (http://www.biojava.org/wiki/BioJava3_logging)
* Add slf4j & an implementation to the pom file
* Change any existing uses of java.util.logging to use slf4j (there shouldn't be ~~any~~ many of these)
* Convert p

[2014-08-26 16:43] sbliven opened #156 "Large mmCif structures"
How are we doing on parsing the large mmCif files from the pdb (ftp://ftp.wwpdb.org/pub/pdb/data/large_structures/mmCIF/)?

I did some tests on 4v51, and the mmCif parser is able to read all the atoms. There are a few fields we don't support:
[code]

I'm pretty sure that large structures break assumptions in some of the analysis code. For instance, two-letter chains aren't going to work in AtomCac

[2014-08-27 11:08] #154 closed, assigned to nobody

[2014-09-01 17:31] josemduarte opened #160 "Seqres groups not set properly in structures with altLocs in mmCIF parsing"
If one tries

[code]

The result is:

[code]

When the actual seqres length should have been 46. As seen above this is due to SER 22 and ILE 25 being duplicated. They both happen to have altLocs, thus this seems to be an issue with altLocs. Maybe related to #76

[2014-09-01 17:56] josemduarte opened #161 "Aminoacids that occur as first residue of the ligand chain are parsed as part of the chain in PDB parser"
Example is [3o6g](http://www.pdb.org/pdb/explore/explore.do?structureId=3O6G):  `getAtomGroups(GroupType.AMINOACID).size()` gives 264, when it should give 263. The first GLU (GLU 264) in the ligand chain A is considered as part of chain A and thus the +1 count. As it appears after the TER record it should be counted out of the main amino chain.

[2014-09-02 12:23] #161 closed, assigned to nobody

[2014-09-02 12:50] josemduarte opened #162 "Chain.getAtomGroups(String type) and Chain.getSeqResGroups(String type) problems"
These two methods declared by the `org.biojava.bio.structure.Chain` interface need to be consistent across the different parser implementations (PDB and mmCIF). As input they take one of the 3 values in class `org.biojava.bio.structure.GroupType`: `AMINOACID`, `HETATM` and `NUCLEOTIDE`.

Their behaviour depending on input should be, in my understanding:
- `AMINOACID`: all standard aminoacids shoul

[2014-09-17 15:20] #162 closed, assigned to nobody

[2014-09-17 15:42] #160 closed, assigned to nobody

[2014-09-17 16:21] #145 closed, assigned to nobody

[2014-09-17 16:22] josemduarte opened #169 "Why different default ChemCompProviders for different parsers?"
It seems that the `ChemCompProvider` defaults are:
- for PDB parser it is `ReducedChemCompProvider`
- for mmCIF parser it is `DownloadChemCompProvider`

is there a reason for that?

See also issue #145

[2014-09-19 10:12] sbliven opened #172 "Residue Number incorrect in mmCIF structures"
The Chain ID of Residue Number in mmCIF structures is incorrect. Here's a test case:

[code]

This fails with a chain 'A'

[2014-09-19 14:14] #172 closed, assigned to nobody

[2014-09-19 14:30] sbliven opened #173 "Default to mmCIF"
With the [wwPDB's announcement](http://www.wwpdb.org/news/news_2014.html#18-September-2014) that starting Dec 10 large structures (#156) will not be available in PDB format, perhaps now is a good time to switch the default format to mmCif.

Simply changing the default setting of `AtomCache.useMmCif` should be sufficient.

[2014-09-20 22:34] dmyersturnbull opened #176 "Improve Biojava exception handling"
I think this is an important improvement to have for Biojava 4.0, and it's related to issue #155.
### The issue

Searching for "printStackTrace" in Biojava reveals 481 occurrences of code snippets like these:

[code]

Many of these uses aren't especially dangerous because they reside in main methods, tests, or toString() methods; or because execution of the catch results in null being returned, ef

[2014-09-22 23:33] #54 closed, assigned to nobody

[2014-09-23 09:15] #176 closed, assigned to nobody

[2014-10-01 13:00] josemduarte opened #181 "PDB_DIR: should it follow the official ftp layout?"
The PDB_DIR and AtomCache use the divided (split) layout for its directories. That and the file naming convention resembles very much the layout in the ftp server (ftp://ftp.wwpdb.org/pub/), but many things are not following exactly the same convention.

In my opinion it would be very useful and more consistent to mirror the exact same layout as the official ftp server. It would look like:

| top

[2014-10-02 01:23] benjamintboyle opened #185 "@SupressWarnings overused and/or used incorrectly"
As of 01 Oct 2014, there are 272 instances of @SupressWarnings throughout the biojava project. Many of the instances are programmatic issues that should not be suppressed. Recommend adding comment/javadoc as to the reason for suppression, otherwise the @SupressWarnings should be removed and the warning fixed programmatically.

[2014-10-06 12:48] josemduarte opened #188 "Implement mmCIF file writing"
I couldn't find a way to write structural info in mmCIF format at the moment (please correct me if I'm wrong!). It would be cool to have a mmCIF writer to complete the support for mmCIF format.

See also #173

[2014-10-10 16:05] heuermh opened #189 "Update guava dependency version to 18.0"
See
https://github.com/biojava/biojava/blob/master/biojava3-sequencing/pom.xml#L16

Version 18.0 removed some deprecated code so code changes might be necessary.

[2014-10-10 17:01] #189 closed, assigned to heuermh

[2014-10-10 22:35] tolgap opened #191 "Nullpointerexception when reading a sequence with ambiguous DNA nucleotide"
I have been banging my head over this, but I can't seem to figure out why it's going wrong.

It specifically happens on this sequence in the file:

[code]

This is the first sequence in my file that includes the ambiguous nucleotide "Y".

I use this code to read and process the file:

[code]

It processes the first few sequences in that file, until it gets to the sequence above. Then I get this ex

[2014-10-12 10:25] josemduarte opened #193 "Using Errors instead of Exceptions"
There's a couple of classes in `org.biojava3.core.exceptions` that are extending `Error` when they actually should be extending `Exception`. Especially `CompoundNotFoundError` is used in a few places and is definitely not an `Error` in the java sense, the other two Error classes are not used much.

Quoting the `java.lang.Error` documentation:

"An Error is a subclass of Throwable that indicates se

[2014-10-13 09:45] tolgap opened #195 "Is there a faster usage method for the "countCompounds()" method?"
I'm trying to implement an amino acid frequency calculator. I've finished it but I'm using `Sequence.countCompounds` and it is _incredibly_ slow. I'm profiling this with the `JVM Monitor` plugin for Eclipse and most time is spent putting things in `Hash`es inside the `SequenceMixin.countCompounds` method. For illustration, using `countCompounds` to eventually get the AAF for a single DNA sequence

[2014-10-16 10:17] sbliven opened #196 "Improve responsiveness of structure alignment database searches"
Database searches are very slow, but this is not well communicated to the user. The progress bar should show progress downloading structures and running jobs. Some text output would also be nice ('Downloading 4hhb (57/40000)', 'Running d4hhba_ (57/40000)', etc).

Downloading PDB files individually also seems inefficient, and should at least be done in parallel.

PDP domain definitions should be ca

[2014-10-22 10:41] #181 closed, assigned to nobody

[2014-10-23 13:25] sbliven opened #197 "Protein Comparison Tool classpath problem"
The logging classes aren't copied into the Protein Comparison Tool's tarball. This leads to runtime errors (although shouldn't it use a noop logger implementation?).

The quick fix is to modify the pom to copy the needed jars. My preferred approach would be to convert the module to generate a single shaded jar with everything we need.

[2014-10-24 13:47] #197 closed, assigned to sbliven

[2014-11-05 12:12] sbliven opened #201 "BiojavaJmol transmits structures naively"
BiojavaJmol transmits structures to Jmol by converting them to a PDB string. This is very simplistic and limits some features:
* Unit cells don't display, since the header records get stripped out, including crystal information
* large structures are going to break, since they don't have a PDB representation (#156)

[2014-11-06 13:43] josemduarte opened #202 "Integer overflow bug in AbstractMatrixAligner"
There seems to be an integer overflow bug in `AbstractMatrixAligner`, the type used for max and min scores is `short`. Whenever the score is higher than that, then it overflows and goes to the negative side.

Code to reproduce:

[code]

The output for that is:

[code]

Where it is clear that the max score is overflowing and the similarity value is then wrong.

[2014-11-12 08:32] #202 closed, assigned to nobody

[2014-11-12 08:40] josemduarte opened #205 "GuanUberbacher linear space global aligner implementation, is it really linear?"
As commented in #204 the implementation of the (linear space) Guan-Uberbacher algorithm doesn't look to be linear in memory usage.

Both `org.biojava3.alignment.NeedlemanWunsch` and `org.biojava3.alignment.routines.GuanUberbacher` seem to be inheriting from `org.biojava3.alignment.template.AbstractMatrixAligner` which contains a full score n x m matrix and thus the memory usage would be quadratic.

[2014-11-12 08:53] #193 closed, assigned to nobody

[2014-11-12 09:08] josemduarte opened #206 "Some integration tests don't pass with jdk8u25"
I've tried to do a `mvn install` with current HEAD and using Oracle's jdk8u25 in Ubuntu 14.04 64 bit, i.e.:

[code]

One of the tests in integrationtest module failed:

[code]

Biojava 4 should really be working with jdk8, I've added this to the milestone.

[2014-11-18 13:20] #206 closed, assigned to nobody

[2014-12-02 16:42] sbliven opened #213 "Alignments do not allow consecutive gaps"
The alignments are defined in such a way that it is not possible to have consecutive gaps. Here's a test case (to go in NeedlemanWunschTest. Requires 4bc1d20.):

[code]

The key point here is that the 'KK' and 'FF' sections don't align to anything, and we would like both to be considered gaps, giving a score of -4 (9 matches, 1 gap initiation, 4 gap extensions). The current NW alignment is the fol

[2014-12-06 01:57] dmyersturnbull opened #216 "Resolve TODOs or remove them"
There are lots of TODO comments in biojava-structure. Some probably no longer apply, but some are concerning because they're in really deep/fundamental parts of the API.
StructureImpl.clone contains this: //TODO: do deep copying of data!

These should all be either resolved or removed. Since many would involve interface changes, Biojava 4.0 (or 5.0?) is the best release to do this.

[2014-12-09 16:21] #117 closed, assigned to sbliven

[2014-12-09 16:49] sbliven opened #219 "GroupType is composed of String constants"
The use of String constants for `Group.getType()` is ugly and fragile. I propose we replace it with the enum `org.biojava.bio.structure.io.mmcif.chem.PolymerType`.

Note that this would introduce a slight difference between PDB-parsed structures and mmCIF-parsed structures, since the former would mark all HETATMs as 'unknown', while the mmCIF files contain annotations for polysaccharides and other

[2014-12-12 12:01] sbliven opened #220 "Better support for symmetry in the Structure model"
PDB and mmCIF files use symmetry operators to reduce the number of atoms which need to be specified. This is used with NCS to reconstruct the asymmetric unit (e.g. in viruses), as well as for specifying biological assemblies (BA).

BioJava is able to read and understand the symmetry operations required to generate the full structure, but the data model is far from ideal for this. Most analysis app

[2014-12-16 17:29] #75 closed, assigned to nobody

[2014-12-16 17:29] #74 closed, assigned to aalhossary

[2014-12-19 10:51] #219 closed, assigned to sbliven

[2014-12-23 20:03] andreasprlic opened #223 "Add ability to create a Profile from a multiple sequence alignment file"
would be great to be able to create a Profile from some of the popular file formats for representing multiple sequence alignment files.

Currently we can read Stockholm files like this:
http://biojava.org/wiki/BioJava:CookBook3:Stockholm

but it can be converted to a Profile.

[2015-01-05 14:35] sbliven commented on #223
I have some code lying around for reading multiple alignments from fasta files, using case to indicate whether residues were aligned or not. However, I think it just returned a `List<AlignedSequence>` since creating profiles isn't well supported.

[2015-01-06 11:59] sbliven commented on #155
How about now, @josemduarte? Logging doesn't change the API, so it can easily go out in patch commits.

[2015-01-06 12:11] josemduarte commented on #155
Yep let's close it, I think the logging coverage now is quite decent. Surely there must be some other places with missing logging but we can add more commits later

[2015-01-07 11:37] sbliven opened #225 "Drop support for non-split PDB directories"
Following #181 we use a heirarchical directory structure for storing PDB files, e.g. `PDB_DIR/data/structures/divided/mmCIF/xx/1xx0.cif.gz`. But we still have an isSplit flag, which controls whether it is written to the `divided/mmCIF/xx/` or the `all/mmCIF/` directory.

I don't see any use cases where you would prefer the `data/.../all/...` directory. I suggest we remove the isSplit option from S

[2015-01-07 11:48] sbliven commented on #225
One usecase I *can* see is that for storing all files directly in `PDB_DIR`. For instance, PyMOL downloads files to a flat directory (which I make the same as PDB_DIR), so that would reduce redundant downloads between the two programs.

A more complete (and complex) solution would be to replace the isSplit boolean with an enum of various preferred directory layouts:

[code]

This would be pretty s

[2015-01-08 09:31] sbliven opened #226 "Drop support for File-based Biological assemblies"
Is there any reason to continue using the PDB-provided biological assembly files? It makes more sense to me to generate them directly from the files.

[2015-01-08 09:52] josemduarte commented on #226
:+1:

In addition there's an important problem: PDB-provided biological assembly files are not available in PDB format anymore for large entries, but only in mmCIF format.

Instead of also implementing reading of PDB-provided mmCIF bio assemblies, I think it is a good idea to simply default to generate the biological assemblies from the headers (biojava has already code for that in `org.biojava.bi

[2015-01-08 14:57] josemduarte commented on #220
I think the solution should come through introducing a more general identifier for molecules within the `Structure`. Currently this is the situation:
- the __chain id__  is an identifier within the asymmetric unit, i.e. an _asym id_
- the __model id__ is an identifier for multiple conformations

Those 2 have well-defined uses, so we shouldn't touch them, we need to introduce a new identifier, let'

[2015-01-08 15:36] josemduarte opened #227 "Downloading of PDB/mmCIF files trough AtomCache is slow and fails often"
I am running a test that requires downloading of 1000 PDB and 1000 mmCIF files via AtomCache.
There's 2 problems:
- the downloads seem to be extremely slow if I compare to equivalent rsync downloading
- the download is breaking every ~20-30 files with a timeout or some other connection interruption

After looking at the current code, there are a few things that seem to be wrong with the downloadin

[2015-01-08 15:51] josemduarte commented on #227
This can be related to some of the travis failures we often see, or at least the travis failures are happening more often because of this.

[2015-01-08 15:59] sbliven commented on #227
The speed issue should be improved by optimizing methods in `FileDownloadUtils` to minimize gzip compression/uncompression.

Improving the reporting of FTP connection errors & status codes might shed light on the second problem. I think this bug has been around a long time but passed off as flukes and concurrency problems (e.g. doing the CE-Symm census with @dmyersturnbull). It will be great to cr

[2015-01-08 17:13] pwrose commented on #225
+1 from me.

On Wed, Jan 7, 2015 at 6:33 PM, Andreas Prlic <notifications@github.com>
wrote:

[2015-01-08 17:45] andreasprlic commented on #227
interesting observation. There is no firewall protection for too many downloads on the ftp servers. However there is firewall rule protecting the web site. If you use the DownloadChemCompProvider it fetches the files form the website rather than ftp, since the files are no avail from there. It could be that many fetches in a short period of time triggers a firewall rule. What Chemical component pr

[2015-01-08 17:49] pwrose commented on #226
+1 Taking out that functionality would clean up the IO code quite a bit.

On Thu, Jan 8, 2015 at 1:52 AM, Jose Manuel Duarte <notifications@github.com

[2015-01-13 00:16] #226 closed

[2015-01-13 09:14] #225 closed

[2015-01-13 10:35] sbliven commented on #173
#228 adds obsolete file support, so I think this issue is done.

[2015-01-13 10:35] #173 closed

[2015-01-13 14:13] sbliven commented on #185
Part of the problem here comes from differences in Eclipse's warning levels. For instance, I introduced some SuppressWarnings that appear unneccessary unless you have 'Signal overriding or implementing deprecated method' set. Those were probably a bad idea-we should only suppress warnings which appear with default compilation settings.

[2015-01-13 14:16] josemduarte opened #230 "Bioassembly handling for entries with highly symmetric AUs (mostly viral capsid proteins)"
PDB entries with highly symmetric AUs, i.e. those containing MTRIX/struct_ncs_oper records, have special bioassembly annotations in the mmCIF format (but not in PDB format!), e.g. 1ei7:

[code]
While the corresponding REMARK 350 in the PDB file contains only the id=1 annotation. Actually in those 4 assemblies the only one referring to an actual biological assembly is 1. The others are more related

[2015-01-13 18:47] josemduarte commented on #227
Thanks @andreasprlic for the comment. I think after all this can be more a firewall issue than anything else. I'm specially suspicious of our local firewall, which filters quite aggressively. I've made an experiment of switching to the http:// urls you mention and... I get a speed increase of 2x !!

[2015-01-13 18:49] josemduarte commented on #227
What about defaulting to the http protocol in `AtomCache`? I think it is the protocol that will be most available behind even the most radical firewalls.

[2015-01-13 18:50] andreasprlic commented on #227
yes, we should switch that, now where it is possible. That definitely will also be a workaround for the multi threaded download problems we had with the Java FTP client library...

[2015-01-13 21:58] andreasprlic commented on #230
+1

[2015-01-13 22:16] josemduarte commented on #227
I can confirm now by using my ISP connection that I also gain 2x in download speed by changing ftp to http. So at least that rules out that the problem is at the firewall on the client side. The firewall on the server side (PDB) could still have something to do with it. Anyway my main suspect now would be the differences in how java handles the ftp/http protocols

[2015-01-13 22:19] josemduarte commented on #227
This is a good read

http://www.javaworld.com/article/2073325/java-app-dev/java-ftp-client-libraries-reviewed.html

[2015-01-13 22:21] andreasprlic commented on #227
sounds like we should re-write any FTP access to use http instead...

[2015-01-13 22:21] pwrose commented on #230
+2

Any non-numeric assembly ids (PAU, XAU, etc.) can be ignored.

On Tue, Jan 13, 2015 at 1:58 PM, Andreas Prlic <notifications@github.com>
wrote:

[2015-01-14 09:16] sbliven commented on #227
Since we're all testing the same files, the HTTP versions should hit memcache on the server side, right? Is there an equivalent caching layer in the FTP server? If not, could that account for part of the speedup, or is the server-side IO negligible compared to the network time for these files? The average gzipped mmcif file is 241.6 KiB.

[2015-01-14 10:27] sbliven opened #231 "Redundant StructureProvider interface"
Can we drop the StructureProvider interface? It mostly overlaps StructureIOFile (although 'StructureProvider' is a better name). Alternately, we could make the file readers inherit from StructurePrivider and drop/deprecate StructureIOFile. The difference is that StructureProvider has (partial) access to Biological Assemblies, while StructureIOFile knows something about what file extensions are sup

[2015-01-14 10:28] sbliven opened #232 "Auto-detecting file formats"
It would be convenient to auto-detect file formats. This is a hard problem, and one where the other Bio* projects differ. BioPerl has pretty good support for guessing file formats based on extension, magic bytes, or contents. BioPython has adhered to the python philosophy of 'explicit is better than implicit', and required the user to provide the format type.

What's the BioJava philosophy? I ask

[2015-01-14 10:42] sbliven commented on #232
There is a bit of magic happening already in `InputStreamProvider` to distinguish gzipped files.

[2015-01-14 10:50] josemduarte commented on #232
Auto-detecting PDB vs mmCIF would be a really nice feature indeed. We implemented a very rough one in https://github.com/eppic-team/owl, which would decide by checking the first line of the file against these signatures (regexes):

[code]

[2015-01-14 11:38] josemduarte commented on #227
My latest pull request solves some of these issues, so I'll close this for now.

Regarding the connection breaking, it looks more like a temporary glitch in the server, I haven't seen it happening again in the last couple of days

[2015-01-14 11:38] #227 closed

[2015-01-14 13:15] #230 closed

[2015-01-14 15:03] sbliven commented on #67
They work fine, and here's a test to prove it.

[2015-01-14 15:03] #67 closed

[2015-01-14 15:06] sbliven commented on #156
Since 4-letter chains work (#67), I'm going to close this. If any more specific problem emerge we can open new issues for them.

[2015-01-14 15:06] #156 closed

[2015-01-14 16:17] josemduarte opened #234 "Parsing mmCIF files produced by phenix"
Currently the mmCIF parser can't parse phenix-produced files. The test added in commit 9cae80fcfaa8174caaadea1620882dbfff3ed4e2 demonstrates the issue (The Test tag is commented out for now in order for the build to work. It should be uncommented once this is fixed)

Looking at it quickly I think that the problem comes from the separation between loop fields. In PDB-deposited mmCIF files a line st

[2015-01-14 17:20] pwrose commented on #231
I've never used the StructureProvider interface, so I cannot comment
directly, but reducing redundant functionality is a good thing.

On Wed, Jan 14, 2015 at 2:27 AM, Spencer Bliven <notifications@github.com>
wrote:

[2015-01-14 17:21] pwrose commented on #232
+1

On Wed, Jan 14, 2015 at 2:50 AM, Jose Manuel Duarte <
notifications@github.com> wrote:

[2015-01-14 17:23] pwrose commented on #156
I haven't checked, but does StructureIO support the syntax: 1XYZ.ABC for
example to load a single chain?

On Wed, Jan 14, 2015 at 7:06 AM, Spencer Bliven <notifications@github.com>
wrote:

[2015-01-14 18:20] andreasprlic commented on #232
I added some checks for magic numbers at the [InputStreamProvider](https://github.com/biojava/biojava/blob/master/biojava3-core/src/main/java/org/biojava3/core/util/InputStreamProvider.java) to check what kind of compression is getting used.

The main use-case that I see is in user interfaces, where a user can upload a custom file format. This could allow to support both PDB and mmCif file formats

[2015-01-14 18:45] andreasprlic commented on #227
It is likely that the apache instance on top of the ftp servers is doing some caching and that this contributes to the speed gains. Also FTP communication requires more back and forth with the client and therefore by definition is likely to be slower.

[2015-01-14 22:36] phidias51 commented on #232
It might be a good idea to separate the file sniffing code from the input
stream code.  This would let you use the file sniffer in different
contexts.  For example, you might use them as a key to select a file parser
(not just a compressor).

That said, it might be worth looking at Apache Commons Compress
CompressorStreamFactory which handles more file types.

Cheers,

Mark

On Wed, Jan 14, 2015 a

[2015-01-15 02:46] agupta1989 commented on #232
+1

email sent using phone app.
On Jan 14, 2015 3:58 PM, "Spencer Bliven" <notifications@github.com> wrote:

[2015-01-19 15:04] iaraknes opened #236 "Can you please update the Maven repo to include bug fix?"
There is a bug in biojava3-core version 3.1.0 that seems to have been fixed in the master branch, but an updated version does not yet reside in the Maven repo. Since biojava3-core in the Maven repo hasn't been updated since August I am wondering if you could please update the repo so that it will no longer be necessary to depend on a local snapshot release?

Below is a stacktrace caused by the bug

[2015-01-19 16:00] sbliven commented on #236
@iaraknes Development on 4.0.0 and 3.1.0 were concurrent, and the Java 8 patch didn't get backported to the 3.1.0 branch. I'd like to be better about backporting major bug fixes like that in the future, but as of now it would be difficult to do. We are quite close to a 4.0.0 release (nearly all 4.0.0 issues have been fixed, so 'close' should mean weeks to a month). Thanks for your patience!

[2015-01-19 16:00] #236 closed

[2015-01-19 16:09] sbliven commented on #156
@pwrose No, `StructureName` specifically checks for 6-character strings. I'll add a new issue for this.

[2015-01-19 16:10] sbliven opened #237 "Expand StructureName syntax to include multi-letter chain IDs"
Allow structures like 1XYZ.ABC to be fetched in getStructure methods of AtomCache, StructureIO, etc.

[2015-01-19 19:16] andreasprlic opened #238 "Steps needed for the next BioJava release"
Here a todo list of what is missing before next BioJava release:

- [x] Upload 3rd party dependencies that are currently not in Maven central. ( forester.jar, colorbrewer.jar others? )
- [x] Declare code freeze
- [x] Discuss refactoring.
- [x] Ensure that all classes contain the copyleft notice
- [x] Draft release announcement message (lots of changes in this release!) [draft of release notes](htt

[2015-01-19 19:17] andreasprlic commented on #236
I think it is clear we need to make the new release available as soon as possible. I started #238 to keep track of what is missing at this stage.

[2015-01-19 19:18] andreasprlic commented on #130
I think this can be closed and get replaced with #238 for a final list of steps for the next release.

[2015-01-19 19:18] #130 closed

[2015-01-19 19:21] andreasprlic commented on #111
I think the work on this has concluded for now and I am closing this one. Please re-open if I missed anything.

[2015-01-19 19:22] andreasprlic commented on #216
This should not prevent us from making the 4.0.0 release soon. all developers, please fix TODO abuses as you encounter them.

[2015-01-19 19:22] #216 closed

[2015-01-19 19:23] andreasprlic commented on #185
This should not prevent us from making the BioJava 4.0.0 release soon.

[2015-01-19 19:23] #185 closed

[2015-01-19 19:51] dmyersturnbull commented on #237
Perhaps these changes should be integrated with https://github.com/biojava/biojava/blob/master/biojava3-structure/src/main/java/org/biojava/bio/structure/Identifier.java and https://github.com/biojava/biojava/blob/master/biojava3-structure/src/main/java/org/biojava/bio/structure/SubstructureIdentifier.java?

This could allow AtomCache and StructureIO to load SCOP domains and subsets of structures

[2015-01-19 20:20] heuermh commented on #238
Can we also reach out to someone from [DebianMed](https://wiki.debian.org/DebianMed) for help in packaging the 4.0 release?

I was able to package an old release (1.7) at a hackathon with someone from DebianMed looking over my shoulder, and unfortunately that is the last time it happened for biojava-legacy.  There have been a few package updates for the 3.0.x series of releases

http://changelogs.

[2015-01-19 20:36] josemduarte commented on #238
How about giving a specific date for the release. I would propose Thursday next week (29th Jan)

I think it helps if we have a clear deadline, a week and a half from now hopefully gives everyone enough time to finish up things.

[2015-01-19 21:57] andreasprlic commented on #238
Ok, we can declare the code freeze for next Thursday. Release will be anytime after we managed to push the .jars to maven central after that.

[2015-01-19 21:58] andreasprlic commented on #238
About Debian: We certainly can talk to the debian folks. I suggest to do this post-release so all the code is out in the public.

[2015-01-19 22:03] andreasprlic commented on #237
if possible I'd like to squeeze this one in for the 4.0 release...

[2015-01-19 22:06] heuermh commented on #238
There are things in that changelog that might want to be considered before release, e.g. ```Remove tests needing network access (Closes: #696947)```.  I'll contact Olivier and see if he would be interested in taking a look before we cut 4.0.

[2015-01-19 22:24] phidias51 commented on #238
Rather coincidentally, I came across this thread on different packaging
tools that can be used to create debian packages:
http://stackoverflow.com/questions/8256326/maven-plugin-for-building-debian-package

Cheers,

Mark

On Mon, Jan 19, 2015 at 1:58 PM, Andreas Prlic <notifications@github.com>
wrote:

[2015-01-20 07:48] sbliven commented on #238
Did we reach a concensus about removing the '3' from module names? If so, that should happen during the code freeze.

[2015-01-20 08:10] sbliven commented on #238
I started drafting the release notes at http://biojava.org/wiki/BioJava:Download_4.0.0

[2015-01-20 09:14] josemduarte commented on #238
Regarding renaming of modules I would support the idea to do it after the code freeze. Another thing I would still insist on is to rename (during freeze) the packages `org.biojava.bio.structure.*` to `org.biojava3.structure.*` in order to have a consistent package namespace across all modules (the structure module is the only one not following that convention).

We had a long discussion about all

[2015-01-20 10:54] #231 closed

[2015-01-20 10:55] sbliven commented on #231
Ok, I kept most things but integrated them better and clarified their relationship.

[2015-01-20 11:45] sbliven commented on #227
How much time does the performance test take? 20 structures * a few seconds each? Since it's not really asserting anything important, I'd suggest renaming it so it doesn't get run by maven.

[2015-01-20 12:06] josemduarte commented on #227
A minute or so (depending on bandwith and hardware of course). Strictly speaking it is not a test, it's not asserting anything... I put it there lacking a better place for it ;)

[2015-01-20 13:10] sbliven commented on #237
Ok, I'll work on fixing the Identifier class and using it consistently.

In principle I like the idea of using uniform resource identifiers (URI) to identify structures, but they have a pretty formal specification. Ideally, the wwPDB would define a URI or URN (uniform resource name; basically a URI intended to be a unique ID) scheme for identifying structures. We could in principle do this ourselv

[2015-01-20 13:53] sbliven commented on #81
I'm adding this to the 4.0.0 milestone, since it will add a lot of methods and is closely related to #237.  Let's git 'er done!

[2015-01-20 14:20] sbliven commented on #81
I feel like what I really want here is a full-blown selection logic. `StructureIdentifier` implementations should be a set of methods which map from a String (either a short unique ID, as in domains) to some sort of unambiguous, memory-compact structure query.

Currently we support queries which contain a unique PDB ID and one or more sequential sequences of residues. Is there a way we could gener

[2015-01-20 18:14] dmyersturnbull commented on #237
Ok, I see. So no I/O would be involved; instead, UriIdentifier would map (e.g.) "http://wwpdb.org/1hiv/A"  to chain A of 1HIV. (Now I realize that I understood that when I wrote the stub.) In that case, I'm in favor of removing UriIdentifier until we know what to do with it.

[2015-01-20 21:33] pwrose commented on #81
How about:

Without model specification:
<pdbid>.<chainid>.<residueid>.<atomname>.<alternative location id>

With model specification (consider pdbid as an array of models),
<pdbid>[modelnumber].<chainid>.<residueid>.<atomname>.<alternative location
id>

residue id would need optionally include a residue number and insertion
code:
ASP - any ASP
ASP25 -  with residue number
ASP25C - with residue nu

[2015-01-20 21:55] dmyersturnbull commented on #81
I think the selection logic needs to be non-hierarchical. Otherwise, (e.g.) to specify the backbone of 1HIV, we would need "1HIV.A.1.CA, 1HIV.A.2.CA, ..., 1HIV.A.n.CA, 1HIV.B.1.CA, 1HIV.B.2.CA, ..."

Perhaps Identifier can hold a PDB id and an order-independent set of Selection objects, where each Selection has a unique string representation. For example, an Identifier for the above case could sto

[2015-01-20 23:10] dmyersturnbull commented on #111
I'm reviving for now so that I can reference it in commits. A major release (e.g. Biojava 4) is probably best for these changes since they're all somewhat backwards-incompatible.

[2015-01-20 23:12] dmyersturnbull commented on #155
Re-opening this for now so that I can reference it in commits.

[2015-01-21 14:09] sbliven commented on #220
@josemduarte As I understand it, in your scheme it would not be possible to store multiple biological assemblies in a single structure. I would tend towards making a Structure object correspond roughly to an mmCIF file, meaning that it should include information about all ~~biological~~ assemblies and allow iterating through them. I cross out biological, because the assemblies could also include a

[2015-01-21 14:44] sbliven commented on #81
PyMOL is able to do fairly well with a heirarchical selection string by allowing ranges and treating missing levels as matching everything. E.g. `/1HIV//A//CA` for @dmyersturnbull's first case, `/1HIV//A/1-15` for the first few residues, etc. However, to specify sections of two different chains you have to use a boolean operator, e.g. `/4HHB//A/1-15 or /4HHB//B/30-45`.

I guess with the current sy

[2015-01-21 20:06] dmyersturnbull commented on #81
I actually had in mind that each Selection would have an apply() method, which would add another set. That way, to get the backbones of chains A and B, you could have:
selections = {ComplexSelection{".A", "#CA"}, ComplexSelection{".B", "#CA"}}, which could be represented as:
".A#CA,.B#CA", where , is union. This way, you don't have to worry about parentheses, since intersection has higher preceden

[2015-01-23 15:33] sbliven commented on #155
Can't you reference a closed issue? jose's commits seem to have been picked up after it closed.

[2015-01-23 15:38] sbliven commented on #227
Ah, it's excluded in the pom. perfect.

[2015-01-23 20:58] dmyersturnbull commented on #155
Yes, apparently I can! (I didn't know.)

[2015-01-23 20:58] #155 closed

[2015-01-24 23:41] andreasprlic commented on #238
I don't think we have a consensus on this. However if you feel strongly about refactoring, we should organize a vote on this topic.

[2015-01-24 23:47] andreasprlic opened #240 "Please vote: Major refactoring of package names"
In brief, the question to vote on is:

**Should we do a major refactoring of BioJava package name for the 4.0 release?**
```The biojava code base contains package names containing *biojava3* . This should get changed to *biojava* only. In addition, for the protein structure modules the packages `org.biojava.bio.structure.*`should get changed  to `org.biojava.structure.*` ```

We did not conclude t

[2015-01-25 00:04] andreasprlic commented on #240
-1 Backwards compatibility is more important than a 100% consistent API. I know that refactoring in my IDE is a simple task, but will this be as obvious for our users?  Also, we need to update all documentation if we do this. In particular the structure modules have been mostly backwards compatible since their beginning in 2004. This would be the first time that you can't plug a Structure object l

[2015-01-25 00:07] andreasprlic commented on #238
Vote is at #240

[2015-01-25 00:12] andreasprlic opened #241 "Move symmetry detection code in quaternary structures into biojava-structure"
We'll move the symmetry detection code from https://github.com/rcsb/symmetry into biojava.

[2015-01-25 00:57] phidias51 commented on #240
+1 as a user and a kibitzer I'm not sure I get a vote, but if I do, I vote
making the module and the package changes. With a full version change you
kind of expect some level of incompatibility. If you need to upgrade, it's
not too difficult.

Mark
On Jan 24, 2015 4:04 PM, "Andreas Prlic" <notifications@github.com> wrote:

[2015-01-25 10:28] josemduarte commented on #241
:+1:

[2015-01-25 11:41] josemduarte commented on #240
+1 consistency and better structure for the future is worth a bit of doc changing now. Plus breaking of backwards compatibility is precisely why 3.x goes to 4.x, so I don't see an issue there

[2015-01-26 01:49] dmyersturnbull commented on #240
-1 I think the issue is transitive dependencies, not backwards incompatibility.
+1 in favor of merging the few classes in biojava3.structure to biojava.structure, or deleting them if they're not useful. This +1 holds uunless someone explains why we have both packages in the first place and has a strong objection to changing or deleting it. Are biojava3.structure.StructureIO and biojava3.structure.

[2015-01-26 01:59] heuermh commented on #240
-1 on refactoring package names org.biojava3 --> org.biojava
+0 on refactoring package names org.biojava3 --> org.biojava4

See http://mailman.open-bio.org/pipermail/biojava-dev/2014-October/007847.html

[2015-01-26 08:53] sbliven commented on #240
-1 on refactoring package names org.biojava3
+1 on refactoring org.biojava.structure to org.biojava3.structure, if not now then for 5.0.0. I think we would **like** to break backwards compatibility soon (e.g. for #220), and like @dmyersturnbull I dislike having two packages in the structure module.

[2015-01-26 09:20] sbliven commented on #241
+1

Should we move CE-Symm too? It makes some sense to keep it tied to CE/CE-CP in biojava, but the published URL is still rcsb/symmetry. Maybe move the core algorithm files, but leave the CLI?

[2015-01-26 09:24] josemduarte commented on #240
I think something needs clarification @dmyersturnbull . At the moment the situation with package names is:

- structure module: most packages are `org.biojava.bio.structure.*` except for 2 packages using `org.biojava3.structure`
- all other modules: `org.biojava3.modulename.*`

Thus the one module that doesn't follow the convention at the moment is __structure__, since most of its packages are usi

[2015-01-26 09:27] josemduarte commented on #240
My vote goes to 4 which is in my opinion the most complete solution. I'm happy to compromise and stay with 3 or 2, but definitely not with 1.

[2015-01-26 09:34] sbliven opened #242 "Please vote: Rename module names"
Along with the package names discussed in ~#240~ #245, this [thread](http://mailman.open-bio.org/pipermail/biojava-dev/2014-October/007842.html) also discussed renaming the modules and maven artifact IDs.

**Question:**

Option in favor of renaming (+1):
* Change all modules to use `biojava-` as a prefix, e.g. `biojava-core` and `biojava-integrationtest`

Option for partial renaming (-1):
* Change

[2015-01-26 09:34] sbliven commented on #242
-1 Partial renaming

[2015-01-26 09:34] sbliven commented on #240
Please vote on the related #242 as well!

[2015-01-26 09:40] josemduarte commented on #242
+1

[2015-01-26 10:17] sbliven commented on #238
Additional vote at #242

[2015-01-26 14:06] josemduarte opened #243 "Introduction of semiglobal alignments"
A missing feature in the alignment package is that of semiglobal alignments, useful for aligning a short query sequence against a large target database (e.g. a genome).

See commit 45235c07b7f2d056274565a021b86d3ee2c5f76c and its discussion. The commit was then reverted in 02d9888c947820314ae1c554a960b4a0963a512c

See also a start of an implementation in commit 91fbc0189287e023841555e787e08d255211

[2015-01-26 14:18] paolopavan commented on #240
if I could add my opinion, I would vote for refactoring biojava3 to biojava4; then 5 and so on.
I see some advantages:
1) the very same nature of semantic versioning implies that major updates (given a version X.Y.Z, those in the first nuber X) are not backward compatible. Indeed, this is **already the case** since for example the introduction of CompoundNotFoundException in the constructor of Abs

[2015-01-26 15:25] andreasprlic commented on #242
+1

[2015-01-26 15:26] phidias51 commented on #242
+1
On Jan 26, 2015 7:25 AM, "Andreas Prlic" <notifications@github.com> wrote:

[2015-01-26 15:26] andreasprlic commented on #240
I don;t know any other project that versions package namespaces and changes them in sync with the major release number. The would require refactoring by every user at every major version upgrade. Pain!

[2015-01-26 15:52] heuermh commented on #242
To clarify, currently biojava-legacy on Maven Central is using coordinates such as
[code]
There were also biojava3 artifacts released third-party to Maven Central using coordinates such as
[code]
All other biojava version 3.x releases were only released to the biojava maven repository.

There was at least one conflict between the biojava-legacy build and biojava3, which needed to be resolved by re

[2015-01-26 16:01] heuermh commented on #240
Many of the Apache Commons libraries do
http://commons.apache.org/proper/commons-lang/
http://commons.apache.org/proper/commons-math/
http://commons.apache.org/proper/commons-collections/

One that does not and often causes runtime breakage due to version mismatches in transitive dependencies is Guava
https://code.google.com/p/guava-libraries/

They explicitly advertise this as a feature though:
"

[2015-01-26 16:22] paolopavan commented on #240
About the version in namespace you're are right, Andreas (exept for biojava itself, of course ;-) ).
But it is also true that the introduction of CompoundNotFoundException by itself (or elements like that, I'm not discussing the opportunity of the modofication) will require a code refactoring by every user for this major release. And not an automatic one, but manual!
The only way to avoid user sid

[2015-01-26 17:47] pwrose commented on #242
+1 for major renaming of package names. If we want to get more new users, a clean naming scheme is essential. Current developers can deal with minor inconveniences to enable benefits in the future.

[2015-01-26 18:41] andreasprlic commented on #242
@heuermh is the rule that we can't go backwards something imposed by Maven Central, or is this just by convention? Since this will be the first time that we are officially pushing to MC I think we should be free to chose whatever artifactId we are most comfortable with. The version number is the place to specify the actual version and not groupId nor artifactId ...

[2015-01-26 18:45] dmyersturnbull commented on #242
+1 Users will have to update their POMs anyways.

[2015-01-26 19:04] dmyersturnbull commented on #111
Closing for now, since that was all I had time for. There's still a lot of code that needs improvement, perhaps for Biojava 5.

[2015-01-26 19:04] #111 closed

[2015-01-26 19:18] dmyersturnbull commented on #240
@josemduarte Just adding my suggestion to your list of options:

  1-1. A cross between options 1 and 2: move the two packages in org.biojava3.structure to org.biojava.bio.structure. This does mean that biojava-structure is the only module that doesn't follow the org.biojava3 convention, but it also means virtually nothing breaks. We could then reconsider a more drastic renaming for Biojava 5 (e.g

[2015-01-27 08:23] sbliven commented on #240
So what's the consensus procedure on these? If everyone keeps adding suggestions then the voting system doesn't really work.

[2015-01-27 09:20] sbliven opened #244 "Incorrect length calculation in AtomPositionMap"
The calcLength() methods of AtomPositionMap don't include the end residue, lead to off-by-one errors. This is particularly apparent when parsing ResidueRangeByLength objects, where "A:1-2" has a length of 1.

[2015-01-27 09:23] josemduarte commented on #241
I'm attempting to do the move of quaternary symmetry detection, I'll post some commits to my fork to see if you guys like it

[2015-01-27 10:31] sbliven commented on #244
Also the calcLengthDirectional() returns weird values. I would expect `calcLengthDirectional(a,b) = -calcLengthDirectional(b,a)` for `a,b` on the same chain. Instead it gives -1, etc.

[2015-01-27 10:43] paolopavan commented on #242
-3
Agree with @heuermh .
Moreover will allow a good degree of backward compatibility merging bug fixes and and patches on biojava4 also with compatible source in biojava3, if this is the main concern.
By the way, biojava have already did it in respect of legacy package.

[2015-01-27 11:58] josemduarte opened #245 "Please vote: Major refactoring of package names (2nd attempt)"
See original vote in #240 . Now we are extending the vote to include all proposed solutions.

Please vote on one of these solutions. If you are happy with more than one of them, then write down all solutions you like sorted from most ideal to least ideal (e.g. 3, 2, 1), I think that can help taking a final decision.

1. __Keep existing situation__: a mix of `org.biojava3.modulename.*` and `org.bio

[2015-01-27 12:00] josemduarte commented on #240
In an attempt to save the vote, I've opened a new one (#245) which contains all the solutions proposed above. If that doesn't work either, then @andreasprlic can take the decision.

[2015-01-27 12:01] josemduarte commented on #245
6, 4, 5

[2015-01-27 14:08] sbliven commented on #245
I vote 4.

[2015-01-27 14:18] sbliven commented on #242
I've added a clarification to the options in the original post. Votes for @heuermh's "-3" option will be bundled into the -1 votes, pending the decision for package renames. Lets keep them consistent.

[2015-01-27 14:19] #240 closed

[2015-01-27 14:38] paolopavan commented on #245
5.
Already explained why here https://github.com/biojava/biojava/issues/240#issuecomment-71466623

[2015-01-27 14:46] andreasprlic commented on #241
@josemduarte don't worry, we already almost finished this yesterday. The only reason why we did not commit this yet is because I needed to move the colorbrewer library to Maven Central first...

[2015-01-27 14:49] josemduarte commented on #241
Awesome thanks a lot! I have some stuff already anyway. I'll put it in a branch off my fork in case it's useful at some point.

[2015-01-27 14:53] sbliven commented on #243
Are the 'glocal' alignments discussed on wikipedia the same thing as the 'semiglobal' keyword introduced in 91fbc01? Or did @dmyersturnbull intend it to mean something about the end gap penalties? I'm confused.

Also discussed in 45235c0 is the nature of the penalty for terminal gaps in global alignments. The biological rational behind affine gap penalties is that insertions are rare events, but t

[2015-01-27 14:56] andreasprlic commented on #240
I want to thank everybody who made the effort to contribute and comment here. It is great to see that so many people want to be involved in this. As to the original question of this vote, I think it is clear that there is neither a consensus, nor a majority in favor of the original proposal. However that does not mean that the proposal is not valued. In the course of this discussion a couple of in

[2015-01-27 15:13] josemduarte commented on #241
Alright I've put my version of it in https://github.com/josemduarte/biojava/tree/quat-sym-move and https://github.com/josemduarte/symmetry/tree/quat-sym-move

[2015-01-27 15:21] sbliven commented on #243
Correction: EMBL has a separate affine penalty terms for the end gaps, but these are set to 0 by default (both open and extend)

[2015-01-27 15:26] josemduarte commented on #243
So for completeness, this is the current situation with start and end gaps:

__START GAP__
[code]
With output:
[code]

__END GAP__
[code]
With output:
[code]
So with current implementation the behaviour is symmetric for start and end gaps: it penalises the start and end gaps as opening gaps.

[2015-01-27 17:13] jgrzebyta commented on #245
Thanks @paolopavan for info.

I vote 4, 5

**pro4** New release should be backward compatible: new release should at lest cover previous functionality. Changes in API would be accepted than.

**pro5** However I understand that some projects are quite complex and developers don't like to change everything just because changed API. Different namespace is the simplest option in that case. But also ja

[2015-01-27 18:05] dmyersturnbull commented on #245
2, 4

2 because it won't require users to change (almost) anything and seems hands-down better than 1.

4 because if we're going to do this, let's go all the way. From what I understand, only Biojava 1 presents a namespace conflict with the packages we'd rename to. Thus for a version conflict, dependencies would need to use Biojava 1. org.biojava.modulename is the natural choice, and it won't forc

[2015-01-27 18:16] heuermh commented on #245
5, 3, 1

As the release manager for biojava-legacy, which deploys to the Maven Central repository and still sees occasional releases, I strongly argue that we cannot do 4.

We shouldn't do 6 either as described above because ```org.biojavax``` as a package name is already in use.  See http://www.biojava.org/docs/api1.9.1/overview-summary.html  Are there other suggestions?

[2015-01-27 18:24] dmyersturnbull commented on #244
calcLength was meant to count half-inclusive, like numbers. So "A:1-2" has a length of 2 - 1 = 1. This has both advantages and disadvantages, but it should have been documented. I don't know that I'd support changing to inclusive counting while keeping the name calcLength(), but calcNumberOfResidues("A:1-2") could return 2. Alternatively, or additionally, ResidueRangeAndLength.getNumberOfResidues(

[2015-01-27 18:32] pwrose commented on #245
4,6,5

[2015-01-27 19:47] andreasprlic commented on #238
forester.jar and colorbrewer.jar have been released at Maven Central.

[2015-01-27 19:50] andreasprlic commented on #238
import forester:
[code]

import colorbrewer:
[code]

[2015-01-27 23:28] aalhossary commented on #245
5, 6, 4

Amr

[2015-01-27 23:43] andreasprlic commented on #245
Ok. people seem to vote in terms of refactoring 4,5, or 6 here. Let's put this on the roadmap for 5.0 then. (I take #240 as "not now").

[2015-01-27 23:48] aalhossary commented on #245
May I know where is the Roadmap?

I am asking because I wanted to propose some major changes in class hierarchy and relations for this major release but I couldn’t catch it in time.

Amr

From: Andreas Prlic [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 7:44 AM
To: biojava/biojava
Cc: Amr AL-HOSSARY
Subject: Re: [biojava] Please vote: Major refactoring of package names (2nd a

[2015-01-27 23:53] andreasprlic commented on #245
we are currently using the github "milestones" for flagging tickets and assigning them to certain releases.

[2015-01-28 00:06] andreasprlic commented on #241
Thanks, Jose. Peter did quite some cleanup and renaming of packages. I believe this can be closed now, unless you have suggestions for improvement.

[2015-01-28 00:06] #241 closed

[2015-01-28 00:07] andreasprlic opened #246 "Migrate CE-Symm source code from symmetry project into biojava structure"

[2015-01-28 09:11] sbliven commented on #244
Half-inclusive ranges only work for things with a well-defined and predictable order. That definitely doesn't apply for ResidueRanges. As it stands, there is no way to construct a range which includes the last residue!

Regarding the name, I don't see how a length method that actually returns one less than the length is anything but misleading. I'll rename it to force a compilation error, but I th

[2015-01-28 09:12] sbliven commented on #246
+1 for the 4.1.0 milestone.

[2015-01-28 10:02] sbliven commented on #245
I think we need to defer to @heuermh on the ineligibility of 4 due to maven, as well as the org.biojavax namespace.

I change my vote to a strong 3 (biojava3), as I really dislike the prospect of changing this every version. The version field should be the only thing you have to update to change versions, not the package names and everything. I always hated how commons-collections and such did tha

[2015-01-28 10:06] sbliven commented on #245
@andreasprlic #240 was inconclusive, and was supplanted by this. I would really like to close this discussion now. No one has voted for 1 ("not now") except as a final preference. I think the 4.0.0 milestone is appropriate.

[2015-01-28 10:35] josemduarte commented on #245
I agree with @sbliven, why not closing this chapter now that the discussion is alive and fresh? If we have to come back to this in the 5.0 release, everything will have been forgotten and a whole new discussion will be needed. Let's close this now and forget about it forever.

I also liked the point raised by @pwrose in #242 : a clean and consistent naming scheme is essential in order to attract p

[2015-01-28 11:04] paolopavan commented on #245
There is one more important consideration that comes to me late. Biojava
distribution comes in modules which are currenlty named as biojava3-core,
biojava3-phylo and so on. Since they cross reference and can be downloaded
separately, I can see the need to keep them syncronized across major
version to avoid confusions and incompatibility.
It is better that this will be evident in the name and I see

[2015-01-28 14:25] sbliven commented on #245
@paolopavan Your opinions are definitely valued here! You are making a great contribution to the discussion, and are bothering no one.

I agree that we *can* rename everything for each major version, as suggested in 5, and that it would still be consistent with semantic versioning practices. I just feel like, going forward, we're going to release major changes rather frequently, and going from 4.x

[2015-01-28 15:43] andreasprlic commented on #245
ok, agreed, let's try to conclude the discussion while it is hot.

I vote for 2, 5

here my thoughts:
- 4, and 6, are off the table, due to @heuermh 's argument.

- We should try to be backwards compatible, if it is easy, but also not hesitate to break compatibility if needed. (the case for 2 and against 3)

- It is weird to have biojava3 package names in a v.4 release (in support of 5)

- Many of

[2015-01-28 17:58] andreasprlic commented on #245
Here the sum of the current votes:
1: 1
2: 2
3: 3
4: 4
5: 7
6: 3

[2015-01-28 18:15] andylaw commented on #245
Democracy is a fine thing, but effectively making developers switch to using a completely different library every time you do a major release is utter madness in my opinion. They will hate you for it and will cling to the old versions for as long as possible, thus increasing your worries about backwards compatibility as you try to move forwards.

Please don’t do 5. (at least, if you do 5, don’t do

[2015-01-28 18:38] dmyersturnbull commented on #244
Residue numbers definitely don't have a predicable order, but they're simply getting mapped to their indices in the PDB file. In "A:1-2", "1" is at position 0, and "2" is at position 1, so the length in that sense is 1. That mapping was really the idea behind AtomPositionMap, so there's some code in the symmetry project that relies on that definition.

Since it's apparent that it's at least very m

[2015-01-28 19:37] heuermh commented on #245
@andylaw what is wrong with clinging to old versions for as long as possible?

Open source projects do well when they [welcome both evolutionary and revolutionary changes](http://incubator.apache.org/learn/rules-for-revolutionaries.html).  We just need to make sure one doesn't clobber the other.

[2015-01-28 20:39] andreasprlic commented on #245
I do share Andy's concern about having to rename package with every major release. This combined with the threat to change major version numbers more often than previously does not make this very attractive. We do need an option 7 here: Use ```org.biojava.nbio.modulename.*``` as the new naming convention for all packages.

[2015-01-28 20:46] emckee2006 commented on #245
Isn't that the same as option 6?
On Jan 28, 2015 3:39 PM, "Andreas Prlic" <notifications@github.com> wrote:

[2015-01-28 21:04] andreasprlic commented on #245
Initially 6 was for org.biojavax. Which had issues.

[2015-01-28 21:05] emckee2006 commented on #245
Ok I was reading that as just an example name, not the definite name in 6
On Jan 28, 2015 4:04 PM, "Andreas Prlic" <notifications@github.com> wrote:

[2015-01-28 22:43] andylaw commented on #245
On 28 Jan 2015, at 19:37, Michael L Heuer <notifications@github.com<mailto:notifications@github.com>> wrote:

@andylaw<https://github.com/andylaw> what is wrong with clinging to old versions for as long as possible?

Nothing at all when it is a conscious choice rather than the path of least resistance. The danger to Biojava is that you are best served by having as few users as possible using your

[2015-01-29 00:26] andreasprlic commented on #245
OK, it is getting time to conclude this thread. After considering the arguments from all sides I would like to  move forward like this:

After the code freeze I will refactor all package names to follow the ```org.biojava.nbio.modulename.*``` convention. This is a variation of suggestion 6, which had some support and it seems that the majority should find this acceptable.

The new namespace will o

[2015-01-29 00:33] andreasprlic commented on #242
I hear the vote for -3 but a majority has voted +1, thus suggesting that we should push the following coordinates:

[code]

[2015-01-29 02:33] heuermh commented on #242
Shoot, I don't want to be a pain, but here is an actual use case that might demonstrate the problem:

We have some code here that builds on the biojava-legacy alignment package
https://github.com/nmdp-bioinformatics/ngs/tree/master/align/src/main/java/org/nmdp/ngs/align

so we have a dependency on ```org.biojava:alignment:1.9.1```
https://github.com/nmdp-bioinformatics/ngs/blob/master/pom.xml#L86

[2015-01-29 02:37] andreasprlic commented on #242
@heuermh you are never a pain and we count on your invaluable experience! You make an excellent point why what I just suggested is not a good idea. As such the jars will be described as such:

[code]

[2015-01-29 03:10] heuermh commented on #242
ok, thanks!  I'll try now to go back to being quiet.  :)

[2015-01-29 03:24] #242 closed

[2015-01-29 08:35] sbliven commented on #242
Ok, I'm in favor of closing this issue and appreciate @andreasprlic's decisiveness. I just wanted to clarify whether we plan to update the 'biojava4' part with every major release. Since #245 seems to have been resolved on keeping 'org.biojava.nbio' rather than changing stuff each version, shouldn't the artifactIds be stable too? Can we agree that biojava 5+ will also be released as 'biojava4-core

[2015-01-29 09:05] #244 closed

[2015-01-29 09:52] josemduarte commented on #242
Again I'm all for closing this issue and thanks @andreasprlic all the efforts to do so. But I'm afraid I need to add something since there seems to be some confusion above.

At the moment biojava-legacy has these maven identifiers:
[code]

Which means that biojava 4 and successors can use a simple naming convention, using the __`biojava-`__ prefix in the module artifacts:
[code]
Fundamentally we h

[2015-01-29 10:28] sbliven commented on #81
Despite strong attempts to be fully backwards compatible with `AtomCache.getStructure(String)`, I think a few syntaxes should be dropped here in the name of consistency:

* colon range separators (`4hhb:A:10-20`)
* Parenthesized ranges (`4hhb(A:10-20)`)
* Accessing chains by index (since numbers are valid chainIds) (`4hhb:1`)

These are included in `TestAtomCache.testAtomCacheNameParsing()`, but I

[2015-01-29 15:35] heuermh commented on #242
@josemduarte yes, awesome, make it so!

[2015-01-29 15:48] andreasprlic commented on #242
ok, a name is a name and everybody needs to updated their pom files anyways so let's use @josemduarte 's version.

[2015-01-29 15:48] #245 closed

[2015-01-29 15:53] andreasprlic commented on #238
Who added the todo item about the copyleft notice in the header of every file? Is there a simple IDE shortcut that would allow todo that? Otherwise I'd vote to postpone this for next release, since this is a lot of manual labor and everybody contributing new files should be responsible for making sure that they use the correct headers.

[2015-01-29 18:56] sbliven commented on #81
This is mostly implemented in my fix81 branch: https://github.com/sbliven/biojava-sbliven/tree/fix81

It adds StructureIdentifiers and switches most of the structure parsing onto them.

[2015-01-29 19:18] andylaw commented on #242
Sounds sensible to me.

On 29 Jan 2015, at 15:48, Andreas Prlic <notifications@github.com<mailto:notifications@github.com>> wrote:

ok, a name is a name and everybody needs to updated their pom files anyways so let's use @josemduarte<https://github.com/josemduarte> 's version.

—
Reply to this email directly or view it on GitHub<https://github.com/biojava/biojava/issues/242#issuecomment-72047222>.

[2015-01-29 20:39] sbliven commented on #237
I'm pretty sure this part is fully complete in #244. If any problems remain, they will be fixed in 4.1.0 with #81.

[2015-01-29 20:39] #237 closed

[2015-01-29 21:02] sbliven commented on #81
Ok, this isn't going to be ready for this release. I don't think it's enough of an API change that it will require a major version bump, although it would have been nice for 4.0.0. Let's take our time and discuss it thoroughly.

[2015-01-29 21:06] andreasprlic commented on #81
agreed, as just discussed via skype.

[2015-01-29 21:51] andreasprlic commented on #238
thanks to @sbliven for fixing all the missing copyright statements.

[2015-01-30 05:35] #169 closed

[2015-01-31 16:02] #238 closed

[2015-02-01 02:49] agupta1989 commented on #242
+1

[2015-02-03 11:27] sbliven commented on #81
Current status: my fix81 branch currently builds and passes tests. It also finishes a couple of things that were hastily dropped from the 4.0.0 release, like deprecated support for chain indices (e.g. "4hhb.0" being an alias for "4hhb.A"). However, I'd like to discuss the basic architecture and some strengths/weaknesses I see. I'll try to play devil's advocate for my own code here.

**1.** `Struct

[2015-02-04 15:33] andreasprlic opened #249 "Add better support for serializing collections of Sequences"
We don't have an easy way of serializing/deserializing a collection of sequences. This does not work:

http://mailman.open-bio.org/pipermail/biojava-l/2015-February/011357.html

Alternative workarounds could be:

- Tweak Kryo for some nonstandard InstantiatorStrategy
- Use BioJava's built in FASTA writer helper (but it might not serialize some header information)

[2015-02-04 15:45] emckee2006 commented on #249
Genbank is an alternative as well, and might save more metadata about the
sequences.
On Feb 4, 2015 10:33 AM, "Andreas Prlic" <notifications@github.com> wrote:

[2015-02-04 17:05] heuermh commented on #249
To add to the suggestions already made:
* Use default java serialization (even if not the best format, this should be made to work)
* Add annotations to support JSON (and [other formats](https://github.com/FasterXML/jackson#data-format-modules)) mapping via e.g. [Jackson](https://github.com/FasterXML/jackson), [Gson](https://code.google.com/p/google-gson/)
* Add annotations to support [Apache Thri

[2015-02-08 23:29] dmyersturnbull commented on #213
The issue is mostly in setScorePoint. It should be:
[code]
Unfortunately, this change results in NullPointerExceptions that I haven't sorted out.

[2015-02-23 15:23] jgrzebyta opened #252 "GenbankSequenceParser does not parse CDS feature properly"
For data:
[code]
Only first  line is parsed. I found the unit tests for that class functions are too weak, e.g. tests for GenbankProxySequenceParser.

[2015-02-23 15:45] paolopavan commented on #252
Hi Jacek,
Can you please provide the whole file? (You can also send it to me by regular mail)
I remember that you volunteered to write test cases on the topic, isn't it?

[2015-02-23 15:54] jgrzebyta commented on #252
Hi,
Yeah. And now is the time I guess. The example file might be "BondFeature.gb" inside src/test/resources.
I suggest load all "\" features as children of the main one.

[2015-02-23 16:12] jgrzebyta commented on #252
Hi

I found it. It's inside Qualifiers. No bother. The isssue might be closed.

[2015-02-23 16:12] #252 closed

[2015-02-23 16:23] paolopavan commented on #252
Yes, tags starting with / are qualifiers.

2015-02-23 17:12 GMT+01:00 Jacek Grzebyta <notifications@github.com>:

[2015-02-24 12:57] jgrzebyta opened #254 "InsdcParser does not extract accession properly"
I found the parser ignores first character from accession Id:
From string `join(complement(NC_000932.1:69611..69724),NC_000932.1:139856..140087,NC_000932.1:140625..140650)` took accession C_000932.1

I will fix it.

[2015-02-24 15:54] jgrzebyta commented on #254
fixed in commit a5c26176540e0c6b64fd8b3b3d516b29427a23b5.

[2015-03-12 22:51] dmyersturnbull opened #259 "Alignment score"
Can someone tell me what's going on here? It looks like the score is wrong. **(Update: Sorry, I made a mistake simplifying the code in my initial post.)**
[code]
[code]

[2015-03-13 09:20] josemduarte commented on #259
With your code (copy-pasted) I get:
[code]
whilst if I change `1*gep` to `4*gep` (as indicated in your comment), then it all works: I get the expected 58.

I am using d4d3d5bcc19b3682b51ffe245665fb9ece63d9b1

[2015-03-13 23:39] dmyersturnbull commented on #259
After doing reset --hard and git pull upstream master, I get the same result.
I added the test in d513726edbc36a6334f6fb50ac2104d34b41c987.

[2015-03-13 23:39] #259 closed

[2015-03-30 08:41] sbliven opened #266 "JmolPanel doesn't resize nicely"
When expanding a JmolPanel vertically, the control panel is expanded proportionately to the main Jmol window. This wastes a lot of screen real estate. The layout manager should be changed so that Jmol gets the maximum amount of area.

![screen shot 2015-03-30 at 10 38 50](https://cloud.githubusercontent.com/assets/595872/6892963/2d2116f6-d6c9-11e4-90ab-e5e08e571bbf.png)

[2015-03-30 08:42] sbliven commented on #266
@lafita Would you have time to fix this sometime?

[2015-03-30 09:37] #266 closed

[2015-03-30 14:46] andreasprlic opened #267 "Add a get/setCompoundAt utility method for sequences"
see discussion on the mailing list

http://mailman.open-bio.org/pipermail/biojava-l/2015-March/011367.html

[2015-03-31 08:13] lafita opened #268 "FatCat result gets overwritten by Text Only in JmolPanel"
When viewing an alignment result in the JmolPanel, if the View>Text_Only option is selected, the numbers corresponding to the block number (displayed in the FatCat result) are overwritten by the Text symbols. Because of that, selecting View>View_as_FatCat_result after View>Text_Only produces a Text_Only formatted alignment.

Probably the alnsymb variable of the AFPChain is changed by the method th

[2015-03-31 08:34] lafita commented on #268
Fixed in commit a95d59c

[2015-03-31 08:34] #268 closed

[2015-04-19 16:52] timrcoulson commented on #124
Hi Spencer,
Is this still open? I'm keen to make a contribution to this project.
Thanks,
Tim

[2015-04-20 03:47] phidias51 commented on #124
You might take a look at Apache Spark. It was designed to address some of
the performance issues with map-reduce.

Mark
On Apr 19, 2015 9:52 AM, "Tim Coulson" <notifications@github.com> wrote:

[2015-04-21 09:15] josemduarte commented on #124
@phidias51  I agree, Spark sounds like a great idea

@timrcoulson I'm sure the issue is still open. To my knowledge there hasn't been any attempts to map-reduce anything in Biojava. I'm not sure what @sbliven had in mind exactly but I would guess that something like the all-to-all structural alignments would be a good candidate to map-reduce

[2015-04-21 11:38] pwrose commented on #124
Have a look at our QuickStructureSearch project which is currently under
construction:
https://github.com/rcsb/QuickStructureSearch

It uses Spark for structural alignments. The input is a Hadoop Sequence
file with CA coordinates only for fast processing.

This is work in progress, but it's an example of using Spark for structural
alignment tasks.

-Peter

On Tue, Apr 21, 2015 at 6:15 PM, Jose Man

[2015-04-21 16:39] phidias51 commented on #124
Very cool, Peter.  Thanks for the heads up.

Cheers,

Mark

On Tue, Apr 21, 2015 at 4:38 AM, pwrose <notifications@github.com> wrote:

[2015-04-22 16:55] andreasprlic opened #273 "Can't parse 4X2S"
Parsing of  PDB ID 4X2s fails.

[2015-04-22 16:58] andreasprlic commented on #273
the *details* field in *_struct_ncs_oper* is not mandatory

http://mmcif.wwpdb.org/dictionaries/mmcif_mdb.dic/Items/_struct_ncs_oper.details.html

[2015-04-22 17:04] #273 closed

[2015-04-29 15:13] shivangshah commented on #103
Hi .. I am not sure if this bug is already fixed or not but I could reproduce this bug in surefire 2.18.1. Basically we have some singleton objects which should be newly generated per test case but apparently they are not and because of that when a single test case is run it fails, while if we run it using mvn test for the whole project, all test cases pass. The only workaround for now is to nulli

[2015-05-06 10:55] sbliven commented on #124
I feel like this is most likely going to be implemented as a layer on top of BioJava. Should we close it?

[2015-05-14 21:26] andreasprlic opened #274 "memory leak with pairwise sequence alignments"
when running a large number of pairwise sequence alignments (smith waterman) I noticed increasing memory consumption. When profiling my code I see a large number of objects from

org.biojava.nbio.alignment.routines.AlignerHelper$Last

I suspect there is a memory leak somewhere.

[2015-05-20 03:21] andreasprlic opened #275 "Possible Issue with Calc.angle() and Calc.torsion()"
From  Jose Colbes:

As a part of my work, I use these methods a lot. But I get NaN when the vectors are parallel.

I know that it is a common issue (rounding errors and acos()) and there is info in the web to get around the problem, but I wanted you to know anyway.

[2015-05-20 10:41] josemduarte commented on #275
Now fixed: angle returns 0 for parallel vectors.

Note that for undefined cases the return is NaN:
- angle: if either vector length is 0, NaN is returned
- torsionAngle: if vectors are colinear, then NaN is returned

Another possibility would be to throw an IllegalArgumentException with such inputs

[2015-05-20 10:41] #275 closed

[2015-06-04 14:38] andreasprlic opened #276 "HMMER3 location changed"
There is now a new location for the HMMER3 web serivces. They got moved from Janelia farm to EBI. Update the API to use the new site.

[2015-06-09 19:50] #188 closed

[2015-06-09 19:50] #234 closed

[2015-06-10 21:28] andreasprlic commented on #276
now using the EBI services, instead of Janelia farm.

[2015-06-10 21:28] #276 closed

[2015-06-15 22:51] andreasprlic opened #280 "SiftsXmlParser stopped parsing "Not_Observed" records"
I believe there might have been a SIFTS XML file format change. In any case, it seems the latest version can't parse the Not_Observed records from PDB ID 4DIA .

[2015-06-16 04:04] #280 closed

[2015-06-16 15:50] lafita opened #281 "MultipleAlignment Support Implementation #278"
Some methods for the MultipleAlignment DS need to be implemented:
- Store and parse alignments as XML files.
- A MultipleAlignmentGUI, similar to the AlignmentGUI, that accepts multiple structures as inputs.
- CE Text Format output and other Writer features.
- String output of the structure and block transformations, like the method toRotMat() of AFPChain.
- Update the documentation in the Jmol Wi

[2015-06-17 21:57] andreasprlic opened #282 "Endless loop when using FastaReader"
Toorn reported on mailing list that he encountered an endless loop with one of his fasta files. I can reproduce this.

[2015-06-17 22:28] andreasprlic commented on #282
also added documentation for this to tutorial

https://github.com/biojava/biojava-tutorial/blob/master/core/readwrite.md

[2015-06-19 05:05] stefanharjes commented on #213
I do not quite understand this issue of extra gaps. If I compare the output
of 'standard' alignment programs like needle, clustalx and muscle, all these
programs produce basically the same syntax, where the two not matching
amino acids are marked as a mismatch, however there are no gaps introduced.
[code]
In structural alignments as you showed I think the syntax is different and I
have seen gaps i

[2015-06-19 08:15] sbliven commented on #213
@stefanharjes The examples you showed introduce mismatches, but they still allign the K & F regions. The 'Identity' substitution matrix I'm using has a mismatch score of -1000, which effectively disallows mismatches.

[2015-06-19 18:20] andreasprlic opened #283 "Add a tree view for showing the content of a Structure object to structure-gui module"
Would be great to have a tree-browsers that allows to view and interact with all the content under a biojava-structure object. It could be based on JTree (Swing) or TreeView (JavaFX).

[2015-06-19 18:25] andreasprlic opened #284 "Extend biojava-structure to better support energy minimization."
After discussion with @mjschnie :

Need to add objects such as
- Angle
- Torsion
- TorsionTorsion
- PiOrbitalTorsion
- ImproperTorsion
- StretchBend
- UreyBradley
- OutOfPlaneBend
  etc.

see https://github.com/mjschnie/ffx/tree/master/modules/potential/src/main/java/ffx/potential/bonded

The goal is to move the "model" part of energy minimization into BioJava, while keeping the "control" aspect o

[2015-06-22 11:23] GiBacci opened #285 "Reading huge FASTA file"
Hi all,
I would like to read a huge DNA fasta file generated through an NGS pipeline. The file is about 7.6Gb but I saw that the BioJava class for reading fasta file (the one reported in the CookBook: ```FastaReaderHelper```) stores all sequences inside a ```LinkedHashMap``` consuming almost all available RAM. I would like to know if there is a method for reading one sequence per time instead of s

[2015-06-22 11:36] willishf commented on #285
The framework is very flexible so you can try the following method where
you set lazySequenceLoad = true and you will get a LinkedHashMap back with
the accession ID and a corresponding DNASequence object that knows where in
the file based on a fast read using offset to get the sequence when you
request it. If you want to iterate through the file one sequence at a time
you can do that where you sho

[2015-06-22 13:24] GiBacci commented on #285
So, basically there is no class able to iterate over a file without storing all sequences in memory (or at least their indexes). Will it be possible in the future to have a class similar to ```RichSequence.IOTools``` in the new Biojava library?

Thanks for the reply,

Giovanni

[2015-06-22 14:27] aalhossary commented on #285
I had made a function long time ago and forgot write about it in the cookbook

The function is  FastaReader.process(int)

Which takes maximum number of sequences to read. After reading it doesn’t close the file or InputStream, allowing for iterative calls on the next sequences.

http://www.biojava.org/docs/api/org/biojava/nbio/core/sequence/io/FastaReader.html#process(int)

I am not sure this is w

[2015-06-22 14:57] GiBacci commented on #285
Thanks,
this is what I needed! I can set the max to 1 and read a sequence per time until the ```LinkedHashMap``` will be ```null```. I saw the function called within the ```FastaReaderHelper``` class but I didn't pay much attention on it!

Thanks again!

Giovanni

[2015-06-22 14:57] #285 closed

[2015-06-22 16:04] andreasprlic commented on #285
There is an example for this in the tutorial at:

https://github.com/biojava/biojava-tutorial/blob/master/core/readwrite.md

see also the recent thread on the mailing list:

http://lists.open-bio.org/pipermail/biojava-l/2015-June/011397.html

[2015-06-23 14:55] lafita opened #286 "Structure Code behavior depends on the Algorithm Name (FatCat)"
We have had several problems when dealing with AFPChain alignments (one reported in #268), because the behavior of the code (superposition, display, sequence alignment) changes depending on the algorithm name that generated the AFPChain. In particular, if the algorithm name is jFatCat:

- The sequence alignment has different symbols for gaps.
- The superposition (rotation and translation) is recal

[2015-06-25 00:21] andreasprlic opened #287 "AllChemCompProvider does not seem to work"
It appears when parsing the all- chemical component file, the ChemComp IDs are all null.

[2015-06-25 00:23] #124 closed

[2015-06-25 00:23] andreasprlic commented on #81
not sure why still open, closing again.

[2015-06-25 00:25] #205 closed

[2015-06-25 00:32] #287 closed

[2015-06-25 10:07] lafita commented on #281
Another thing to be done: implement the CLI for multiple alignment inputs, since the current version of UserArgumentProcessor assumes only two structures as an input (pairwise alignment). This would be a major change because either all the code in the current version is adapted or a new class has to be created with the same features.

[2015-06-25 14:02] sbliven opened #288 "Multiple sequence alignment gives sub-optimal results"
As reported on the mailing list, BioJava gives different results than expected for some DNASequence multiple alignments:

biojava:

    TTGGGGCCTCTAAACGGGGTCTT
    TTGGGGC-TCTAAC--GGGTCTT
    TTGGGGCCTCTAAACGGG-TCTT

clustal:

    TTGGGGCCTCTAAACGGGGTCTT
    TTGGGG-CTCT-AACGGG-TCTT
    TTGGGGCCTCTAAACGGG-TCTT

The choice of scoring matrix might have some influence on the result (e.g. implementing

[2015-06-25 15:11] josemduarte opened #289 "Source organism scientific name incorrectly parsed in 4xcw"
Reported in the mailing list:

For PDB 4xcw, only partial organism scientific name returned by the following method:

getOrganismScientific()
org.biojava.nbio.structure.Compound

HELICOBACTER PYLORI (STRAIN J99 / ATCC 7

I traced back to PDBFileParser,  it seems this PDB file being treated in legacy format and the line length being trimmed into 72.

Can this problem be fixed somehow?

Thanks.

Guo

[2015-06-25 15:15] #289 closed

[2015-06-25 16:48] andreasprlic commented on #289
thanks!

[2015-06-26 04:38] aalhossary commented on #282
Actually there is no bug there. The function documentation never mentioned that a null might be returned.
The proper way of using the function is

            do {
                b = fastaReader.process(10);
                for (String seq : b.keySet()) {
                    System.out.println(seq);
                }
            } while (b.size() == 10);
It has been there for a while and others m

[2015-06-26 06:08] andreasprlic commented on #282
Please try the test case, it did not work before the patch.

[2015-06-26 13:05] sbliven commented on #283
What's the use case for this?

[2015-06-26 18:07] andreasprlic commented on #283
This is for interaction with a 3D viewer. (could look similar to Protein Workshop).

[2015-06-27 04:56] aalhossary commented on #282
I updated the function and the test case

There are two different issues here:

1)      The functions fails because it was not designed to never return null at all, that’s why falls into an infinite loop. Instead it returns a LinkedHashMap with size in the in the range [0, max], where size < max indicates last (probably incomplete) read batch of sequences.

It should not be called within a

while

[2015-06-29 15:39] pwrose opened #293 "Chain getSeqResGroups method returns groups without atoms for nucleic acids"
Chain c = ..
List<Group> nucleotides = c.getSeqResGroups(GroupType.NUCLEOTIDE);

returns a list of groups, but the groups contain no atoms.

[2015-06-29 15:44] pwrose opened #294 "Chain getSeqResSequence returns truncated sequence"
Example: PDB ID 102L

* SEQRES record contains 165 residues
* ATOM record contains 163 residues

Chain c = ...
String sequence = c.getSeqResSequence()

returns 163, instead of 165 residues.

[2015-06-29 16:08] josemduarte commented on #294
I can't reproduce that. This is what I tried (I get the same result setting mmcif to true/false):

[code]
Output is:
[code]

[2015-06-29 16:22] pwrose commented on #294
Ah, wrong example. Sometimes there is an inconsistency between

c.getSeqResSequence().length() and
c.getSeqResGroups(GroupType.AMINOACID).size()

For example: 1AN5. This is related to an extra non-standard N-terminal
residue FMT at the beginning of the amino acid sequence.

Perhaps this behavior is intended?

On Mon, Jun 29, 2015 at 9:08 AM, Jose Manuel Duarte <
notifications@github.com> wrote:

-

[2015-06-30 13:17] josemduarte commented on #294
Yes, that kind of cases are indeed difficult. In 1AN5 the FMT residue is linked to the N-terminal of the chain, but the chemical component does not annotate it as protein or peptide-linked (perhaps rightly).

So in principle, it is right to get a different result for:

[code]
since FMT is not an amino acid, but SEQRES contains the residue as part of the sequence.

As a related thing, there is an i

[2015-06-30 13:19] josemduarte commented on #293
Would you have a specific PDB entry to test this?

[2015-07-08 23:40] dmyersturnbull commented on #121
https://github.com/PharmGKB/genome-sequence-io and https://github.com/PharmGKB/vcf-parser provide parsers and writers for VCF, GFF3, GTF, GVF, BED, and a few more. Note that they require Java 8, are fairly lightweight, and are not at all Biojava-like.

[2015-07-09 14:32] lafita commented on #281
I close this, because the only thing to be done is to update the Help information about the biojava algorithms and GUI versions.

As a general TODO, tutorials and biojava documentation will have to be created for the Multiple Alignments.

[2015-07-09 14:32] #281 closed

[2015-07-09 14:50] lafita opened #297 "StructureIdentifier is not set properly"
When a structure is downloaded with a StructureIdentifier String as name and the getIdentifier() method is called afterwards on the structure, the returned String is only the 4 char PDB code and not the full StructureIdentifier (which should include the chainID and range). A code example to reproduce the bug is:

		String name = "1ppr.O_0-150";
		AtomCache cache = new AtomCache();
		Structure stru

[2015-07-10 08:44] lafita commented on #297
Right now the code in StructureImpl is the following:

	@Override
	public String getIdentifier() {
		return pdb_id;
	}

	@Override
	public String getPdbId() {
		return pdb_id;
	}

So PDB ID and StructureIdentifier are equivalent. The method getIdentifier() should return a combination of the pdbId, chains and ranges that are stored in the structure. For that purpose a new member variable that store

[2015-07-10 09:10] lafita commented on #297
I close this because I saw that there is still still development in the StructureIdentifier #81.

[2015-07-10 09:10] #297 closed

[2015-07-14 18:31] andreasprlic commented on #293
Did you set FileParsingParameters.setAlignSeqRes(true) ? Otherwise the SEQRES groups won't get matched up with the ATOM records.

[2015-07-16 17:56] zachcp opened #301 "For a given Feature allow multiple Qualifier values per Qualifier key"
Hello Team BioJava,

Thanks for the great library!

I have recently started to use BioJava for parsing Genbank files and I noticed a difference between BioJava and BioPython in their behavior that leads me to propose that BioJava change the `Qualifiers` slot in `org.biojava.nbio.core.sequence.features.AbstractFeature`  from `HashMap<String,Qualifier>` to `HashMap<String, ArrayList<Qualifier>>`.  H

[2015-07-16 18:04] emckee2006 commented on #301
You might also have to patch the writer as a result as well...
On Jul 16, 2015 1:56 PM, "zachcp" <notifications@github.com> wrote:

[2015-07-16 20:01] andreasprlic commented on #301
Please go ahead and submit a pull request!

[2015-07-20 15:15] lafita opened #303 "Replace Calc methods with Vecmath, instead of JAMA"
The Calc class contains methods to calculate geometric operations on the Structure interface objects (basically Atoms).
Now that the Vecmath dependency has been added to the structure module, some methods have been added to convert from the old JAMA matrices and vectors to the Vecmath objects.

Some problems have already occurred in the conversion, basically because the JAMA rotation matrices are

[2015-07-20 16:31] andreasprlic commented on #303
To be more backwards compatible, it would be great if Calc would initially support both Vecmath and JAMA...

[2015-07-20 17:00] lafita commented on #303
Both are supported right now in Calc, but there is this confusion with the transposition of the rotation Matrix. The bug should be fixed now.
The only thing to be done is a test, then?

[2015-07-21 07:55] josemduarte commented on #303
From my understanding the key piece of code is in `Calc.rotate(Atom,Matrix)` and `Calc.rotate(Atom,double[][])`. There the vector is pre-multiplied. Since the usual convention is to post-multiply, this means that all rotation matrices that use `Calc.rotate` are in effect transposed with respect to the usual rotation matrices found in textbooks or elsewhere.

That really can cause some confusion an

[2015-07-21 22:42] andreasprlic commented on #303
Agreed, removing all JAMA usage would be the clean thing to do. We have a few unit test that should help with making sure the results are numerically the same. Only issue is that it is not the most exciting thing to do. Once we have the code for faster implementation of RMSD and translations from Peter, we can even deprecate SVD.

[2015-07-22 14:02] lafita commented on #303
If we make sure that all methods (like SVD) generate post-multiplication rotation matrices (doesn't matter if they are Vecmath or JAMA), then we can keep the support for JAMA in Calc. The only thing to be changed, which is the confusing one, would be the behavior of the methods:
<pre>Calc.rotate(Atom,Matrix)
Calc.rotate(Atom,double[][]) </pre>
That way we could keep the backwards compatibility wit

[2015-07-22 14:19] josemduarte commented on #303
It seems that vecmath does have SVD after all, see the [Gmatrix class](http://docs.oracle.com/cd/E17802_01/j2se/javase/technologies/desktop/java3d/forDevelopers/j3dapi/javax/vecmath/GMatrix.html).

[2015-07-22 14:19] sbliven commented on #303
I think changing the convention of an existing method is a very bad idea. Instead, lets just deprecate the Matrix and double[][] versions and use the Matrix3d/4d versions going forward.

[2015-07-24 11:14] josemduarte opened #305 "More robust PDB/mmCIF parsing for non-deposited files"
BioJava is very good at parsing deposited PDB/mmCIF files but some work is required to make it more robust to unconventional formatting when parsing non-deposited PDB/mmCIF files.

The aim should be that the parsers are robust enough to produce informative warnings for bad formatting, if possible without crashing altogether.

The 2 formats (especially PDB format) are abused a lot and many software

[2015-07-24 17:19] andreasprlic commented on #305
While I agree that we should not be too strict about the file format definitions, I don't think we should try to  go out of our way too far, either. The PDB file format has been abused quite heavily in the past and the future is with the more extensible (and XML-like) mmCif.

[2015-07-29 11:03] lafita opened #306 "Helical Symmetry Detection Problem"
The Quaternary Symmetry detection algorithm gives False Positive helical symmetry results in some of the PDB entries. Two structures have been found so far: 3OQ9 ad 3MOP.

![image](https://cloud.githubusercontent.com/assets/11161522/8955657/0150813a-35ef-11e5-8bf1-b19eba33c788.png)

http://www.rcsb.org/pdb/explore/jmol.do?structureId=3MOP&bionumber=1

![image](https://cloud.githubusercontent.com/a

[2015-07-29 14:58] lafita commented on #306
Another example: 4WYV.

![screenshot](https://cloud.githubusercontent.com/assets/11161522/8960198/277ef3a8-360f-11e5-8451-cddf921eb8ba.png)

http://www.rcsb.org/pdb/explore/jmol.do?structureId=4WYV&bionumber=1

In this case, the point group would be D4, but the structure has an open side that breaks the symmetry. That is why the Helical detector is called instead of the Rotational detector.

Two r

[2015-07-29 15:50] josemduarte commented on #306
A note about the last case (4wyv): there is another structure of the same protein (1j1j) which does have a proper D4 without the open side. Apparently in 4wyv the difference is that they purify the protein in complex with RNA, which somehow produces an opening of the D4 (see [paper](http://www.sciencedirect.com/science/article/pii/S0022283614006093)). The RNA however is not seen in the density at

[2015-07-31 13:55] lafita commented on #246
Preparing to do so!

[2015-07-31 14:45] lafita opened #307 "Non-Sequential Structural Alignment Algorithm"
The structural alignment algorithms currently implemented in biojava, **CE** and **FatCat**, have a common characteristic: they are **sequential**. This means that they assume that the topology of the structures compared is the same, i.e. the equivalent structural fragments occur in the same sequence order.

The **CECP** algorithm already solves some of the cases where this assumption is not true,

[2015-07-31 16:32] andreasprlic commented on #246
thanks!

[2015-07-31 16:35] andreasprlic commented on #307
I am not sure about the licensing situation for the other algorithms, before any of these would be implemented we would need to verify that they are under LGPL, or get permission for a port. An alternative is to come up with our own variation of this.

There is actually another project where we are experimenting with alternative algorithms for structure comparison, however I don't think we have ma

[2015-07-31 16:53] andreasprlic opened #308 "add URL based parsing of mmCIF files"
The URL based parsing in BioJava currently tries to resolve all URLs as PDB files. Need to add a check if the file is a .mmcif file and switch to appropriate parser instead.

[2015-07-31 17:12] andreasprlic commented on #308
also updated the documentation for how to access files via URLs:
https://github.com/biojava/biojava-tutorial/blob/master/structure/mmcif.md

[2015-07-31 17:12] #308 closed

[2015-08-03 13:06] lafita opened #309 "Get representative Atoms from Structure different than from Chain"
Calling: <pre>StructureTools.getRepresentativeAtoms(Structure s)</pre> Gives a different result than calling:
<pre>StructureTools.getRepresentativeAtoms(Chain c)</pre>
The first call returns an array of size 100 and the second an array of size 98 for 1hiv.A. The first method returns two Atoms more, corresponding to a modified residue CSO, in the middle of the array, and the ligand, at the end of t

[2015-08-03 15:49] lafita commented on #309
Another issue popped up: the ChemComp information is not being loaded correctly for HETATMs that are modified aminoacids (loaded as nulls and unknowns), like CSO or LLP, so they are not returned as part of the representative Atom array. This breaks some of the existing tests.

[2015-08-03 16:53] andreasprlic commented on #309
What ChemCompProvider are you using?

[2015-08-03 20:48] andreasprlic opened #310 "Can't load bio assembly #7 from 1M4X"
From Ezra:

Biojava mmCif handler cannot give you info on biological assembly 7 of 1m4x

File loads ok... Indicates that there are 7 biological assemblies... Attempts to access #7 results in:

Exception in thread "main" java.lang.NullPointerException
        at org.biojava.nbio.structure.StructureIO.getBiologicalAssembly(StructureIO.java:158)

Which maps to
        List<BiologicalAssemblyTransform

[2015-08-04 08:00] josemduarte commented on #310
The PAU/XAU assemblies are ignored since BioJava 4.0. See issue #230 for the full motivation behind that change.

[2015-08-04 08:30] #246 closed

[2015-08-04 10:30] lafita commented on #309
The problem was in internal dependencies of the test. The cache for the *ChemCompGroupFactory* was not reset properly when the *ChemCompProvider* was reset. I will create another issue regarding that and propose a fix. The differences between representative Atoms of chains and structures is fixed now.

[2015-08-04 10:58] #309 closed

[2015-08-04 12:52] lafita opened #313 "ChemCompGroupFactory cache not being reset properly"
This issue is related to the closed issue #145, about a problem with singletons in the structure module. The fix145 made sure that the cache is reset if the `ChemCompProvider` is set (changed).

However there is another problem: when the method `setLoadChemCompInfo()` of the `FileParsingParameters` is set, neither the cache is cleaned or the `ChemCompProvider` is changed in the `ChemCompGroupFacto

[2015-08-04 14:05] lafita commented on #313
After revising the code with @josemduarte we realized that the real problem was a bug in  `PDBFileReader` that was setting the static variables of `ChemCompGroupFactory` inconsistently. This bug has been fixed, and the other parts of the code behave the same way.

This is closely related to issue #169, because the user has to specify the `ChemCompProvider` he/she needs, independently of the parser

[2015-08-04 14:31] josemduarte commented on #313
Just a note on that: it seems that as @andreasprlic says in #169, the PDB parser sets the `ChemCompProvider` intentionally so that it is faster and more streamlined (versus the more correct but slower mmCIF parser). That in principle is fine, but before the patches above, the `ChemCompProvider` was setting the singleton and affecting the whole JVM globally. So that affected all parsers and would r

[2015-08-04 14:55] lafita commented on #313
Regarding the Test created for https://redmine.open-bio.org/issues/3334, it does not apply anymore because the value of the variable *loadChemCompInfo* does not change the static *ChemCompProvider*, which is valid for the whole JVM. The user needs to change the Provider explicitly as @josemduarte explained.

[2015-08-04 15:43] andreasprlic commented on #313
Can we keep the ```ReducedChemCompProvider``` the default provider, unless the user specifies a different one?

[2015-08-05 12:31] lafita opened #315 "DownloadChemCompProvider fail-back behavior"
Currently, the behaviour of `DownloadChemCompProvider` is to return **null** when an `IOExcption` occurred in obtaining the chemical component information of a `Group`. This null causes the Group to be ignored and it is not included in the loaded `Structure`.

A fail-back behaviour could be implemented so that if an `IOException` occurred, the `ReducedChemCompProvider` is used. Instead of ignoring

[2015-08-05 12:37] josemduarte commented on #315
+1

I like the idea of the fail-back behaviour. It still allows for forcing to use `ReducedChemCompProvider` if the user needs specially fast structure loading.

[2015-08-05 15:53] #313 closed

[2015-08-05 23:10] andreasprlic opened #316 "add support for "getEntityInfo" API call to PDBStatus"
Would be great to get support for the getEntityInfo web service call

http://www.rcsb.org/pdb/rest/getEntityInfo?structureId=1hv4

That way one could easily identify structures that contain nucleotides, without having to actually parse a PDB file directly.

[2015-08-10 15:06] sbliven commented on #306
With loose thresholds, these are actually OK helical examples. First, I'll show why these are decent examples, then I'll describe bugs and shortcomings as I see it with the existing implementation and visualization.

**3MOP** is a tricky case because the subunits have three conformations. If you believe this is helical, this can be argued as coming about from the dramatically different crystal con

[2015-08-10 16:30] pwrose commented on #306
Great analysis Aleix and Spencer.

Regarding:
1. Drawing a helix rather than the straight line segments would really help
with visualization. You just need to keep in mind the primitives you can
draw in Jmol. You either could use a polyline with short segments or try to
make the curve out of arcs.

2. This looks like a bug. The stoichiometry should be checked. To see which
subunits are considered

[2015-08-11 07:56] lafita commented on #306
I agree with @sbliven, after looking into detail at the examples they have **helical symmetry**. The stoichiometry and the axes' line segments were confusing in the first place.

I still do not understand why the line segments are not all connected (there are discontinuities), for example in the 3MOP example subunits 6 and 7 (in the order of the helix from the bottom) are not connected, nor 10 and

[2015-08-11 08:23] lafita commented on #306
If I run CeSymm on the structure 3MOP I get the correct axis line segment connections, corresponding to the Spencer's red lines (4-start helix). The only thing that changes between running CeSymm or the QuatSymmetryDetector is the alignment part, because the drawing part is the same. It might give a clue to what is going on:

![3mop_axes](https://cloud.githubusercontent.com/assets/11161522/9193323

[2015-08-11 16:04] lafita commented on #315
We have also seen that the backbone information of the structure can be obtained from the **mmCIF** file, because there is some part of the **Chemical Component** information ("L-peptide-linking tag for aminoacids in the backbone). This would not be valid for non-deposited structure files, but at least will solve the issues with the structures downloaded from the PDB, without downloading the **Che

[2015-08-14 15:28] lafita opened #319 "Include Graph Dependency in structure Module"
As decided in #299, the current Graph classes and algorithms used in biojava will be replaced by an external dependency. The graph library proposed was jgrapht.

[2015-08-14 20:25] andreasprlic opened #320 "Deprecate Chain.getParent(), rename to Chain.getStructure()"
To be consistent with some of the other recent API changes, we should deprecate ```Chain.getParent()``` and create a new  ```Chain.getStructure()```, which will replace it at some point in the future.

[2015-08-14 20:42] jacob-litman commented on #320
As a note: the biojava-ffx branch is already this way, on account of an irrevocable API clash with the MSNode class in FFX, stemming from a Java Swing class.

[2015-08-15 10:55] josemduarte commented on #320
+1
Consistency is always good, we should at the same time make sure we have the same convention for the whole `Structure -> Chain -> Group -> Atom` hierarchy and deprecate anything that doesn't follow the convention

[2015-08-28 20:51] #320 closed

[2015-09-08 10:58] lafita opened #321 "Potential huge loop in PermutationGroup"
In determining the **RotationGroup** of an assembly permutations of all the subunits are generated by combining existing valid permutations. The maximum number of permutations is the factorial of the number of subunits, but this is not taken into account in the recursive method *completeGroup()* inside **PermutationGroup**. This means that permutations continue to be combined even if the number of

[2015-09-11 08:37] sbliven commented on #321
@pwrose Do you remember the reasoning behind `PermutationGroup.completeGroup()`, which tries combining all N^2 permutations iteratively? This seems like a perfect place for some clever optimization. Why not just use the standard algorithm to generate all possible permutations of n elements?

[2015-09-11 15:35] pwrose commented on #321
In general, when a structure has symmetry, only a few symmetry operations
need to be identified. All others are combinations of existing symmetry
operations (hence the word point group). For the example of icosahedral
symmetry, I think a 2, 3, and 5 fold axis are sufficient to generate all 60
symmetry operations by combining the existing operations.

CompleteGroup usually finishes after a few iter

[2015-09-11 18:02] andreasprlic opened #322 "Add support for struct_ref_seq_dif"
BioJava currently does not support the struct_ref_seq_dif category during mmCif parsing. Add support for that.

http://mmcif.wwpdb.org/dictionaries/mmcif_std.dic/Categories/struct_ref_seq_dif.html

[2015-09-15 13:06] sbliven commented on #321
I created a minimal example to profile the function, based on the permutations detected in @lafita's example:

[code]

Note that all the quaternary examples in the PDB have low order (<=60), so such a case wouldn't come up. Here we have a particularly poor alignment which leads to all `8!` permutations being generated.

This example didn't finish in the 2 hours I let it run. One inefficiency is in

[2015-09-15 13:07] #321 closed

[2015-09-15 15:18] pwrose commented on #321
Nice solution, Spencer!

On Tue, Sep 15, 2015 at 6:07 AM, Spencer Bliven <notifications@github.com>
wrote:

--
Peter Rose, Ph.D.
Site Head, RCSB Protein Data Bank West (http://www.rcsb.org)
San Diego Supercomputer Center (http://bioinformatics.sdsc.edu)
University of California, San Diego
+1-858-822-5497

[2015-09-15 16:00] paolopavan opened #324 "GenbankProxySequenceReaderTest hungs"
testProteinSequenceFactoring() hungs and do not permit library compilation and jar file making.

[2015-09-15 17:46] andreasprlic commented on #324
What is your system? Seems the test passes ok on Travis CI.

[2015-09-15 23:13] paolopavan commented on #324
Windows Java 8. Can I add more details?

Inviato da iPhone

[2015-09-15 23:15] andreasprlic commented on #324
yes, a stacktrace or failure-message would be helpful. Thanks,

[2015-09-16 05:40] #322 closed

[2015-09-16 16:06] paolopavan commented on #324
Hi Andreas! It seems it was related to my configuration, sorry about that. I'm closing the issue.

[2015-09-16 16:06] #324 closed

[2015-09-17 00:28] andreasprlic opened #326 "problems with parsing PDB 2ja5 under certain conditions"
reported on mailing list by Guoying Qi

This gives a nullpointer exception:

String pdbFileName = "testdata/test/pdb/pdb2ja5.ent";

        FileParsingParameters fileParsingParameters = new FileParsingParameters();
        fileParsingParameters.setStoreEmptySeqRes(true);
        fileParsingParameters.setLoadChemCompInfo(false);
        fileParsingParameters.setHeaderOnly(true);

        PDBFilePar

[2015-09-17 15:50] sroughley opened #327 "StructureTools#getGroupsWithingShell(Structure, Group,double,boolean) method should return Set<Group>"
The StructureTools#getGroupsWithinShell(Structure structure, Group group, double distance, boolean includeWater) currently returns a List<Group>.

As this method calls the  StructureTools#getGroupsWithinShell(Structure structure, Atom atom, Set<ResidueNumber> excludeResidues, double distance, boolean includeWater) repeatedly for each atom, the returned list can contain multiple copies of the same

[2015-09-17 16:13] andreasprlic commented on #327
I'd say let's change the signature of that method. I don't think it is widely used, as such this should be not too painful. Any patch for this is welcome! Please also update any other place in the code that is referring to this method. Thanks!

[2015-09-17 16:40] sroughley commented on #327
OK, I will check for anywhere in the code referring to that and unless it causes too many problems, submit a pull request in the next few days.

[2015-09-17 17:11] josemduarte commented on #327
Just a note related to that method, there's some more code to calculate contacts and atoms within a distance in the `org.biojava.nbio.structure.contact` package. In the `StructureTools` class there's some methods making use of them, see for instance `getAtomsInContact(Chain, Chain, String[], double, boolean)`. The return type of those ones is an `AtomContactSet`, which in turn contains `AtomContac

[2015-09-17 17:19] josemduarte commented on #327
The tutorial has something about contacts, have a look too:

https://github.com/biojava/biojava-tutorial/blob/master/structure/contact-map.md

[2015-09-18 09:06] sroughley commented on #327
Thanks Jose. I will take a look at those.
I have checked and the method here is not called anywhere else, so I see no problems with changing the signature.  I have therefore changed the signature to return Set<Group>, and the implementation generates a LinkedHashSet<Group> as per the other #getGroupsWithinShell method, and submitted a pull request
Steve

[2015-09-21 13:38] lafita commented on #220
I would also like to give my opinion on the topic, because I encountered some problems while doing **structural alignments with Biological Assemblies (BA)**. The structural alignment algorithms were designed for the comparison/analysis of **single domains or chains**, but there is a specific problem in the symmetry analysis (identify combined **quaternary+internal point groups**) that requires run

[2015-09-21 13:56] lafita commented on #201
Another problem has popped up: with the current communication it is impossible to display two (or more) aligned *Biological Assemblies*, since the **symmetry generated chains** are also stored in different models. See #220 for a more detailed description of the problem.

[2015-09-21 14:30] lafita commented on #112
How is the current state of the SecStruct.java class? @andreasprlic

Since the secondary structure is not parsed by default in BioJava I would be interested in using a DSSP implementation to calculate it afterwards if needed. I could spend some time reviewing the code and writing some tests, if it makes sense.

[2015-09-21 18:07] #327 closed

[2015-09-21 18:39] sroughley opened #330 "DBREF records in PDB files written from StructureImpl cause IndexOutOfRange exception when reading back in"
DBREF records do not all contain 80 characters when written out using StructureImpl#toPdb(), and so re-reading a PDB file written out this way causes an exception to be thrown as the DBREF parser in PDBFileParser at the following line:

String dbinsEnd = line.substring(67,68);  (line 2198)

There are a number of other StructureImpl Member classes which also do not write full length lines (e.g. HEA

[2015-09-21 18:41] sroughley opened #331 "PDB Structure AtomImpl has no charge"
The Atom Interface and AtomImpl class in org.biojava.nbio.structure does not handle or store the charge on the atom from the PDB line.  The PDBParser also needs to be modified to store and write this property

[2015-09-21 21:37] josemduarte commented on #330
I totally agree with your comments, the parser should be able to parse lines with or without padded spaces. From your suggestion I'd definitely support doing 2 and 3, but regarding 1 I would say it's not a good idea to introduce another parsing parameter if not strictly needed. The parser can be made robust enough to parse both style of files, I would not see a use-case for having it as a paramete

[2015-09-21 22:09] josemduarte commented on #331
It would be good to have charge as well for completion, though in actual experimental structures (at least from x-ray diffraction) is almost never used. On the other hand MD programs do use them all the time.

One important point is that we would need to have support for it in both the PDB parser and the mmCIF parser (see `org.biojava.nbio.structure.io.mmcif` package). The relevant mmCIF data item

[2015-09-21 22:09] sroughley commented on #330
OK - in that case, for most records, the simplest way to achieve 2 is probably to simply right-pad out to 80 chars.  I will take a look at this in the next day or two, and then will start checking through some of the other methods to get 3 implemented.  I guess the one possible advantage of 1) is that it enables some sort of 'strict' parsing mode - but as you say I'm not really sure why anyone wou

[2015-09-22 00:09] andreasprlic commented on #112
If I remember correctly, the key difference is that the hydrogen bonds energies that I got were not exactly the same as what DSSP produces. There is still some bug there. It should be possible to get numerically the same values... As a consequence the secondary structure assignments were not exactly the same.

Please feel free to take a look at it and fix. For comparison you can use the energies r

[2015-09-22 12:04] sbliven commented on #220
Let's override getRepresentativeAtomArray with an additional parameter indicating whether all models should be included. Yes, atoms would no longer have unique ids, but they would still have non-identical Chain objects (with identical chain ids). We could also a method to rewrite chain ids if needed (e.g. A_0, A_1, etc).

I can't think of any cases off the top of my head where having multiple Chai

[2015-09-22 12:06] sbliven commented on #220
Btw, do any of you RCSB guys know if there are plans for incorporating multiple structures into a single mmcif file in the future, through file format improvements?

[2015-09-22 13:21] lafita commented on #112
The DSSP implementation used by PDB is also available as open source, but it is written in C++. Find all the versions here: ftp://ftp.cmbi.ru.nl/pub/software/dssp.

From the version 2.1.0 upwards the algorithm produces a different output because of pi-helices, and it seems that the version used by PDB is the original one (files are before 2011).

Is it possible (and a good idea) to port the method

[2015-09-22 15:13] lafita opened #333 "Add support for parsing secondary structure in mmCIFF"
The secondary structure assigned by the authors can only be parsed with the PDBFileParser.

[2015-09-22 15:40] pwrose commented on #220
I'm not aware of any plans for multi-structure files. Since each data
section starts with data_xxx, it should be straight forward to have
multiple structures in a single file. You may want to check the original
cif papers to see if they mention multi-structure files.

On Tue, Sep 22, 2015 at 5:06 AM, Spencer Bliven <notifications@github.com>
wrote:

--
Peter Rose, Ph.D.
Site Head, RCSB Protein Dat

[2015-09-22 16:19] sroughley commented on #330
I have submitted a pull request to deal with the simple case of padding out the lines to 80 chars during parsing, and have started work on the individual #toPDB() methods.

I was also looking, while I was dealing with the DBRef class to add support for DBREF1/2.  That doesn't appear too difficult, but I wondered why StructureException is not part of the method signature for the PDBFileParser#parse

[2015-09-22 17:58] josemduarte commented on #330
Support for DBREF1/2 would be really nice. Regarding the `StructureException` not being part of the signature, that's definitely an inconsistency. `StructureException` is being used at the moment for any kind of generic problem that occurs while dealing with Structures/Chains/Groups, but not during parsing.
`StructureIO` (a higher level wrapper for the parsers) also makes use of `StructureExceptio

[2015-09-22 18:59] sroughley commented on #330
If you like, I will see how much work it would be to add StructureException - it would seem to be more consistent that way, and then IOException is retained for real IOException situations e.g. dropped file connections, stream closing issues and the like?

[2015-09-22 21:37] andreasprlic commented on #112
I am pretty sure the BioJava version can do Pi helices as well. (it has support for helices that have hydrogen pattern to residue +3,4,5 ).

It seems that DSSP is now available under the free Boost software license. As such porting the code to Java should be acceptable. However I believe the already existing BioJava implementation is progressed pretty far ahead, so it might be easier to track down

[2015-09-22 21:40] andreasprlic commented on #330
In my opinion, changing an API for the sake of renaming an exception is not worth it.

We should probably fix the javadoc for StructureException and stop making the claim that it gets thrown during parsing. It probably was at some point in the past, but that might have been refactored over time. (If I remember correctly that exception goes back to the early days of biojava-structure)

[2015-09-22 22:14] andreasprlic commented on #331
Can you comment on the use case for this? It would be interesting to learn more about what you have in mind with this.

[2015-09-23 14:08] lafita commented on #112
I will also create a DSSP File Parser that can be used either for testing the output of the DSSP implementation or for downloading and extracting the information from the DSSP files on the PDB.

[2015-09-23 14:34] lafita commented on #112
And I think it also makes sense to change the **toString()** method to generate the same DSSP output format, so that it can be parsed again or reused by other programs (as if it was a DSSP output).

[2015-09-23 17:51] sroughley commented on #331
The initial motivation is to return "correct" 80 char ATOM and HETATM lines - at present the charge information in the last two characters of the line is lost.  Whilst this may be of little consequence in many cases, there are according to the link supplied by Jose ~1% of PDB structures containing information in this field.  Some heterogens have charged atoms e.g. quaternary nitrogen.  Additionall

[2015-09-23 21:09] josemduarte commented on #112
Regarding DSSP parser we have an implementation in https://github.com/eppic-team/owl/blob/master/src/main/java/owl/core/runners/DsspRunner.java that we could try to port to Biojava. What we would need also is a data structure to hold the whole secondary structure annotation so that it can be looked up, we had something along those lines in https://github.com/eppic-team/owl/blob/master/src/main/jav

[2015-09-23 21:29] sroughley commented on #330
There is also the PDBParseException in org.biojava.nbio.structure.io which is also described as "An exception during the parsing of a PDB file."  Surely the IOException should only be thrown (as it will be) by problems with the actual stream reading, and either PDBParseException or StructureException by actual problems with the content?  One option could be to convert PDBParseException to a subcla

[2015-09-24 18:55] josemduarte commented on #330
I'd agree with your last comment: since `StructureException` is already in use by `StructureIO`, it seems logical to use `StructureException` also for parsing problems, so that we end up with a single Exception that encapsulates all problems with PDB/mmCIF data issues.

Making it a subclass of `IOException` would be tempting so that signatures don't have to change but wouldn't be the cleanest solu

[2015-09-24 19:26] sroughley commented on #330
Thanks Jose.  A quick look shows that the only thing in Biojava itself which breaks are the test cases in biojava-structure, and the integration test - in all cases because the test method signature includes 'throws IOException' to deal with any IOExceptions thrown, so I think it should be fixable with a little care.  I will carry on with it over the next few days/weeks and get that pull request i

[2015-09-25 17:32] paolopavan commented on #330
Hi, for SearchIO I have used Java standard ParseException for file format related issues and IOException for file related issues.
It seemed well suited to me.

Inviato da iPhone

[2015-10-05 15:13] lafita commented on #112
[5pti_biojava.txt](https://github.com/biojava/biojava/files/7767/5pti_biojava.txt)

I already implemented parser and writer for DSSP file format. This is the output that the biojava implementation gives for the above entry. You can compare the results with the link below to the DSSP original output.

The energies are all the same, so there is no bug in the energy calculation.

However, the SS assi

[2015-10-05 21:23] josemduarte commented on #112
Great stuff @lafita! Definitely the issue with differening assignments sounds like a threshold issue. Do the DSSP people document exactly what their thresholds are?

[2015-10-06 00:42] andreasprlic commented on #112
Great! Then the problem must be either in the H-bond definition, or the detection of h-bond patterns...

[2015-10-06 16:48] lafita commented on #112
EUREKA! I found the bug that was causing the wrong SS assignment. The indices of the Ladders were not properly set when a new Ladder was created, and that produced very long extended regions. See new result: [5pti_biojavaFix.txt](https://github.com/biojava/biojava/files/8647/5pti_biojavaFix.txt)

In summary there are two bugs fixed now:
- The third column of the **energies** was not correctly prin

[2015-10-06 16:56] josemduarte commented on #112
Awesome! Regarding your points about first residue and short helices I'd vote for matching the DSSP implementation as much as possible. At the end of the day all these are definitions and a bit arbitrary. DSSP is the _de facto_ standard and as such we should follow it as close as possible.

[2015-10-07 11:54] andreasprlic commented on #112
It could be a parameter to read original dssp or "improved". The original code assigns helices too short IMHO.

About the hydrogens : there are two internal implementations for placement of the H. Again, one exactly as dssp has it and one slightly improved. Which in some cases can result in subtle differences in assignments.

[2015-10-07 11:58] andreasprlic commented on #112
Btw, did you try to run the code for a large protein, such as a ribosome? This can really solve the problem how to get dssp assignments, if there are no pdb files available.

[2015-10-07 12:51] sbliven commented on #331
One measure of a "complete" parser (PDB/cif) is that parsing a structure and writing it back out matches the input exactly. By this measure it would be nice to add the charge.

This requires adding a field to Atom, right? Will that be a problem?

[2015-10-07 12:53] sroughley commented on #331
That is my point above.  It is not a problem to do this, but obviously also needs the mmCif and PDB parser to writer methods adjusted to handle the charge (or empty whitespace).  I will implement in the next few weeks and submit a pull request

[2015-10-07 13:45] andreasprlic commented on #331
Perhaps we should introduce alternative implementations for Atom at this point. There could be some more memory efficient implementations containing minimal data for algorithms, as well as "full" data representations for other use cases.

[2015-10-07 13:46] lafita commented on #112
Yes, it runs for big proteins. I tried Yeast 80S ribosome:
[4V7R..dssp.txt](https://github.com/biojava/biojava/files/9374/4V7R.dssp.txt)

It takes about 10 seconds to run.

[2015-10-07 14:51] lafita commented on #112
The problem with the first residue is solved! It was not a problem with the hydrogen, but because a loop ignored the first position, starting at 1. Now the output for the energies matches exactly the DSSP implementation.
[5pti.dssp.txt](https://github.com/biojava/biojava/files/9425/5pti.dssp.txt)

[2015-10-07 21:32] sbliven commented on #331
It seems like overkill to have alt implementations. Adding the charge to Atom should be simple enough.

[2015-10-08 03:34] andreasprlic commented on #331
Agreed, as we discussed today on skype. For algorithms it is better to work directly with an array of (vecmath) points, rather than the atom class.

[2015-10-09 12:40] gq1 opened #335 "Support _database_PDB_rev_record in mmCIF parser?"
HI there,

Currently I can get _database_PDB_rev data from the parser, just wondering whether you can parse the _database_PDB_rev_record data as well?

Thanks.

Guoying
#
loop_
_database_PDB_rev_record.rev_num
_database_PDB_rev_record.type
_database_PDB_rev_record.details
2 JRNL  ?
3 VERSN ?
#

[2015-10-09 12:53] gq1 commented on #335
Thanks, Andrea.

[2015-10-12 15:42] lafita commented on #112
I fixed a couple of bugs more, specially with the turns and helices. Now it is possible to reproduce the exact same DSSP results (if a flag for short helices is set) or obtain the results with full helices (even the authors say in the paper that helices are one residue shorter at both ends than they should be). However, in very special cases like short beta bridges and irregular helices, one resid

[2015-10-12 18:55] andreasprlic commented on #112
The described differences indicate that there are still a few minor issues. The B vs the 3-residue sheet seems to be a small bug in detecting "ladders", that form the core of sheets. Perhaps the loop that checks which "B"s form the extended sheets terminates too early or starts one residue too far off,(or something like that).

Do you have the code for this in a branch?

[2015-10-12 20:48] lafita commented on #112
All the changes I have been doing are in my branch [secstruc](https://github.com/lafita/biojava/tree/secstruc). If you want to have a look, the SecStrucPred class in secstruc package contains the DSSP algorithm and a test called TestSecStrucPred can be run to debug and see example outputs.

The main problem seems to be that some beta bridges are not identified, because when I print the results, I

[2015-10-12 21:05] andreasprlic commented on #112
If jmol is identical to DSSP,  you could compare your implementation with the method ```getSheetStructures``` in http://sourceforge.net/p/jmol/code/HEAD/tree/trunk/Jmol/src/org/jmol/dssx/DSSP.java#l522

[2015-10-13 13:49] lafita commented on #112
Fixed! Thanks to @sbliven. The results are now the same!!!

[2015-10-13 18:34] andreasprlic commented on #112
awesome!! please push to the main branch then!

[2015-10-14 04:39] #335 closed

[2015-10-19 09:13] lafita opened #337 "Using hasAminoAtoms() for modified AA"
Since the pull request #314 the `ReducedChemCompProvider` is the default behaviour. This generated some problems in parsing structures with modified aminoacids, because they are stored in `Hetatom` objects instead of `AminoAcids`. This was a problem when trying to extract the representative `Atom` Array of a `Structure`, the array being of different length when using the `DownloadChemCompProvider`

[2015-10-19 17:21] andreasprlic commented on #337
One concern is C-alpha only protein structures. The proposed behavior would not work for those.

[2015-10-19 17:51] pwrose commented on #337
Proper handling of polymer chains (and non-polymers) will also be very
important for our data compression project. Perhaps we can discuss the
various issues around handling polymers and come up with a solution in our
meeting on Wed.

On Mon, Oct 19, 2015 at 10:21 AM, Andreas Prlic <notifications@github.com>
wrote:

--
Peter Rose, Ph.D.
Site Head, RCSB Protein Data Bank West (http://www.rcsb.org)
S

[2015-10-19 18:04] josemduarte commented on #337
I'd also have some other concerns about that:
- C-terminal aminoacids won't have all of the amino atoms as defined in `Group.hasAminoAtoms()` (C, N, CA, O) since O is replaced by OXT
- Non-standard aminoacids must not necessarily follow the convention of naming the amino atoms as C, N, CA, O
- Other compounds that are not aminoacid-related might use the names just by chance (nothing prohibits that

[2015-10-20 09:48] lafita commented on #337
OK! Thank you all for the explanations. I see the problems it might generate.

In that case, I think we should use the same convention for the secondary structure, because the current implementation might take into account residues that happen to have the same Atom names (as @josemduarte pointed), but that are not in the backbone (so they should be discarded for SS prediction, because they might c

[2015-10-20 22:10] andreasprlic commented on #337
Actually for the DSSP implementation it is probably sufficient to just look at group.hasAminoAtoms() in order to decide if you can do calculations. If it has all the required atoms, why not let non-amino acids form hydrogen bonds and have secondary structure?

[2015-10-21 12:17] julie-sullivan opened #338 "PDB files: java.lang.OutOfMemoryError: Requested array size exceeds VM limit"
Sorry if this isn't the right place to post but I am getting an error using the BioJava library when processing PDB files:

[code]

1. I was using `biojava3-structure-3.0.7.jar` this morning but I also tried `biojava-structure-4.1.0.jar`.
2. I downloaded the PDB files from pdb.org
3. I am getting the error for `1i9o.pdb`. I skipped that one but got the same error on `1i9p.pdb`. I looked at both fi

[2015-10-21 12:19] julie-sullivan opened #339 "PDB files: error parsing the journal (maybe)"
`1crm.pdb`

[code]

Which has this text:

[code]

1. I was using `biojava3-structure-3.0.7.jar` this morning but I also tried `biojava-structure-4.1.0.jar`.
2. I downloaded the PDB files from pdb.org

[2015-10-21 12:19] julie-sullivan commented on #339
Same error on `1a27.pdb`:

[code]

[2015-10-21 14:59] lafita commented on #338
I could not reproduce the error for entry `1i9o`. I tried parsing the structure from a downloaded file from the PDB, as you mention, and used the same parser you are using in the **intermine** repository.

A possible explanation for the `OutOfMemoryError` could be the use of many structures at the same time. Are you parsing a single structure at a time, or are you keeping them all together in memo

[2015-10-21 15:02] lafita commented on #337
I agree! It is probably less important in the SS than in the representative Atom array. So then the things stay as they are.

[2015-10-21 16:31] sbliven commented on #337
So, to summarize our skype discussion:

1. We should switch the default to DownloadChemCompProvider, since that is the only consistent way of determining the polymer type. Unit tests should explicitly use the ReducedChemCompProvider to reduce IO, as should some other IO-sensitive applications where the ChemComp info doesn't matter (e.g. one-vs-all database searches).

2. For the moment, accept the

[2015-10-21 17:04] josemduarte commented on #339
Could you post some code to show what the issue is exactly?

I've tried the following:

[code]
and got this output:
[code]
So all looks ok to me.

[2015-10-22 14:24] julie-sullivan commented on #339
Hi @josemduarte! Yes, most PDB files work fine for me, except for a few. Here's the line of code mentioned in the stacktrace:

https://github.com/julie-sullivan/intermine/blob/pdb-fix/bio/sources/pdb/main/src/org/intermine/bio/dataconversion/PdbConverter.java#L127

I added the try/catch block to (temporarily!) ignore these errors.

Thank you for your help!!

[2015-10-22 15:08] julie-sullivan commented on #338
Hi @lafita!! I am processing a lot of PDB files, but one after the other. Here's my code:

https://github.com/julie-sullivan/intermine/blob/dev/bio/sources/pdb/main/src/org/intermine/bio/dataconversion/PdbConverter.java#L120

My code travels through the data directory and parses each PDB file it finds. You can see in the method above, everything is locally scoped. So when the code exits out of the

[2015-10-22 15:52] josemduarte commented on #339
Hi @julie-sullivan , looking at your code it seems that you are using Biojava 3, not sure exactly which minor version of it, but definitely it's not 4. I also see in your code that you are using `Structure.getHeader()` which has been removed from the API as it was already deprecated in Biojava 3 (see #102). The way to do that now would be through `Structure.getPDBHeader()` which returns a `PDBHead

[2015-10-22 15:54] josemduarte commented on #339
I forgot to say, it is strongly recommended to upgrade to latest Biojava version (4.1) as there have been a lot of bug fixes and also many new features added since 3. In principle we are not producing bugfix releases for the 3 lineage anymore.

[2015-10-22 16:24] julie-sullivan commented on #339
I've updated to 4.1: https://github.com/julie-sullivan/intermine/tree/pdb-fix/bio/sources/pdb/main/lib but still get the same error.

I've also updated my code to the new methods. Thanks for that!! Much cleaner now. : ) https://github.com/julie-sullivan/intermine/blob/pdb-fix/bio/sources/pdb/main/src/org/intermine/bio/dataconversion/PdbConverter.java#L137

[2015-10-22 16:28] julie-sullivan commented on #339
1a27.pdb and 1crm.pdb are the entries that break for me. My code is a bit different from yours in that I don't know what setUseMmCif is or atomcache, I am just reading the data file in.

All of the other 591 PDB files seem to be processing okay.

Does the error message make any sense to you? Why would it be treating TION (or RIER in the second case) as an integer? A parsing issue?

[2015-10-22 16:34] julie-sullivan commented on #338
For the record, that file that fails is the 1929th PDB file being processed. I deleted it (for a test) and the next file failed. So I don't think my problem is file specific.

This may be why we didn't have the problem with Drosophila melanogaster because there were less files than that. For Homo sapiens, there are 25,000 files to parse.

[2015-10-22 16:37] pwrose commented on #338
Is this just a memory issue since all atom records are stored in the
proteinStructure object:

proteinStructure.setAttribute("atm", structure.toPDB());

On Thu, Oct 22, 2015 at 9:34 AM, Julie Sullivan <notifications@github.com>
wrote:

--
Peter Rose, Ph.D.
Site Head, RCSB Protein Data Bank West (http://www.rcsb.org)
San Diego Supercomputer Center (http://bioinformatics.sdsc.edu)
University of Cali

[2015-10-22 16:44] josemduarte commented on #338
Yes storing the full `toPDB()` representation (essentially a full PDB file) for many PDB entries will fill the memory very quickly. So it does seem the issue is that you need a lot of memory to store that `proteinStructure` object. The fact that it fails in a biojava call (as your stack trace shows) is just by chance. The memory got full and the first object that couldn't be stored happened to be

[2015-10-22 16:46] julie-sullivan commented on #339
I tried redownloading those files from PDB but I still get the error.

[2015-10-22 17:03] josemduarte commented on #339
What I did with my code above is essentially parsing the deposited PDB file for 1CRM (AtomCache takes care of downloading it for me, see [this part of the tutorial](https://github.com/biojava/biojava-tutorial/blob/master/structure/caching.md) ).

The more explicit code to directly parse a local PDB file would be:

[code]
Which for me still produces the correct output:
[code]

[2015-10-22 18:38] lafita commented on #338
Hi @julie-sullivan,

As @josemduarte and @pwrose point out, it is a problem to keep all the PDB files in memory. Although you are parsing every entry individually, the `protinStructure` objects retain the PDB file as a String. Note that the `Sructure.toPDB()` method produces a String identical to the information contained in a PDB file, in the order of a few MB. The memory will be filled up at one

[2015-10-23 10:38] justinccdev commented on #338
Hi folks.  I'm a colleague of @julie-sullivan's at InterMine also now taking a look at this problem.

* Just to clarify, the code we're actually using is the processPDBFile() method on a branch [here](https://github.com/julie-sullivan/intermine/blob/pdb-fix/bio/sources/pdb/main/src/org/intermine/bio/dataconversion/PdbConverter.java#L121).  However, I don't think this substantially changes things.

[2015-10-23 16:04] josemduarte commented on #338
Thanks for the clarification! I think we all assumed that `store(proteinStructure)` was storing the whole thing into memory. Now things are clearer, if it goes to a database then that's a harmless call. You might be right about the resource leak with non-closing InputStreams, I'm going to have a good look at it.

[2015-10-23 17:37] josemduarte commented on #338
So I've just tried equivalent code as you have, using Biojava 4.1.1-SNAPSHOT (current HEAD of master branch) and could not reproduce the issue.

I ran with `-Xmx1g` and could parse more than 5000 PDB files without memory issues. The only difference in my code is that I don't have a `proteinStructure` object.

In my experience it is difficult that a resource leak (like not closing InputStream) can

[2015-10-23 21:52] andreasprlic commented on #338
Just to comment, we are using the parser (biojava 4.1.0) to parse thousands of structures every week. I am sure there is not some obvious memory leak present in BioJava...

[2015-10-26 16:17] lafita opened #340 "RCSBLigandsFactoryTest failing"
Hi @andreasprlic,

**BioJava** build is failing in the [RCSBLigandsFactoryTest](https://github.com/biojava/biojava/blob/02952752ada4ddc0e03ce8a4eea4d78d74192aef/biojava-structure/src/test/java/org/biojava/nbio/structure/rcsb/RCSBLigandsFactoryTest.java) (line 70). The test case is hemoglobin [4hhb](http://www.rcsb.org/pdb/explore.do?structureId=4HHB). It has two types of ligands, but because of th

[2015-10-26 16:33] andreasprlic commented on #340
Hi, this test is parsing the response from

http://www.rcsb.org/pdb/rest/ligandInfo?structureId=4hhb

I'll check if anything got changed..

A

[2015-10-26 17:38] julie-sullivan commented on #338
First, thanks for all of your replies and pointers! Very helpful.

* I got my build to work when I removed `structure.toPDB()`:

https://github.com/julie-sullivan/intermine/blob/pdb-fix/bio/sources/pdb/main/src/org/intermine/bio/dataconversion/PdbConverter.java#L172-L176

* To test further, I took *everything else* out -- including storing to the database:

[code]

The build still fails.

* Can so

[2015-10-26 18:17] josemduarte commented on #338
I tried a very similar test (see my comment above) and I could parse more than 5000 files (calling `structure.toPDB()` in all of them) with a max memory of 1GB (`Xmx1g`).

In that last test you ran, how many files has it gone through when it breaks?

[2015-10-26 19:20] julie-sullivan commented on #338
@josemduarte Thanks for testing! I was only able to parse those 20 or so files I list above.

[2015-10-26 19:35] josemduarte commented on #338
@julie-sullivan I've tried now the exact same list of PDBs you give above and the code runs fine. I've tried it both with Biojava 4.1.1-SNAPSHOT (current master HEAD) and with 4.1.0, both ok.

What's the error you get now? Is it still an out of memory?

[2015-10-26 21:17] julie-sullivan commented on #338
yes same error.

[2015-10-26 22:19] andreasprlic commented on #340
ok, so a recent change introduced some redundancy at the web service. Will be fixed as soon as the latest code base reaches our production servers (might be too late for tomorrow's weekly update).

[2015-10-26 22:46] josemduarte commented on #338
So it seems we can't really reproduce it... I'm afraid you are going to need to isolate the problem a bit more and see if we can reproduce something similar. Otherwise I'm out of ideas.

Other ideas anyone?

[2015-10-27 00:29] andreasprlic commented on #338
Use a profile to trace what is going on in the code?

[2015-10-27 00:38] emckee2006 commented on #338
You could also take a heap snapshot/dump and try to figure out exactly
what's filling up the heap...

Have you tried different java versions to rule out a vm issue?
On Oct 26, 2015 8:29 PM, "Andreas Prlic" <notifications@github.com> wrote:

[2015-10-27 16:12] julie-sullivan commented on #338
@josemduarte Thanks for spending so much time on this!

When you tested, did you use that AtomCache thing? Or did you just read the file from the directory?

[2015-10-27 16:15] julie-sullivan commented on #338
@andreasprlic I posted a profile above. Unless you meant something else?

I notice there are AtomImpl (35,000 of them!) objects in memory, *after* garbage collection. As well as chars and other types InterMine doesn't use.

Since my (now truncated) code isn't holding references to any objects biojava, it's quite a puzzle as to how this may have happened!

[2015-10-27 16:18] josemduarte commented on #338
@julie-sullivan I tested with exactly the same code you had, reading PDB files from the directory explicitly.

[2015-10-27 16:19] julie-sullivan commented on #338
@emckee2006 I posted a snapshot above. It seems that there are a 2GB of chars and 4 GB of strings in memory, even after garbage collection.

Good idea! I didn't think of that, I am currently using Java 8 but tried with Java 6 and 7, with the same results.

[2015-10-27 16:32] julie-sullivan commented on #338
oops I think I may have had my dependencies wrong and really been using the older biojava JAR after all. Let me test.

[2015-10-27 16:54] julie-sullivan commented on #339
@josemduarte Thanks so much for spending so much time on this. User error! The old BioJava JAR was still on my classpath and that's the one this source was using. Apologies!

[2015-10-27 16:54] #339 closed

[2015-10-27 16:56] julie-sullivan commented on #338
Yes, the old BioJava JAR was still on my classpath and that's the one this source was using. Apologies! I'm an idiot! I removed it and re-ran the source with no problems at all.

Thank you so much for your time, and thank you so much for this great library so I don't have to parse PDB files myself!

[2015-10-27 16:56] #338 closed

[2015-10-27 16:58] andreasprlic commented on #338
I recommend to migrate your build environment to use Maven :-)

[2015-10-27 17:05] josemduarte commented on #338
Glad that it is solved in the end! One comment above parsing PDB files, you should really consider using files in mmCIF format instead of PDB format. The PDB format should be considered legacy now, in fact the PDB doesn't provide PDB files anymore for very large structures in the archive, so you won't be able to cover the whole archive unless you use mmCIF.

Biojava supports parsing mmCIF too, so

[2015-10-28 09:49] #112 closed

[2015-10-28 14:39] julie-sullivan commented on #338
@andreasprlic lol, yes, you are not wrong!

@josemduarte Thanks for all your patience! And I didn't realise about PDB files, I will switch to use mmCIF instead. I've made myself a ticket.

Thanks again!

[2015-10-28 18:34] andreasprlic commented on #340
fixed again now.

[2015-10-28 18:34] #340 closed

[2015-10-28 21:00] larsonmattr opened #341 "mmCIF parsing support for missing CONECT ChemComp information."
The SimpleMMcifConsumer does not create use Structure.setConnections to create a CONECT record list during MMCIF parsing.  It does have addBonds(), but this will create bonds for all amino acids, nucleotides, etc.

There is already existing functionality to pull ChemComp records for a ligand that can be used to build the connections information to replicate the CONECT records of PDB files.

BioJav

[2015-10-28 21:18] larsonmattr opened #342 "mmCIF parsing support for missing SITES information."
BioJava should support any SITE information present in mmCIF files.

The [Simple]MMCIFParser could read _struct_site and _struct_site_gen categories and trigger handlers in the [Simple]MMCIFConsumer to handle these loop entries to build Site classes in the BioJava Structure instance.

Supporting SITE information is present in parsing of PDB files but not yet in mmCIF.

[2015-10-28 21:26] larsonmattr opened #343 "mmCIF parsing support for missing SSBonds information."
BioJava should support any disulfide bond information present in mmCIF files.

_struct_conn categories are already read by SimpleMMCIFConsumer and trigger handlers in a consumer to handle these loop entries.   The SimpleMMCIFConsumer could parse _struct_conn to build SSBond instances that are part of BioJava Structure instances.

Support SSBOND-like information parsed for PDB files but not yet in

[2015-11-05 05:02] stefanharjes opened #344 "DNASequence.getRNASequence() translation does not respect ambiguity CompoundSet"
Hi biojava,

if you try:
[code]

The above errors resisted me quite some time, until I fell back at the .replaceAll transcription...

Regards

[2015-11-05 16:11] larsonmattr opened #345 "PDB output can write ATOMs out of order for alt conformations."
Opening the PDB:4EA9 as a Structure, then writing back again with toPDB() produces out of order atom records for groups that had alternative conformations.

Open the exported file in text editor and view residue 81, which has multiple conformations

The atom numbering is out of order and don't match the order that is present in the original PDB.

The problem is that BioJava uses the original Atom

[2015-11-06 15:13] sbliven commented on #345
Is this a problem for you? For what use case is the order in which atoms appear in the file important?

If Structure.setConnections is referring to atom array indices in a persistent way rather than atom ids, I would consider that the bug.

[2015-11-08 23:15] larsonmattr commented on #345
Hi Spencer,

  We haven't found that the order the atom ids appear with the PDB file
affects common protein structure viewers.  It is mostly cosmetic.  The use
case would be for writing back the structure or portions of a protein
structure after doing an operation on it.

Structures with alternative conformations are very common and a means to
iterate through Atoms in order of IDs from the Structu

[2015-11-10 18:17] josemduarte commented on #344
In my understanding there are 2 separate issues here:
 1. The 2nd line `dna.getRNASequence()` should not fail
 2. The 3rd line should work but not the 4th line

Is that understanding right?

Regarding the second issue, it looks to me like a bug [in this line](https://github.com/biojava/biojava/blob/master/biojava-core/src/main/java/org/biojava/nbio/core/sequence/compound/AmbiguityRNACompoundSet.ja

[2015-11-10 20:01] lafita opened #346 "biojava-phylo module extension"
I would like to make some changes to the **phylo** module of biojava. I would like to factor out the pairwise distance calculation in [TreeConstructor.java](https://github.com/biojava/biojava/blob/master/biojava-phylo/src/main/java/org/biojava/nbio/phylo/TreeConstructor.java) to include easily more scoring functions for the evolutionary distance. I have in mind to include a structural similarity s

[2015-11-10 21:17] stefanharjes commented on #344
Yes this is correct, thanks for the patch, however the first issue still fails

The 2nd line dna.getRNASequence() should not fail

[2015-11-11 01:26] josemduarte commented on #344
I've had a look into the other issue but could not find what's going on, I really don't know much about this part of Biojava. In any case I'll rename the issue so that it's clear what the bug is about.

[2015-11-11 01:37] josemduarte commented on #346
Regarding dependencies: I agree that **biojava-phylo** should depend on **biojava-alignment**. Also if it is clear that the Jalview code is not used anywhere, I'd vote to remove it to avoid confusion.

Another note about substitution matrices: they are at the moment in **biojava-alignment** and I definitely think they should stay there. There's an open discussion right now in #329 about moving the

[2015-11-11 22:42] kerner1000 opened #347 "AbstractFastqReader should be public"
<code>org.biojava.nbio.sequencing.io.fastq.AbstractFastqReader</code> is package private, so cannot be extended.

[2015-11-11 22:45] kerner1000 opened #348 "AbstractFastqReader should have possibility for stream-based reading"
<code>AbstractFastqReader</code> internally collects the whole file into memory before any access is possible. This is not very desirable in terms of performance.

<code>AbstractFastqReader#read</code> should return an <code>Iterator\<Fastq\></code> instead of <code>Iterable\<Fastq\></code>.

[2015-11-11 23:35] heuermh opened #349 "Update FASTQ I/O API examples in the cookbook documentation"
The FASTQ I/O API examples in the cookbook documentation here

http://biojava.org/wiki/BioJava:CookBook3:FASTQ

have not been updated to use the latest Guava APIs (e.g. InputSupplier has since been deprecated and removed).

Mentioned in #348.

[2015-11-11 23:35] heuermh commented on #348
Hello @kerner1000, thank you for the feedback.

That is the tradeoff for the simplest API, [FastqReader.read(File)](http://www.biojava.org/docs/api/org/biojava/nbio/sequencing/io/fastq/FastqReader.html#read(java.io.File)).

If you want streaming access to ```Fastq``` objects, use [FastqReader.stream(Readable, StreamListener)](http://www.biojava.org/docs/api/org/biojava/nbio/sequencing/io/fastq/Fas

[2015-11-11 23:36] heuermh commented on #347
That is by design.  What is your use case for extending ```AbstractFastqReader```?

[2015-11-12 08:39] kerner1000 commented on #348
Yes, I saw those examples. And I had troubles as you describe. The <code>FastqReader#parse</code> methods require a <code>Readable</code> instead of <code>Reader</code>. I was not sure how to use this properly.

[2015-11-12 08:41] kerner1000 commented on #347
As mentioned in the other issue, I was planning to just extend <code>AbstractFastqReader</code> in order to implement a handy and performant stream/ <code>Iterator</code>-based reading.

[2015-11-12 09:09] heuermh commented on #348
Lots of things implement [java.lang.Readable](http://docs.oracle.com/javase/7/docs/api/java/lang/Readable.html):  FileReader, InputStreamReader, etc.

[code]

[2015-11-12 10:25] paolopavan commented on #346
Hello Jose,
If the phylo module does not depend on the alignment module and the current
situation in #329 see the substitution matrices in core, this would not
vote for leaving the substitution matrices stuff in core?

I mean that while conceptually I agree that a phylogenetic module may
depend on the alignment one, *if* the first does not use any of the
alignment routines in the second, a compute

[2015-11-12 15:33] lafita commented on #346
The situation right now is that the **phylo** module does not depend on the **alignment** module, but it contains its own DS for substitution matrices (called *ScoreMatrix*) and hard coded BLOSUM62 and PAM250 matrices. From my point of view, this is a duplication and should be solved by using the *SubstitutionMatrix* in **alignment** and the resources files that allow to obtain the different matri

[2015-11-12 16:45] foreveremain commented on #346
FWIW you probably want to decouple substitution models from the alignment module. Although phylo and alignment require them, they are also needed for other kinds of downstream MSA analysis tasks.

I began to do exactly this with Jalview's architecture, since substitution based score models are not the only type of score models Jalview uses to build trees, and we also use score models for reorderin

[2015-11-12 18:17] josemduarte commented on #346
Alright there seems to be some consensus on keeping substitution matrices in core. We can do that and solve a few problems with it as @paolopavan says. That means I will go ahead and merge #329 as soon as I can and then we'll have both substitution matrices and alignment data structures in **core**.

@lafita  regarding other strange dependencies, I definitely support removing the dependency of **a

[2015-11-12 18:57] josemduarte commented on #346
#329 is now merged

[2015-11-13 11:20] kerner1000 commented on #348
Yes, you are right of course! I dont remember what was the comiler error I got but I will give it another try, using the low level API. Thanks!

[2015-11-13 11:41] lafita commented on #122
The **Phylip** format can refer to the MSA format, like FASTA format (see [here](http://evolution.genetics.washington.edu/phylip/doc/sequence.html) the format explanation) or to a distance matrix format (see [here](http://evolution.genetics.washington.edu/phylip/doc/distance.html) the format explanation). I guess @sbliven that the discussion was about the MSA format. I have seen that **forester**

[2015-11-13 11:49] lafita commented on #122
In the **forester** library:
Probably the [GeneralMsaParser](https://github.com/cmzmasek/forester/blob/master/forester/java/src/org/forester/io/parsers/GeneralMsaParser.java) class is used to parse **Phylip** MSA formats (the documentation is poor).
There is also a [SymmetricalDistanceMatrixParser](https://github.com/cmzmasek/forester/blob/master/forester/java/src/org/forester/io/parsers/Symmetric

[2015-11-13 12:10] lafita commented on #346
Thanks @josemduarte!

The **forester** package is great in phylogeny reconstruction (and for the IO support it provides in the different formats, as well for the GUI to visualize trees), but I have seen that the distance calculation methods (evolutionary inference) are the very simple ones (it does not use substitution matrices, only basic models like Kimura or percentage of identity).

In the cur

[2015-11-16 08:41] #122 closed

[2015-11-17 15:14] lafita commented on #346
I realized that the **alignment** module uses the **phylo** module to build a *GuideTree* for progressive multiple sequence alignments. Actually, it uses directly the **forester** library, instead of using the wrapper functions that the **phylo** module provides.

My proposition is the following: the **alignment** and **phylo** modules will be dependent on each other. The **phylo** module needs th

[2015-11-17 16:56] josemduarte commented on #346
Another possible solution is simply merging the **alignment** and **phylo** modules. They are too inter-related to be in two different modules in my opinion: trees need MSAs and MSAs need trees. Joining them will avoid other dependency issues in the future.

Perhaps we could do that in next release now that we have already done some other major refactoring in alignment and core packages (see #329)

[2015-11-17 17:04] lafita commented on #346
I vote in favor of that option! In addition, the **phylo** module contains very few classes after cleaning it from unused Jalview code. Should I merge them in my working branch before doing a pull request?

[2015-11-17 17:25] lafita opened #350 "Update the forester version (from 1.005 to 1.038)"
This is important, since the version we are currently using contains a **BUG** that allows for negative branch lengths in trees constructed with the Neighbor Joining algorithm and another bug that incorrectly calculates the branch lengths of the internal nodes. I discovered it with a simple Test that expects a tree of error zero.

This affects all the **phylo** classes (since the NJ is the only tr

[2015-11-18 14:45] sbliven commented on #350
We control the forester package on maven central, so we need to wrap the latest release in a pom and upload it. @andreasprlic did this process for 1.005, or I also have permissions to do it.

[2015-11-18 15:13] lafita commented on #350
Now that we are discussing this, the **forester** library is mainly a tree visualization library, with very few tree inference and construction support (not very used for the inference features, thus prone to bugs like the one above).

There exist other Java libraries focused on the algorithmic part of phylogenetic tree construction. The most popular one is [Phylogenetic Analysis Library (PAL)](ht

[2015-11-18 18:59] josemduarte commented on #350
The PAL project looks good but very out of date, last release was 1.4 in 2002 (http://iubio.bio.indiana.edu/soft/molbio/java/pal/). Aren't there any other more up-to-date and maintained alternatives from the list they provide?

[2015-11-19 22:32] lafita commented on #350
I agree that the project is very old, but it looks complete and well organized. It also seems to be very popular, since other projects depend on it for the fundamental phylogenetic algorithms.

The alternatives they provide (and that I could found to be maintained and up-to date) are either in another language or very specific to a single application. There seems to be a lack of a maintained and u

[2015-11-19 22:35] josemduarte commented on #350
+1 for importing code from the PAL library and provide better support for it within Biojava.

[2015-11-19 22:45] andreasprlic commented on #350
-1 This reminds me of what we did with the Jama library. I don;t think we should swallow external libraries. Better move them to a new github location and wrap them as Maven projects. A PAL fork is here:

https://github.com/tamuri/pal

[2015-11-20 09:03] sbliven commented on #350
-1 I also think that we should leave this to independent libraries unless someone joins BioJava who does  phylogenetic research full-time and would be willing to maintain it. I'm much more comfortable with our current approach of providing parsers & wrappers for external tools.

[2015-11-20 09:10] sbliven commented on #346
+1 for merging

[2015-11-20 10:28] sbliven commented on #348
Returning `Iterable` is preferable to `Iterator` since you can use the result directly in foreach loops. You can always just call `read().iterator()` if you need the latter.

[2015-11-20 11:43] lafita commented on #350
Probably **forester** is enough for what the current users of **BioJava** are doing, and I agree with @sbliven that we would need someone who is in need of more advanced phylogenetic research for the project. It was intended to be just a comment on the **forester** library and its limitations (in case the need appears in the future).

I saw that the same user that has a PAL mirror also has a phylo

[2015-11-21 00:57] josemduarte commented on #81
So if I understand the conversation above @sbliven, your [fix81](https://github.com/sbliven/biojava-sbliven/tree/fix81) has not been merged, is that right?

I am trying to solve a separate issue, where the current `StructureName` implementation does not cope with multi-letter chain ids. Before trying to fix that in the current implementation, I think it's worth giving the full solution here anothe

[2015-11-21 01:37] josemduarte commented on #350
Alright I think you guys are right, if there's no one around to really take care of it properly, there's no point in swallowing the PAL library in.

Regarding forester, I will be looking into adding it to maven in the next days. It will take a while because I haven't published anything to maven directly myself and I have to get permissions and all that. I'll post any progress here.

[2015-11-23 10:10] lafita commented on #81
I also vote for merging in the changes, because I would like to use the `StructureIdentifier` for naming **protodomains** (symmetric subunits), and the current implementation does not work (see the issue #297), but I do not want to modify it either. We can always fix problems after the merge.

[2015-11-23 14:51] lafita commented on #350
Thank you @josemduarte! I forgot to attach the link of the newest forester version (the one that I have tested and works correctly). This is the download link of the JAR:

https://googledrive.com/host/0BxMokdxOh-JRM1d2azFoRnF3bGM/download/forester_1038.jar

[2015-11-23 23:43] darnells opened #353 "mmCIF parsing support for missing SEQRES information"
The current PDBParser supports parsing SEQRES records from a PDB file header; however, the MMCIFParser does not yet support parsing sequence information from a mmCIF file.

The current implementation in SimpleMMCIFConsumer is not using the mmCIF-equivalent SEQRES records; it uses ATOM group equivalents to construct the current component list.

The SimpleMMCIFParser should parse the analogous recor

[2015-11-23 23:44] darnells commented on #353
We have implemented this feature in my company and are testing it internally. We will be submitting a PR.

[2015-11-24 00:07] josemduarte commented on #353
There is some support for SEQRES records for mmCIF files at the moment, but it will only work when setting `FileParsingParameters.setAlignSeqRes()` to true. When that flag is set, the SEQRES groups in the `Chain`s are populated. What other information from pdbx_poly_seq_scheme are you looking for? More that what's stored in `Chain.getSeqResGroups()` ?

Related to that and regarding testing, there

[2015-11-24 14:47] larsonmattr commented on #353
Jose,

 If the current SimpleMMCIFConsumer populates the SEQRES groups when
setAlignSeqRes(true), then the parsing of the SEQRES is working as
intended.  We were looking at filling the SEQRES groups for each chain
based on the _pdbx_poly_seq_scheme.  Do you know if SEQRES groups are
parsed by default when reading PDB files?  Perhaps the seAlignSeqRes()
should be a default behavior?

 Another relat

[2015-11-24 17:28] josemduarte commented on #353
`setAlignSeqRes()` is by default **false** for all parsers. That  means that by default SEQRES groups are not filled in `Chain`s. The issue is that `setAlignSeqRes()` does introduce some (minimal) overhead because it needs to align the 2 sequences. That's the reason why it is not set by default. Have a look at [TestLongPdbVsMmCifParsing#L509](https://github.com/biojava/biojava/blob/master/biojava-

[2015-11-24 17:55] josemduarte commented on #353
Regarding the `isHeaderOnly()` flag, I'm not sure what it is really doing right now. Does it actually save any parsing time?

For instance in the use case you present, I'm not convinced that one would really gain much in avoiding parsing of atom sites. After all (especially in the mmCIF case) the tokenizer/parser has to scan the whole file anyway (whether you keep headers only or store the whole t

[2015-11-25 00:30] josemduarte commented on #326
This is fixed, isn't it? I'll close it, please reopen if needed

[2015-11-25 00:30] #326 closed

[2015-11-27 02:49] #319 closed

[2015-11-30 23:52] darnells commented on #353
I coarsely estimate the overhead is 3-4%, which translates to an extra hour of parsing over the entire PDB (single thread, Intel Core i7-2600K @ 3.4 GHz x 4, 32 GB RAM, SSD drive).

Back-of-the-envelope estimation:

1. Bin the bottom 95% of the PDB (113,971 structures) by molecular weight into 10 KDa bins (10 to 250 KDa)
2. Calculate the weighted average using the central value of the interval (as

[2015-12-01 15:36] sbliven opened #354 "Hsp class is not typesafe"
The Hsp class and classes that use it (e.g. BlastXMLParserTest) give lots of 'Raw type' warnings. In this case these are not benign warnings, but flag a real possibility for some type errors. The problem is that we're trying to instantiate a sequence from a string without knowing what type of sequence that is. For instance, if you built an Hsp<ProteinSequence, AminoAcidCompound> with a string like

[2015-12-01 16:40] paolopavan commented on #354
Hi Spencer,
I guess you refer to the getSequence() method. The point is that this information comes from a text report so we have to infer somehow if we are in context of DNA or proteins. This can happen at HSP class level as in this implementation or in a different one, but will still be an inference. To make it more accurate in this specific case I could exploit some information in the blast rep

[2015-12-02 13:44] sbliven commented on #354
The issue is not that we have to guess what type of Sequence we have; that is unavoidable. The problem is that *the type guessed by getSequence() is not neccessarily the type of the Hsp returned*. Ideally the logic would go something like "if( T extends DNASequence && string looks like DNA) {new DNASequence(string)} else if( T extends RNASequence ...." However, due to type erasure there is no way

[2015-12-02 13:57] sbliven commented on #350
@lafita Where did you find the above jar link? Is it built from the current trunk (https://github.com/cmzmasek/forester), or is it an older jar? I'm unable to find any version numbers in the source code.

Also, if you want to write code against 1.038 before @josemduarte does the mavenization, you can do a local install like this:

mvn install:install-file -Dfile=forester_1038.jar -DpomFile=foreste

[2015-12-02 14:26] sbliven commented on #81
Update: I set this code aside too long ago, and they don't merge cleanly. I need to redo some parts of my old branch to make sure I don't overwrite any of the intervening development. I hope to have this done in a week or two, definitely for the next release.

[2015-12-02 14:45] lafita commented on #350
I got the jar from their GUI application website [Archaeopteryx](https://sites.google.com/site/cmzmasek/home/software/archaeopteryx). In the downloads section there is a download link for a jar, tagged as: **Jar file containing Archaeopteryx 0.9901 beta 2014-10-14 (based on forester 1.038)**.

I don't know if it is build from the github repo, since the repo does not have releases and the commits s

[2015-12-02 15:48] josemduarte commented on #350
@lafita you can already try forester out by cloning from my fork: https://github.com/josemduarte/forester. I've got forester mavenized in there. If you build it locally it should work. In the pom.xml I set 1.038 as the version, hoping that it is the same that he published, from the commit dates it looks like it can be. Could you check if it really contains the bug fix?

[2015-12-03 12:15] sbliven commented on #354
I took a stab at making our sequence model type safe and found myself spiraling into insanity. There are over 100 raw type or type safety warnings in core only. Fixing all of these is daunting.

[2015-12-03 18:54] josemduarte commented on #353
Great estimate, thanks for that! So as it seems there is some overhead that could be avoided with the headerOnly mode.

Only one point: we should reconsider all the different modes we have right now in `FileParsingParameters` and try not to repeat/overlap functionality between them. An explosion of the number of parsing modes is not desirable and very difficult to maintain. The list of modes relat

[2015-12-03 19:03] pwrose commented on #353
I agree that alignSeqRes should be the default.

Also, just FYI, all PDB sequences are available in a separate FASTA file at:

ftp://ftp.wwpdb.org/pub/pdb/derived_data/pdb_seqres.txt.gz

On Thu, Dec 3, 2015 at 10:54 AM, Jose Manuel Duarte <
notifications@github.com> wrote:

--
Peter Rose, Ph.D.
Site Head, RCSB Protein Data Bank West (http://www.rcsb.org)
San Diego Supercomputer Center (http://bioi

[2015-12-03 20:52] darnells commented on #353
@pwrose, thanks for sharing that link for everyone.

My motivation is to continually update a non-redundant protein sequence set of the PDB in the style of the [Dunbrack Lab](http://dunbrack.fccc.edu/Guoli/pisces_download.php#pdbaa), such that resolution and R-values are considered in the selection process. I could not find the R-values in the derived data tables from wwPDB. Rather than abuse the

[2015-12-05 00:37] #344 closed

[2015-12-05 00:52] andreasprlic commented on #349
Also, can this cookbook example get merged with the [Tutorial](https://github.com/biojava/biojava-tutorial/tree/master/genomics) ?

[2015-12-07 12:10] lafita commented on #350
I tried the tests with the version 1.038 jar (as @sbliven described) and they pass. I had some problems with maven in building your mavenized fork, @josemduarte. The part of the code that contained the bug is changed accordingly to the 1.038 version, but I will check with the tests to be sure.

[2015-12-07 22:17] andreasprlic commented on #353
So, ```alignSeqRes = true``` triggers several loops and calls to ```SeqRes2AtomAligner```, which recreates the mapping between SEQRES and ATOM records. NOT having to go through this will speed up parsing. By default the parser should use the information from ```_pdbx_poly_seq_scheme``` to rebuild this mapping and only call ```alignSeqRes()``` if this is a custom mmCIF file and the data missing.

[2015-12-08 09:36] sbliven commented on #353
@andreasprlic This sounds very safe to make default, if it's not already.

[2015-12-09 05:29] darnells commented on #353
There are eight combinations to support for the three current SeqRes related flags (headerOnly, storeEmptySeqRes, alignSeqRes). I started to try describing how each should behave, but quickly came to the conclusion that the current mechanism is too complicated.

Since SEQRES groups are expected for full internal support, I present this design for consideration. I attempted to combine suggestions f

[2015-12-09 16:46] josemduarte commented on #353
That looks like a great plan to me! +1 to dropping storeEmptySeqRes, +1 to alignSeqRes=true by default

[2015-12-10 14:16] sbliven commented on #353
+1

[2015-12-10 17:16] darnells commented on #353
We are willing to implement this design in conjunction with the other mmcif issues we opened (#341, #342, #343).

[2015-12-10 17:31] pwrose commented on #353
+1

On Thu, Dec 10, 2015 at 9:16 AM, darnells <notifications@github.com> wrote:

--
Peter Rose, Ph.D.
Site Head, RCSB Protein Data Bank West (http://www.rcsb.org)
San Diego Supercomputer Center (http://bioinformatics.sdsc.edu)
University of California, San Diego
+1-858-822-5497

[2015-12-10 23:56] andreasprlic commented on #353
ok great, thanks for volunteering! I have assigned the respective tickets to you.

[2015-12-15 14:03] paolopavan commented on #354
Hi Spencer, I hope to have managed the thing, I made some modifications to allow better type checking without changing the API: the sequence type now can be declared at parsing time specifying the class of the sequence using in the HSP builder. Also the mechanism of generics extended to the HSP guarantees **at API side** that the SequencePair obtained from getAlignment() method will be of the same

[2015-12-16 18:14] josemduarte opened #355 "org.biojava.nbio.genome.parsers.gff.Location union() and intersect() do not work as described in API"
From Christopher Gillies in biojava-l:

I am using version 4.1.0 and I am getting some unexpected behavior from the Location class.

Please see the unit test below. The union operator returns 51227381 as the bioEnd() but it should be 51227382.

[code]

The documentation for the intersection method says that it will return null when there is no overlap for two locations, but the code appears to fai

[2015-12-16 18:20] josemduarte commented on #355
I've added the test to branch https://github.com/josemduarte/biojava/tree/issue355. The first test does work, the second doesn't and I suspect it is a bug in the `intersection` method.

[2015-12-16 18:26] christopher-gillies commented on #355
Thanks Jose. You are correct. The first issue was my mistake.

[2015-12-16 20:36] josemduarte commented on #355
What happens is that `Location.fromBio` converts `start`, `end` coordinates to `start-1` and `end` (in case above it would be `l1=99,200`, `l2=0,99`). Based on that then there is an overlap on 99 for your test case above. Could that be the desired behaviour? I don't really know enough about this part of Biojava to judge.

[2015-12-16 21:16] christopher-gillies commented on #355
While it is possible that is the desired behavior, I do not think it is. However, I am new to biojava so I could be wrong. But I think this is not the correct behavior because of what the documentation says:

"Internally, location indices are stored in Java "half-open" format: the start is the (origin 0) index of the first symbol in the range; the end is the origin 0 index of the first symbol PAST

[2015-12-16 21:50] heuermh commented on #355
I also don't know much about the post-1.x biojava code here, but I do know getting this right is hard.  That is why I like to use

[2015-12-22 22:47] josemduarte commented on #341
So what about the inter-residue connections annotated in `_struct_conn` within the mmCIF file itself? I think we should also parse those and add them to the relevant bond data structures, shouldn't we?

[2015-12-23 04:43] larsonmattr commented on #341
For the issue 343 (ssbonds), the implementation that has been started parses _struct_conn limited to looking for disulfide bonds.  This task could more generally parse bond information of _struct_conn for the bond information stored within the mmCIF.

Generally, it appears that mmCIF files in the protein databank are absent the ligand bonds that PDB files contained leading to the approach using Ch

[2015-12-23 07:10] andreasprlic commented on #341
about the ligand bonds: these are available through the chemical component dictionary. It can be accessed in BioJava by using the AllChemCompProvider, or the DownloadChemCompProvider (depending on your use case).

[2015-12-30 14:07] larsonmattr commented on #353
Andreas,

 I am working with Steve on these issues -

 I would like to submit the pull request for issues 342 and 343 - could you
reassign those tickets to me?  We will finish the implementation for 341
and submit a pull request soon as well.

On Thu, Dec 10, 2015 at 5:56 PM, Andreas Prlic <notifications@github.com>
wrote:

--
Matt Larson, PhD
Madison, WI  53705 U.S.A.

[2015-12-30 21:26] andreasprlic commented on #353
Hi Matt,

You can submit pull requests also without being assigned to a ticket. This is really more to keep track who is working on which issue. GitHub will keep track of the changes to code and give due credit for the contributions also without ticket ownership.

[2016-01-05 00:25] larsonmattr opened #359 "mmCIF SimpleMMcifConsumer incorrectly replaces residue numberings."
The SimpleMMcifConsumer class currently replaces residue numbers for Group instances when it parses the _pdbx_poly_seq_scheme.

1. In multi-model structures, this replacement only searches through the previous 1..N-1 models, as the last current_model does not get added until documentEnd() is reached.  This will cause the models to have out-of-sync numberings.

2. With the example of the model PDB:

[2016-01-05 00:30] abradle opened #360 "Exception thrown when more than 2 beta bridges found while assigning secondary structure"
Hi,

I'm using the latest git version of Biojava (commit 4dadf22bfb38a7a9df13b051652935d064d83bf9) and I'm gettign an error on secondary structure prediction for pdb code 2K4T (amongst others). The error is the same and is shown below.

Any help would be gratefully received. Anthony

[code]

[2016-01-05 14:54] lafita commented on #360
Hi @abradle,

The **secondary structure prediction** is a new feature for the next **BioJava** release.  The purpose is to reproduce identically the assignment made by the original **DSSP** algorithm (implemented in C++). Note that we are still working on it.

The exception you are getting can be explained by the following:
- Only 2 beta Bridges can be assigned to a residue (by definition).
- Ther

[2016-01-05 18:35] darnells commented on #360
@lafita, why is this feature (and associated class) called "secondary structure **prediction**?" DSSP is a secondary structure **assignment** algorithm. Secondary structure is predicted when the atomic coordinates are not known.

[2016-01-05 18:46] josemduarte commented on #360
I think this should simply be a warning, I'd go with printing the warnings and ignoring the beta bridges for anything above 2. In any case it's worth checking that we match DSSP as close as possible, but I wouldn't be surprised if that's their approach too.

I also agree with @darnells that we should talk about __assignment__ and not __prediction__. In the context of bioinformatics, secondary stru

[2016-01-05 19:20] darnells commented on #360
Since this is still a not-yet-released feature, it is important to change the class name and public API (e.g. SecStrucPred to SecStrucAssign, predict() to assign()) before it is released. Javadoc should also be updated for completeness. Released APIs should remain as static as possible to minimize maintenance for users.

[2016-01-06 02:02] larsonmattr commented on #342
Implementation was merged closing this issue.

[2016-01-06 19:22] josemduarte commented on #359
Indeed 1) is clearly a bug. Regarding 2) it does sound like a reasonable approach in principle. However I don't fully understand what part of the code you refer to. I suppose it is the `replaceGroupSeqPos()` method? Could you point to the which part of the code you are referring to, or alternatively create a branch with a test demonstrating the issue for 2ksa?

[2016-01-06 21:01] larsonmattr commented on #359
Jose, thanks for looking in on this.

I've created a branch https://github.com/edlunde-dnastar/biojava/tree/mmcif-seqres that incorporates (1) the fix for the finding all chains in all models, and (2) disables the `replaceGroupSeqPos()` method that causes mis-numbering.  A unit test for 2KSA is in the TestDifficultMmCIFFiles.java.  The first listed residue ASP in chain A, should be residue 2.  Thi

[2016-01-06 22:53] josemduarte commented on #359
Great, thanks for the explanation and the test. To me both changes look good, it does seem like `replaceGroupSeqPos()` was not doing anything useful, perhaps it is some left-over from the past and it's not needed anymore.

If you can submit a pull request, that would be great.

[2016-01-06 23:14] larsonmattr commented on #359
Thanks Jose, I've submitted the PR for this.

[2016-01-07 11:50] lafita commented on #360
I completely agree with you @darnells, but the API was present in **BioJava** from previous releases. The feature was never used because the algorithm was not producing correct results (see issue #112), so the changes in this release have been inside the algorithm. If I am not mistaken, @andreasprlic created the API when porting the code from python, so he may have some justifications for the name

[2016-01-07 14:10] sbliven commented on #354
@paolopavan I think you're on the right track, although I would use a `Class<S> sequenceClass` rather than storing an instance (similar to your 3f88b19, but with the `<S>` to ensure type safety). I made my own SearchIO_branch to illustrate.

However, this has a problem. Although it is possible to create Hsp instance with custom sequence types, there is no way to actually use such a thing, since it